node-red/flows.json
[{"id":"4a8821853d4dd1ad","type":"tab","label":"Reading Timer","disabled":false,"info":"","env":[]},{"id":"e44b1e7a8ef7ae1d","type":"tab","label":"Time-based automations","disabled":false,"info":"","env":[]},{"id":"3abb5ae57afb4761","type":"tab","label":"Presence","disabled":false,"info":"","env":[]},{"id":"eff21041cc941fef","type":"tab","label":"Lighting - First Floor","disabled":false,"info":"","env":[]},{"id":"5e238cbbe6d612c9","type":"tab","label":"Lighting - Second Floor","disabled":false,"info":"","env":[]},{"id":"47f17992fab9b4f5","type":"tab","label":"Lighting - Basement","disabled":false,"info":"","env":[]},{"id":"b0286fae9f2ce547","type":"tab","label":"Media Scenes - Living Room","disabled":false,"info":"","env":[]},{"id":"5c4ac37140a54ac9","type":"tab","label":"Alexa","disabled":false,"info":"","env":[]},{"id":"75e98103856848a6","type":"tab","label":"Google Home","disabled":false,"info":"","env":[]},{"id":"ee67610b4a0578d2","type":"tab","label":"General Audio","disabled":false,"info":"","env":[]},{"id":"ebd5561c4f077718","type":"tab","label":"Weather","disabled":false,"info":"","env":[]},{"id":"789ba711dc04fad2","type":"tab","label":"Twitch","disabled":false,"info":"","env":[]},{"id":"ffa6a885ac41a5ed","type":"tab","label":"Server Stuff","disabled":false,"info":"","env":[]},{"id":"98dfbe2c88a56a8a","type":"tab","label":"Discord","disabled":false,"info":"","env":[]},{"id":"d49b385d8b582b20","type":"tab","label":"Test","disabled":false,"info":"","env":[]},{"id":"a42343e035e3313c","type":"subflow","name":"Alexa Location","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"1102574d15bdad4c"}]}],"out":[{"x":620,"y":80,"wires":[{"id":"afead614fabc01bb","port":0}]}],"env":[],"meta":{},"color":"#DDAA99","icon":"node-red-contrib-alexa-remote2-applestrudel/alexa-remote-icon.png"},{"id":"4107976aa434eb03","type":"subflow","name":"Weather Conversions","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"388878f6056fa3e4"}]}],"out":[{"x":500,"y":80,"wires":[{"id":"80ce4b42b82e3c78","port":0}]}],"env":[],"meta":{},"color":"#DDAA99","icon":"font-awesome/fa-cloud"},{"id":"6a62fbf7b4e86589","type":"subflow","name":"Text Notifications - All iOS","info":"","category":"","in":[{"x":120,"y":140,"wires":[{"id":"c2fbd42b35152df7"},{"id":"5cdbb1186b8c5137"},{"id":"5670c96aacfc9475"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99","icon":"font-awesome/fa-mobile-phone"},{"id":"041613a2b6a0f41f","type":"subflow","name":"TV Notifications","info":"","category":"","in":[{"x":40,"y":140,"wires":[{"id":"ac2a90cbc3a881cc"},{"id":"fa19b82b8077159f"},{"id":"d46d599e70e07c4d"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99","icon":"font-awesome/fa-tv"},{"id":"6429099c4571dd6b","type":"subflow","name":"Speech Engine","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"7fa8765ef1373ee0"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99","icon":"font-awesome/fa-comment"},{"id":"a062d9e6d44506dc","type":"subflow","name":"Hue Dynamic Scene Handler","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"cee2f20718ddb03a"}]}],"out":[{"x":720,"y":40,"wires":[{"id":"011c7df420cc7f1a","port":0}]}],"env":[],"meta":{},"color":"#DDAA99","icon":"node-red-contrib-huemagic/hue-group.svg"},{"id":"582b8363c9f33bf8","type":"subflow","name":"Scene Dropdown Cleanup","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"f1c11209a9226be9"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99","icon":"node-red/mouse.png"},{"id":"7cc13ada.b6712c","type":"subflow","name":"timerange","info":"Lets through or blocks a payload\nbased on a time range. This can\neither be configured through the\nenviroment variables in the node ui\nor as described below with a message\nthat has an override topic.\nIf in range the msg will be passed\nto the first output and otherwise\nto the second.\nThe start and stop time needs\nto be defined in an hh:mm format.\nThere is also a week array. The week\nstarts on monday so 4 for example is\nThursday. Payload will only be passed\non days that are in the array.\nOut of time range payloads will\nbe redirected to the second output.\nThe schedule can be overriden by injecting\na message with the topic of \"override\"\nthat contains a ```msg.payload``` object with the\nkeys of \"start\",\"stop\",\"days\" like\nthis:\n```\n{\n    \"start\": \"10:00\",\n    \"stop\": \"14:00\",\n    \"days\": [\n        1,\n        2,\n        3,\n        4,\n        5,\n        6,\n        7\n    ]\n}\n```\nStart and stop need to be strings in the hh:mm\nformat and days an array of numbers as\ndescribed above.\nThe override can be deleted by injecting a\nmsg.payload string \"reset\".","category":"","in":[{"x":100,"y":100,"wires":[{"id":"da7f7d3f.da5af"}]}],"out":[{"x":620,"y":60,"wires":[{"id":"694ce0e1.4bee58","port":0}]},{"x":630,"y":140,"wires":[{"id":"694ce0e1.4bee58","port":1}]}],"env":[{"name":"start","type":"str","value":"00:00","ui":{"icon":"font-awesome/fa-arrow-right","label":{"en-US":"from hh:mm"},"type":"input","opts":{"types":["str"]}}},{"name":"stop","type":"str","value":"00:00","ui":{"icon":"font-awesome/fa-circle","label":{"en-US":"until hh:mm"},"type":"input","opts":{"types":["str"]}}},{"name":"days","type":"json","value":"[1,2,3,4,5,6,7]","ui":{"icon":"font-awesome/fa-calendar","label":{"en-US":"days"},"type":"input","opts":{"types":["json"]}}}],"color":"#C7E9C0","inputLabels":["payload input"],"outputLabels":["in time range","out of time range"],"icon":"node-red/switch.svg","status":{"x":480,"y":200,"wires":[{"id":"1bc56c04.ca0a3c","port":0}]}},{"id":"a4ee891237e460a2","type":"subflow","name":"Main Scenes Handler","info":"","category":"","in":[{"x":60,"y":360,"wires":[{"id":"6362db9ef6632b4f"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99","icon":"node-red-contrib-huemagic/hue-scene.svg","status":{"x":1560,"y":500,"wires":[{"id":"6ae79d1701e78840","port":0},{"id":"defe84d113029e8e","port":0}]}},{"id":"74d3a55b70dc2d6c","type":"subflow","name":"Basement Scenes Handler","info":"","category":"","in":[{"x":60,"y":300,"wires":[{"id":"622b8178adf9d4a8"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99","icon":"node-red-contrib-huemagic/hue-scene.svg","status":{"x":1340,"y":440,"wires":[{"id":"5c8b0b6fa5c68af6","port":0}]}},{"id":"5b4bec2b2756f5b0","type":"group","z":"3abb5ae57afb4761","name":"Tina Schedule Management","style":{"label":true},"nodes":["b6493d53519c7fbb","1e5b0af9b8259908","76765e43cca7c38d","a29c84a4597c0224","53a22044cf5e8595","c3bf26a4dd525cf2","4590bf4676338bb7","298f2e516f7cec17","f7ffbbf40dc9c031","fbf61a9e5ca3db94","28cf8b6eac8ba699","9a62f22e3db3597f","c321d5d8597885fc"],"x":94,"y":799},{"id":"9e87348d.9c1c48","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":""},{"id":"fd29421fc00140a8","type":"mqtt-broker","name":"","broker":"192.168.1.26","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"edfeed50cef7e242","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Reading Timer Start","version":2,"haConfig":[{"property":"name","value":"Reading Timer Start"},{"property":"icon","value":"mdi:play"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"d7923c168b18954b","type":"transmission-config"},{"id":"137fe3f66779bb13","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Start YouTube in Living Room","version":2,"haConfig":[{"property":"name","value":"Start YouTube in Living Room"},{"property":"icon","value":"mdi:youtube"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"eaeb8fcb37fa8585","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Stop YouTube in Living Room","version":2,"haConfig":[{"property":"name","value":"Stop YouTube in Living Room"},{"property":"icon","value":"mdi:stop"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"c8312629c112d43a","type":"alexa-home-conf","username":"tm24fan8"},{"id":"be975ce229701797","type":"alexa-remote-account","name":"","authMethod":"proxy","proxyOwnIp":"192.168.1.26","proxyPort":"3456","cookieFile":"/config/node-red/alexa_auth","refreshInterval":"3","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","onKeywordInLanguage":"on","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"266a447bcb22dad6","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Start Twitch in Living Room","version":2,"haConfig":[{"property":"name","value":"Start Twitch in Living Room"},{"property":"icon","value":"mdi:twitch"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"73718265ac9a1389","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Stop Twitch in Living Room","version":2,"haConfig":[{"property":"name","value":"Stop Twitch in Living Room"},{"property":"icon","value":"mdi:stop"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"5d20015e8a70767a","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Start Plex in Living Room","version":2,"haConfig":[{"property":"name","value":"Start Plex in Living Room"},{"property":"icon","value":"mdi:plex"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"c1da63449b303e84","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Stop Plex in Living Room","version":2,"haConfig":[{"property":"name","value":"Stop Plex in Living Room"},{"property":"icon","value":"mdi:stop"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"eb813ad296813ab2","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Start Netflix in Living Room","version":2,"haConfig":[{"property":"name","value":"Start Netflix in Living Room"},{"property":"icon","value":"mdi:netflix"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"2a115fc593b081ac","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Stop Netflix in Living Room","version":2,"haConfig":[{"property":"name","value":"Stop Netflix in Living Room"},{"property":"icon","value":"mdi:stop"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"f14ef3df2209e9a7","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Send Alexa Message","version":2,"haConfig":[{"property":"name","value":"Send Alexa Message"},{"property":"icon","value":"mdi:bullhorn"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"1c6757ac2fa1a199","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Reset Alexa Message","version":2,"haConfig":[{"property":"name","value":"Reset Alexa Message"},{"property":"icon","value":"mdi:backspace-reverse"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"ad5b1d9f1ea8fea1","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Good Morning","version":2,"haConfig":[{"property":"name","value":"Good Morning"},{"property":"icon","value":"mdi:weather-sunset-up"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"a8da4d03a2922c42","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Weather Briefing","version":2,"haConfig":[{"property":"name","value":"Weather Briefing"},{"property":"icon","value":"mdi:weather-cloudy"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"30f1658baee9378e","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Goodnight","version":2,"haConfig":[{"property":"name","value":"Goodnight"},{"property":"icon","value":"mdi:weather-night"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"04976a7418728aa3","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Restart AppDaemon","version":2,"haConfig":[{"property":"name","value":"Restart AppDaemon"},{"property":"icon","value":"mdi:restart"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"457914a2c9dc72c1","type":"google-home-conf","username":"tm24fan8"},{"id":"fd929ec3bfbeef1a","type":"discord-token","name":"Nerd Overlord"},{"id":"8860321096392e94","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Weather Briefing Google","version":2,"haConfig":[{"property":"name","value":"Weather Briefing Google"},{"property":"icon","value":"mdi:weather-cloudy"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"359a4a5e8f156ab5","type":"hue-bridge","name":"House","bridge":"192.168.1.20","key":"JKYIb8bI-owElOdf1eaZYfG022BC8JktFiijKy1G","worker":"10","autoupdates":true,"disableupdates":false},{"id":"998d8d67ec377dd3","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Daily Briefing","version":2,"haConfig":[{"property":"name","value":"Daily Briefing"},{"property":"icon","value":"mdi:weather-sunset-up"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"9c84afc610ced7b6","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Daily Briefing Google","version":2,"haConfig":[{"property":"name","value":"Daily Briefing Google"},{"property":"icon","value":"mdi:weather-sunset-up"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"05e66e9e1092e6ea","type":"api-current-state","z":"a42343e035e3313c","name":"Where?","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.alexa_audio","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"where","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":80,"wires":[["afead614fabc01bb"]]},{"id":"afead614fabc01bb","type":"function","z":"a42343e035e3313c","name":"","func":"if (msg.where === \"Basement Echo Dot\") {\n    msg.where = \"G090XG0894470SK6\"\n} else if (msg.where === \"Living Room Echo Dot\") {\n    msg.where = \"G6G1EV08101206J4\"\n} else if (msg.where === \"Master Bedroom Echo Dot\") {\n    msg.where = \"G6G0XG1212820GD9\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":80,"wires":[[]]},{"id":"1102574d15bdad4c","type":"delay","z":"a42343e035e3313c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":180,"y":80,"wires":[["05e66e9e1092e6ea"]]},{"id":"388878f6056fa3e4","type":"function","z":"4107976aa434eb03","name":"Conversions","func":"msg.data.main.temp = ((msg.data.main.temp - 273.15) * 1.8) + 32\nmsg.data.main.feels_like = ((msg.data.main.feels_like - 273.15) * 1.8) + 32\nmsg.data.main.temp_min = ((msg.data.main.temp_min - 273.15) * 1.8) + 32\nmsg.data.main.temp_max = ((msg.data.main.temp_max - 273.15) * 1.8) + 32\nmsg.data.main.pressure = msg.data.main.pressure * 0.029529983071445\nmsg.data.wind.speed = msg.data.wind.speed * 2.237\nmsg.data.wind.gust = msg.data.wind.gust * 2.237\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":80,"wires":[["80ce4b42b82e3c78"]]},{"id":"80ce4b42b82e3c78","type":"function","z":"4107976aa434eb03","name":"Rounding","func":"var temp = msg.data.main.temp\nvar feels_like = msg.data.main.feels_like\nvar temp_min = msg.data.main.temp_min\nvar temp_max = msg.data.main.temp_max\nvar pressure = msg.data.main.pressure\nvar windspeed = msg.data.wind.speed\nvar windgust = msg.data.wind.gust\n\nmsg.data.main.temp = +temp.toFixed(1)\nmsg.data.main.feels_like = +feels_like.toFixed(1)\nmsg.data.main.temp_min = +temp_min.toFixed(1)\nmsg.data.main.temp_max = +temp_max.toFixed(1)\nmsg.data.main.pressure = +pressure.toFixed(2)\nmsg.data.wind.speed = +windspeed.toFixed(2)\nmsg.data.wind.gust = +windgust.toFixed(2)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":80,"wires":[[]]},{"id":"5cdbb1186b8c5137","type":"api-call-service","z":"6a62fbf7b4e86589","name":"Notify Tony","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_tony","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":270,"y":80,"wires":[[]]},{"id":"c2fbd42b35152df7","type":"api-call-service","z":"6a62fbf7b4e86589","name":"Notify Tina","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_tina","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":270,"y":140,"wires":[[]]},{"id":"5670c96aacfc9475","type":"api-call-service","z":"6a62fbf7b4e86589","name":"Notify Kallen","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_kallen","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":270,"y":200,"wires":[[]]},{"id":"ac2a90cbc3a881cc","type":"api-call-service","z":"041613a2b6a0f41f","name":"Notify Basement TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"basement_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"indigo\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":220,"y":80,"wires":[[]]},{"id":"fa19b82b8077159f","type":"api-call-service","z":"041613a2b6a0f41f","name":"Notify Living Room TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"living_room_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"indigo\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":220,"y":140,"wires":[[]]},{"id":"d46d599e70e07c4d","type":"api-call-service","z":"041613a2b6a0f41f","name":"Notify Master Bedroom TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"master_bedroom_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"indigo\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":240,"y":200,"wires":[[]]},{"id":"7fa8765ef1373ee0","type":"function","z":"6429099c4571dd6b","name":"Name Conversion","func":"if (msg.topic === \"Living Room\") {\n    msg.topic = \"living_room\"\n} else if (msg.topic === \"Living Room Echo Dot\") {\n    msg.topic = \"living_room\"\n} else if (msg.topic === \"Basement\") {\n    msg.topic = \"basement\"\n} else if (msg.topic === \"Basement Echo Dot\") {\n    msg.topic = \"basement\"\n} else if (msg.topic === \"Kallen Bedroom\") {\n    msg.topic = \"kallen_bedroom\"\n} else if (msg.topic === \"Kallen Bedroom Speaker\") {\n    msg.topic = \"kallen_bedroom\"\n} else if (msg.topic === \"Master Bedroom\") {\n    msg.topic = \"master_bedroom\"\n} else if (msg.topic === \"Master Bedroom Echo Dot\") {\n    msg.topic = \"master_bedroom\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":80,"wires":[["98bf66889d4287db"]]},{"id":"98bf66889d4287db","type":"api-call-service","z":"6429099c4571dd6b","name":"Speech Engine","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"speech_engine","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"who\": msg.topic,\t    \"message\": msg.payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":80,"wires":[[]]},{"id":"cee2f20718ddb03a","type":"function","z":"a062d9e6d44506dc","name":"Format","func":"const tpc = msg.topic\nconst pld = msg.payload\nvar dest = tpc.replaceAll(\"_\",\" \")\nvar scene = pld.replaceAll(\"_\",\" \")\n\nmsg.topic = dest\nmsg.payload = scene\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":40,"wires":[["78a60e2da212f6aa"]]},{"id":"78a60e2da212f6aa","type":"api-call-service","z":"a062d9e6d44506dc","name":"Hue Activate Scene","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"hue","service":"hue_activate_scene","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"group_name\": msg.topic,\t    \"scene_name\": msg.payload,\t    \"dynamic\": \"true\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":370,"y":40,"wires":[["011c7df420cc7f1a"]]},{"id":"011c7df420cc7f1a","type":"function","z":"a062d9e6d44506dc","name":"Notification","func":"const tpc = msg.topic\nvar dest = tpc.replaceAll(\" \",\"_\")\n\nscene = msg.payload\nmsg.dest = dest\n\nmsg.topic = \"Lights Changed\"\nmsg.payload = ('Lights changed to a new scene: ' + scene)\n\nif (msg.payload === 'Lights changed to a new scene: Reset') {\n    return null;\n} else {\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":40,"wires":[[]]},{"id":"0515d266dc983793","type":"api-call-service","z":"582b8363c9f33bf8","name":"Record Scene","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.{{topic}}_selected_scene"],"data":"{\t    \"value\": msg.payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":40,"wires":[["2fc6ea08f8f366b6"]]},{"id":"2fc6ea08f8f366b6","type":"api-call-service","z":"582b8363c9f33bf8","name":"Reset Dropdown","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_first","areaId":[],"deviceId":[],"entityId":["input_select.{{topic}}_scenes"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":40,"wires":[[]]},{"id":"f1c11209a9226be9","type":"function","z":"582b8363c9f33bf8","name":"","func":"const pld = msg.payload\nvar scene = pld.replaceAll(\"_\",\" \")\n\nmsg.payload = scene\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":40,"wires":[["0515d266dc983793"]]},{"id":"694ce0e1.4bee58","type":"function","z":"7cc13ada.b6712c","name":"is in range?","func":"const schedule = flow.get(\"schedule\");\nlet start = env.get(\"start\");\nlet stop = env.get(\"stop\");\nlet days = env.get(\"days\");\nif(schedule !== undefined){\n    start = schedule.start;\n    stop = schedule.stop;\n    days = schedule.days;\n}\nconst time = new Date();\nlet day = time.getDay();\nif(day === 0) day = 7;\nlet hour = String(time.getHours());\nlet minute = String(time.getMinutes());\nif(hour.length == 1) hour = \"0\" + hour;\nif(minute.length == 1) minute = \"0\" + minute;\nconst hmtime = hour + \":\" + minute;\nif(days.includes(day)){\n    if(start == stop){\n        return [msg, null];\n    } else if(start > stop){\n        if(hmtime >= start || hmtime < stop){\n            return [msg, null];\n        } else {\n            return [null, msg];\n        }\n    } else if(hmtime >= start && hmtime < stop){\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n} else {\n    return null;\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":100,"wires":[[],[]]},{"id":"94dc9c00.0f576","type":"inject","z":"7cc13ada.b6712c","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":200,"wires":[["1bc56c04.ca0a3c"]]},{"id":"1bc56c04.ca0a3c","type":"function","z":"7cc13ada.b6712c","name":"display rule","func":"const schedule = flow.get(\"schedule\");\nif(typeof schedule == \"object\"){\n    const start = schedule.start;\n    const stop = schedule.stop;\n    const days = String(schedule.days).replace(/1/g,\"Mo\").replace(/2/g,\"Tu\").replace(/3/g,\"We\").replace(/4/g,\"Th\").replace(/5/g,\"Fr\").replace(/6/g,\"Sa\").replace(/7/g,\"Su\");\n    msg.payload = \"override: \" + start + \"-\" + stop + \"/\" + days;\n} else {\n    const start = env.get(\"start\");\n    const stop = env.get(\"stop\");\n    const days = String(env.get(\"days\")).replace(/1/g,\"Mo\").replace(/2/g,\"Tu\").replace(/3/g,\"We\").replace(/4/g,\"Th\").replace(/5/g,\"Fr\").replace(/6/g,\"Sa\").replace(/7/g,\"Su\");\n    const override = false;\n    msg.payload = start + \"-\" + stop + \"/\" + days;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":200,"wires":[[]]},{"id":"da7f7d3f.da5af","type":"function","z":"7cc13ada.b6712c","name":"check for override","func":"if(msg.topic == \"override\"){\n    flow.set(\"schedule\",msg.payload);\n    return [null, msg];\n} else if (msg.payload == \"reset\"){\n    let reset;\n    flow.set(\"schedule\",reset);\n    return [null, msg];\n} else {\n    return [msg, null];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":100,"wires":[["694ce0e1.4bee58"],["1bc56c04.ca0a3c"]]},{"id":"942a915b6599fb27","type":"api-call-service","z":"a4ee891237e460a2","name":"Set Scene","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.{{topic}}_{{payload}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":440,"wires":[["6ae79d1701e78840"]]},{"id":"a89c7e8905a07998","type":"api-call-service","z":"a4ee891237e460a2","name":"Reset","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.{{topic}}_scenes"],"data":"{\t    \"option\":\"Adaptive\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":360,"wires":[[]]},{"id":"8c4d4fe614a52d4f","type":"api-call-service","z":"a4ee891237e460a2","name":"Apply Adaptive Lighting","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"adaptive_lighting","service":"apply","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":280,"wires":[["22250920efccf4d1"]]},{"id":"a4926fb1dba17563","type":"switch","z":"a4ee891237e460a2","name":"Nightlight?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Nightlight","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":440,"wires":[["c19b4dccc5d6a9af"],["f07ca0de800cbc8f"]]},{"id":"c19b4dccc5d6a9af","type":"api-call-service","z":"a4ee891237e460a2","name":"Nightlight On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":420,"wires":[["942a915b6599fb27"]]},{"id":"f07ca0de800cbc8f","type":"api-call-service","z":"a4ee891237e460a2","name":"Nightlight Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":480,"wires":[["942a915b6599fb27"]]},{"id":"3a4f567b17b2214e","type":"api-call-service","z":"a4ee891237e460a2","name":"Nightlight Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":280,"wires":[["f41c0229b9fdcea4"]]},{"id":"f41c0229b9fdcea4","type":"api-call-service","z":"a4ee891237e460a2","name":"Turn Lights On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.{{topic}}_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":280,"wires":[["970f719de254a1e7"]]},{"id":"970f719de254a1e7","type":"delay","z":"a4ee891237e460a2","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1310,"y":280,"wires":[["8c4d4fe614a52d4f"]]},{"id":"97400c5ff0842570","type":"api-call-service","z":"a4ee891237e460a2","name":"Adaptive Lighting On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":160,"wires":[[]]},{"id":"1c03c55909a9b552","type":"switch","z":"a4ee891237e460a2","name":"","property":"dest","propertyType":"msg","rules":[{"t":"eq","v":"living_room","vt":"str"},{"t":"eq","v":"master_bedroom","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1550,"y":440,"wires":[["60924f02885cc3c8"],["ccb129e61b136746"]]},{"id":"6ae79d1701e78840","type":"function","z":"a4ee891237e460a2","name":"Format","func":"const str = msg.payload\nvar scene = str.replaceAll(\"_\",\" \")\n\nmsg.dest = msg.topic\n\nmsg.topic = \"Lights Changed\"\nmsg.payload = ('Lights changed to a new scene: ' + scene)\n\nif (msg.payload === 'Lights changed to a new scene: Reset') {\n    return null;\n} else {\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":440,"wires":[["1c03c55909a9b552"]]},{"id":"dc0972a3964e6513","type":"api-call-service","z":"a4ee891237e460a2","name":"Adaptive Lighting Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":520,"wires":[[]]},{"id":"22250920efccf4d1","type":"link out","z":"a4ee891237e460a2","name":"Adaptive Lighting Flow","mode":"link","links":["a092a70d91589196"],"x":1695,"y":280,"wires":[]},{"id":"a092a70d91589196","type":"link in","z":"a4ee891237e460a2","name":"Scene Formatting","links":["22250920efccf4d1"],"x":1265,"y":380,"wires":[["6ae79d1701e78840"]]},{"id":"defe84d113029e8e","type":"subflow:a062d9e6d44506dc","z":"a4ee891237e460a2","name":"","x":1280,"y":340,"wires":[["1c03c55909a9b552"]]},{"id":"04f7db2902e58e41","type":"api-current-state","z":"a4ee891237e460a2","name":"Dynamic Scenes","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.{{topic}}_dynamic_scenes","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1010,"y":340,"wires":[["defe84d113029e8e"],["942a915b6599fb27"]]},{"id":"b14287e013bba748","type":"switch","z":"a4ee891237e460a2","name":"Dynamic Rooms","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"living_room","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":440,"wires":[["04f7db2902e58e41"],["a4926fb1dba17563"]]},{"id":"bd8c5a7b9e7b24b2","type":"switch","z":"a4ee891237e460a2","name":"Dynamic Rooms","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"living_room","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":280,"wires":[["72c0b7fda242bb67"],["3a4f567b17b2214e"]]},{"id":"72c0b7fda242bb67","type":"api-call-service","z":"a4ee891237e460a2","name":"Dynamic Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.{{topic}}_dynamic_scenes"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":220,"wires":[["3a4f567b17b2214e"]]},{"id":"a81fd188d89faa25","type":"subflow:582b8363c9f33bf8","z":"a4ee891237e460a2","name":"","x":570,"y":620,"wires":[]},{"id":"de5a484b79c5d0e4","type":"subflow:582b8363c9f33bf8","z":"a4ee891237e460a2","name":"","x":570,"y":80,"wires":[]},{"id":"23dafb85ab2671c9","type":"switch","z":"a4ee891237e460a2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Adaptive","vt":"str"},{"t":"eq","v":"Reset","vt":"str"},{"t":"eq","v":"Select","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":370,"y":360,"wires":[["bd8c5a7b9e7b24b2","de5a484b79c5d0e4","97400c5ff0842570"],["a89c7e8905a07998"],[],["b14287e013bba748","a81fd188d89faa25","dc0972a3964e6513"]]},{"id":"60924f02885cc3c8","type":"api-call-service","z":"a4ee891237e460a2","name":"Notify Living Room TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"living_room_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"red\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1760,"y":400,"wires":[[]]},{"id":"ccb129e61b136746","type":"api-call-service","z":"a4ee891237e460a2","name":"Notify Master Bedroom TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"master_bedroom_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"red\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1780,"y":480,"wires":[[]]},{"id":"6362db9ef6632b4f","type":"function","z":"a4ee891237e460a2","name":"Remove Spaces","func":"var str = msg.payload\nmsg.payload = str.replaceAll(\" \",\"_\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":360,"wires":[["23dafb85ab2671c9"]]},{"id":"1bb8f2070d805c99","type":"api-call-service","z":"74d3a55b70dc2d6c","name":"Set Scene","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.{{topic}}_{{payload}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":380,"wires":[["5c8b0b6fa5c68af6"]]},{"id":"edcb381597f48298","type":"api-call-service","z":"74d3a55b70dc2d6c","name":"Apply Adaptive Lighting","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"adaptive_lighting","service":"apply","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1190,"y":200,"wires":[["cdfe1cc1b7a2e80e"]]},{"id":"e6a15d04a48511a7","type":"switch","z":"74d3a55b70dc2d6c","name":"Nightlight?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Nightlight","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":380,"wires":[["2181bd265057807f"],["43dc3207a4e8d477"]]},{"id":"2181bd265057807f","type":"api-call-service","z":"74d3a55b70dc2d6c","name":"Nightlight On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":360,"wires":[["1bb8f2070d805c99"]]},{"id":"43dc3207a4e8d477","type":"api-call-service","z":"74d3a55b70dc2d6c","name":"Nightlight Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":420,"wires":[["1bb8f2070d805c99"]]},{"id":"39f295bc8480147a","type":"api-call-service","z":"74d3a55b70dc2d6c","name":"Turn Lights On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.{{topic}}_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":200,"wires":[["bd31f35628ebb5d0"]]},{"id":"bd31f35628ebb5d0","type":"delay","z":"74d3a55b70dc2d6c","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":970,"y":200,"wires":[["edcb381597f48298"]]},{"id":"5c8b0b6fa5c68af6","type":"function","z":"74d3a55b70dc2d6c","name":"Format","func":"const str = msg.payload\nvar scene = str.replaceAll(\"_\",\" \")\n\nmsg.dest = msg.topic\n\nmsg.topic = \"Lights Changed\"\nmsg.payload = ('Lights changed to a new scene: ' + scene)\n\nif (msg.payload === 'Lights changed to a new scene: Reset') {\n    return null;\n} else {\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":380,"wires":[["15484a2c724cc88d"]]},{"id":"16d9d3387751c4d4","type":"api-call-service","z":"74d3a55b70dc2d6c","name":"Adapt Brightness Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_adapt_brightness_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":480,"wires":[["422b394996ac094e"]]},{"id":"49ec3fb036ff367f","type":"api-call-service","z":"74d3a55b70dc2d6c","name":"Adapt Brightness On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_adapt_brightness_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":100,"wires":[["811cc7c782907fce"]]},{"id":"422b394996ac094e","type":"switch","z":"74d3a55b70dc2d6c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Purple","vt":"str"},{"t":"eq","v":"Pink","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":480,"wires":[["7a7ad5e937adcea4"],["7a7ad5e937adcea4"]]},{"id":"811cc7c782907fce","type":"api-call-service","z":"74d3a55b70dc2d6c","name":"Adaptive Lighting On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":100,"wires":[[]]},{"id":"7a7ad5e937adcea4","type":"api-call-service","z":"74d3a55b70dc2d6c","name":"Adaptive Lighting Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":480,"wires":[[]]},{"id":"cdfe1cc1b7a2e80e","type":"link out","z":"74d3a55b70dc2d6c","name":"Adaptive Lighting Flow","mode":"link","links":[],"x":1365,"y":200,"wires":[]},{"id":"318c3055f2d96a7c","type":"link in","z":"74d3a55b70dc2d6c","name":"Scene Formatting","links":[],"x":1045,"y":320,"wires":[["5c8b0b6fa5c68af6"]]},{"id":"6a5da3eff6ace96d","type":"subflow:582b8363c9f33bf8","z":"74d3a55b70dc2d6c","name":"","x":590,"y":560,"wires":[]},{"id":"464d7284c477d2f3","type":"subflow:582b8363c9f33bf8","z":"74d3a55b70dc2d6c","name":"","x":590,"y":20,"wires":[]},{"id":"4fb67560e7a11361","type":"switch","z":"74d3a55b70dc2d6c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Adaptive","vt":"str"},{"t":"eq","v":"Select","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":300,"wires":[["464d7284c477d2f3","49ec3fb036ff367f","6d40624de5c75c9d"],[],["6a5da3eff6ace96d","16d9d3387751c4d4","e6a15d04a48511a7"]]},{"id":"15484a2c724cc88d","type":"api-call-service","z":"74d3a55b70dc2d6c","name":"Notify Basement TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"basement_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"red\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1420,"y":380,"wires":[[]]},{"id":"622b8178adf9d4a8","type":"function","z":"74d3a55b70dc2d6c","name":"Remove Spaces","func":"var str = msg.payload\nmsg.payload = str.replaceAll(\" \",\"_\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":300,"wires":[["4fb67560e7a11361"]]},{"id":"6d40624de5c75c9d","type":"api-call-service","z":"74d3a55b70dc2d6c","name":"Nightlight Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":200,"wires":[["39f295bc8480147a"]]},{"id":"cc8645ebae721601","type":"api-current-state","z":"4a8821853d4dd1ad","name":"Read time slider","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.reading_duration","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":780,"y":160,"wires":[["b2d071ca42e4a3c6"]]},{"id":"b2d071ca42e4a3c6","type":"function","z":"4a8821853d4dd1ad","name":"Convert to seconds","func":"msg.payload = msg.payload * 60\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":160,"wires":[["7fc67fc156c0f4be"]]},{"id":"7fc67fc156c0f4be","type":"api-call-service","z":"4a8821853d4dd1ad","name":"Start Timer","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"timer","service":"start","areaId":[],"deviceId":[],"entityId":["timer.reading_timer"],"data":"{    \"duration\": {{payload}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1190,"y":160,"wires":[[]]},{"id":"f24aeb9c34914db9","type":"server-state-changed","z":"4a8821853d4dd1ad","name":"Pause Switch","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.reading_timer_pause","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":250,"y":320,"wires":[["afeb1d238a623c3d"],["34dcb204b421710d"]]},{"id":"afeb1d238a623c3d","type":"api-call-service","z":"4a8821853d4dd1ad","name":"","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"timer","service":"pause","areaId":[],"deviceId":[],"entityId":["timer.reading_timer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":280,"wires":[[]]},{"id":"34dcb204b421710d","type":"api-call-service","z":"4a8821853d4dd1ad","name":"","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"timer","service":"start","areaId":[],"deviceId":[],"entityId":["timer.reading_timer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":360,"wires":[[]]},{"id":"602437ba010cc43d","type":"api-current-state","z":"4a8821853d4dd1ad","name":"Get Room","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.reading_room","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"Reading timer completed, good job!","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":630,"y":460,"wires":[["50056b099a24a824"]]},{"id":"1dc210f02bbc891d","type":"switch","z":"4a8821853d4dd1ad","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"timer.reading_timer","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":460,"wires":[["602437ba010cc43d","a3e3dc438a7b95fc"]]},{"id":"014d305040d2a8bd","type":"server-events","z":"4a8821853d4dd1ad","name":"Timer Finished","server":"9e87348d.9c1c48","version":1,"event_type":"timer.finished","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"$outputData(\"eventData\").entity_id","valueType":"jsonata"}],"x":260,"y":460,"wires":[["1dc210f02bbc891d","fe1ba086baf93ec0"]]},{"id":"923538ef97772f0c","type":"api-call-service","z":"4a8821853d4dd1ad","name":"Notification","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_kallen","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\": msg.payload,\t   \"title\": msg.topic\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":600,"wires":[[]]},{"id":"a3e3dc438a7b95fc","type":"change","z":"4a8821853d4dd1ad","name":"Finished Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"You are done reading for today!","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Reading Timer Complete","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":600,"wires":[["923538ef97772f0c"]]},{"id":"797d3e7cc53d773f","type":"ha-button","z":"4a8821853d4dd1ad","name":"Start Button","version":0,"debugenabled":false,"outputs":1,"entityConfig":"edfeed50cef7e242","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":250,"y":160,"wires":[["cb399b9e54bcf0f0"]]},{"id":"fe1ba086baf93ec0","type":"api-call-service","z":"4a8821853d4dd1ad","name":"Reset Slider","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.reading_duration"],"data":"{\t    \"value\":30\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":540,"wires":[[]]},{"id":"cb399b9e54bcf0f0","type":"api-current-state","z":"4a8821853d4dd1ad","name":"Get Room","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.reading_room","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":160,"wires":[["600f4c2dcc3e0c51"]]},{"id":"4d4e55cea59da9ad","type":"api-call-service","z":"4a8821853d4dd1ad","name":"Basement Lights Scene","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.basement_studio_scenes"],"data":"{\t    \"option\":\"Kallen Reading\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":100,"wires":[[]]},{"id":"600f4c2dcc3e0c51","type":"switch","z":"4a8821853d4dd1ad","name":"Routing","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Basement","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":160,"wires":[["cc8645ebae721601","4d4e55cea59da9ad"],["cc8645ebae721601"]]},{"id":"50056b099a24a824","type":"subflow:6429099c4571dd6b","z":"4a8821853d4dd1ad","name":"","x":820,"y":460,"wires":[]},{"id":"fd4bbf481e16e6ea","type":"sunrise","z":"e44b1e7a8ef7ae1d","name":"","lat":"41.286720","lon":"-84.362106","start":"sunriseEnd","end":"sunsetStart","soff":0,"eoff":"-60","x":130,"y":180,"wires":[[],["0371f41c342134a0"]]},{"id":"0371f41c342134a0","type":"switch","z":"e44b1e7a8ef7ae1d","name":"Day or night","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":180,"wires":[["976f9624c919c07a","323b5cf9639ca111","7dc658bfbacde818"],["d394df04f71de37a","4781b749d186cd7f"]]},{"id":"663856ad61059510","type":"api-current-state","z":"e44b1e7a8ef7ae1d","name":"Weather check","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"weather.iron_nerd_weather_station","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":760,"y":140,"wires":[["8808e39fba362206"]]},{"id":"e9aba9f5312297b7","type":"api-call-service","z":"e44b1e7a8ef7ae1d","name":"Turn lights on","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":["living_room","mud_room"],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1880,"y":180,"wires":[["7e26d76790c3690d","4809adc3b17655bc"]]},{"id":"8808e39fba362206","type":"switch","z":"e44b1e7a8ef7ae1d","name":"Is it nice out?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunny","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":140,"wires":[["f88f5b6e48e5a430"],["8a5b225968323ce6"]]},{"id":"1e365f7e5ba78955","type":"api-call-service","z":"e44b1e7a8ef7ae1d","name":"Turn off night lighting","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":["front_porch","upstairs_bathroom","upstairs_hallway"],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":240,"wires":[["8556daf4bc9df581"]]},{"id":"8556daf4bc9df581","type":"delay","z":"e44b1e7a8ef7ae1d","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":980,"y":240,"wires":[["40a4142a0f72b94a","5ee1e29d42eb0b88","7b9e480fbcf14b44"]]},{"id":"40a4142a0f72b94a","type":"api-call-service","z":"e44b1e7a8ef7ae1d","name":"Night mode off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_basement_studio","switch.adaptive_lighting_sleep_mode_dining_room","switch.adaptive_lighting_sleep_mode_downstairs_bathroom","switch.adaptive_lighting_sleep_mode_kallen_bedroom","switch.adaptive_lighting_sleep_mode_living_room","switch.adaptive_lighting_sleep_mode_master_bedroom","switch.adaptive_lighting_sleep_mode_mud_room","switch.adaptive_lighting_sleep_mode_nursery","switch.adaptive_lighting_sleep_mode_tina_lamp","switch.adaptive_lighting_sleep_mode_upstairs_bathroom","switch.adaptive_lighting_sleep_mode_upstairs_hallway"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":240,"wires":[[]]},{"id":"f88f5b6e48e5a430","type":"delay","z":"e44b1e7a8ef7ae1d","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1190,"y":80,"wires":[["4fcc6c68cec50467"]]},{"id":"990ab49071133125","type":"change","z":"e44b1e7a8ef7ae1d","name":"Clear Weather Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lights on after delay due to clear weather","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Sunset Lights ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":60,"wires":[["e9aba9f5312297b7"]]},{"id":"60d401148ecff1ef","type":"change","z":"e44b1e7a8ef7ae1d","name":"Cloudy Weather Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lights on early due to cloudy weather","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Sunset Lights ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":180,"wires":[["e9aba9f5312297b7"]]},{"id":"976f9624c919c07a","type":"api-current-state","z":"e44b1e7a8ef7ae1d","name":"Interior Toggle","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.sunset_lights_on","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":140,"wires":[["663856ad61059510"],["907ad93232629cb5"]]},{"id":"d394df04f71de37a","type":"api-current-state","z":"e44b1e7a8ef7ae1d","name":"Interior Toggle","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.sunset_lights_on","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":240,"wires":[["1e365f7e5ba78955"],[]]},{"id":"4fcc6c68cec50467","type":"api-current-state","z":"e44b1e7a8ef7ae1d","name":"Is Family Home?","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1370,"y":80,"wires":[["990ab49071133125"],["411c0ddd868c6e9d"]]},{"id":"8a5b225968323ce6","type":"api-current-state","z":"e44b1e7a8ef7ae1d","name":"Is Family Home?","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1370,"y":180,"wires":[["60d401148ecff1ef"],["77c69154733e7366"]]},{"id":"411c0ddd868c6e9d","type":"change","z":"e44b1e7a8ef7ae1d","name":"Skipped Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lights not on due to nobody home, or toggle shutoff","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Sunset Lights SKIPPED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1870,"y":120,"wires":[["7e26d76790c3690d","4809adc3b17655bc"]]},{"id":"7e26d76790c3690d","type":"subflow:6a62fbf7b4e86589","z":"e44b1e7a8ef7ae1d","name":"","x":2150,"y":120,"wires":[]},{"id":"4809adc3b17655bc","type":"subflow:041613a2b6a0f41f","z":"e44b1e7a8ef7ae1d","name":"","x":2140,"y":180,"wires":[]},{"id":"5ee1e29d42eb0b88","type":"api-call-service","z":"e44b1e7a8ef7ae1d","name":"Adaptive Lighting On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_basement_studio","switch.adaptive_lighting_dining_room","switch.adaptive_lighting_downstairs_bathroom","switch.adaptive_lighting_kallen_bedroom","switch.adaptive_lighting_living_room","switch.adaptive_lighting_master_bedroom","switch.adaptive_lighting_mud_room","switch.adaptive_lighting_nursery","switch.adaptive_lighting_tina_lamp","switch.adaptive_lighting_upstairs_bathroom","switch.adaptive_lighting_upstairs_hallway"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":300,"wires":[[]]},{"id":"323b5cf9639ca111","type":"api-current-state","z":"e44b1e7a8ef7ae1d","name":"Front Porch Toggle","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.front_porch_light_on","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":20,"wires":[["f8a4ef6134b9ace3"],[]]},{"id":"1e5d513580b02833","type":"api-call-service","z":"e44b1e7a8ef7ae1d","name":"Front Porch Light On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.front_porch_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":20,"wires":[[]]},{"id":"f8a4ef6134b9ace3","type":"delay","z":"e44b1e7a8ef7ae1d","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":770,"y":20,"wires":[["1e5d513580b02833"]]},{"id":"907ad93232629cb5","type":"link out","z":"e44b1e7a8ef7ae1d","name":"Night Interior Toggle Off","mode":"link","links":["b37f91bf63e79996"],"x":695,"y":200,"wires":[]},{"id":"b37f91bf63e79996","type":"link in","z":"e44b1e7a8ef7ae1d","name":"Skip Formatting","links":["77c69154733e7366","907ad93232629cb5"],"x":1625,"y":120,"wires":[["411c0ddd868c6e9d"]]},{"id":"77c69154733e7366","type":"link out","z":"e44b1e7a8ef7ae1d","name":"FamCheck Cloudy Weather","mode":"link","links":["b37f91bf63e79996"],"x":1515,"y":240,"wires":[]},{"id":"4781b749d186cd7f","type":"api-call-service","z":"e44b1e7a8ef7ae1d","name":"Night Mode Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.night_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":300,"wires":[["9335700303031f7c"]]},{"id":"9335700303031f7c","type":"api-call-service","z":"e44b1e7a8ef7ae1d","name":"Early Night Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.early_night_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":300,"wires":[[]]},{"id":"7b9e480fbcf14b44","type":"api-call-service","z":"e44b1e7a8ef7ae1d","name":"Reset Scene Text","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.basement_studio_selected_scene","input_text.downstairs_bathroom_selected_scene","input_text.kallen_bedroom_selected_scene","input_text.living_room_selected_scene","input_text.master_bedroom_selected_scene","input_text.mud_room_selected_scene","input_text.nursery_selected_scene","input_text.tina_lamp_selected_scene","input_text.upstairs_bathroom_selected_scene","input_text.upstairs_hallway_selected_scene"],"data":"{\t    \"value\":\"Adaptive\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1190,"y":360,"wires":[[]]},{"id":"7dc658bfbacde818","type":"api-call-service","z":"e44b1e7a8ef7ae1d","name":"Early Night Mode","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.early_night_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":80,"wires":[[]]},{"id":"134433d6e21dab5b","type":"server-state-changed","z":"3abb5ae57afb4761","name":"Tony Presence","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.tony_home","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"True","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":120,"wires":[["77857e77d43a9d2e","7169f007c32ccc46","e6bdfba61c73d081"],["379edcf9fe985ebe"]]},{"id":"77857e77d43a9d2e","type":"api-call-service","z":"3abb5ae57afb4761","name":"Enable Texts (Tony)","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.text_notify_tony"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":100,"wires":[[]]},{"id":"379edcf9fe985ebe","type":"api-call-service","z":"3abb5ae57afb4761","name":"Disable Texts (Tony)","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.text_notify_tony"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":280,"wires":[[]]},{"id":"49dbd6d6cba1b010","type":"server-state-changed","z":"3abb5ae57afb4761","name":"Tina Presence","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.tina_home","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"True","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":420,"wires":[["a0c7649e26e66ddb","35d7371023527600","edaa6ff605ba6fa7","abdb3c9694b18a39"],["898659d514aa58fd"]]},{"id":"a0c7649e26e66ddb","type":"api-call-service","z":"3abb5ae57afb4761","name":"Enable Texts (Tina)","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.text_notify_tina"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":400,"wires":[[]]},{"id":"898659d514aa58fd","type":"api-call-service","z":"3abb5ae57afb4761","name":"Disable Texts (Tina)","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.text_notify_tina"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":580,"wires":[[]]},{"id":"cd4d8dd6b1d34f49","type":"server-state-changed","z":"3abb5ae57afb4761","name":"Kallen Presence","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.kallen_stork","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":680,"wires":[["5193627a30d1b32d"],["fb1afc4c2078ca29"]]},{"id":"5193627a30d1b32d","type":"api-call-service","z":"3abb5ae57afb4761","name":"Enable Texts (Kallen)","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.text_notify_kallen"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":660,"wires":[[]]},{"id":"fb1afc4c2078ca29","type":"api-call-service","z":"3abb5ae57afb4761","name":"Disable Texts (Kallen)","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.text_notify_kallen"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":720,"wires":[[]]},{"id":"35d7371023527600","type":"api-call-service","z":"3abb5ae57afb4761","name":"Notify Tony","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_tony","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": \"New Arrival\",\t    \"message\": \"Christina has arrived at home!\",\t    \"data\": {\t        \"url\": \"/lovelace/mobile-devices\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":520,"wires":[["bcdf2e5f1249631d"]]},{"id":"9ae7e308f889137d","type":"wake on lan","z":"3abb5ae57afb4761","mac":"B4:2E:99:A8:CF:88","host":"192.168.1.255","udpport":9,"numpackets":3,"interval":100,"name":"Boot Tina's Computer","x":1120,"y":340,"wires":[]},{"id":"edaa6ff605ba6fa7","type":"change","z":"3abb5ae57afb4761","name":"Formatting","rules":[{"t":"set","p":"payload","pt":"msg","to":"Christina has arrived at home!","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"New Arrival!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":460,"wires":[["8c14794c1a67f8c8"]]},{"id":"8c14794c1a67f8c8","type":"subflow:041613a2b6a0f41f","z":"3abb5ae57afb4761","name":"","x":600,"y":460,"wires":[]},{"id":"e6bdfba61c73d081","type":"api-call-service","z":"3abb5ae57afb4761","name":"Notify Tina","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_tina","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": \"New Arrival\",\t    \"message\": \"Tony has arrived at home!\",\t    \"data\": {\t        \"url\": \"/lovelace/mobile-devices\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":220,"wires":[["41aa4436b55474b2"]]},{"id":"7169f007c32ccc46","type":"change","z":"3abb5ae57afb4761","name":"Formatting","rules":[{"t":"set","p":"payload","pt":"msg","to":"Tony has arrived at home!","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"New Arrival!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":160,"wires":[["cfe98915cc1dba48"]]},{"id":"cfe98915cc1dba48","type":"subflow:041613a2b6a0f41f","z":"3abb5ae57afb4761","name":"","x":600,"y":160,"wires":[]},{"id":"41aa4436b55474b2","type":"api-call-service","z":"3abb5ae57afb4761","name":"Notify Kallen","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_kallen","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": \"New Arrival\",\t    \"message\": \"Tony has arrived at home!\",\t    \"data\": {\t        \"url\": \"/lovelace/mobile-devices\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":200,"wires":[[]]},{"id":"bcdf2e5f1249631d","type":"api-call-service","z":"3abb5ae57afb4761","name":"Notify Kallen","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_kallen","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": \"New Arrival\",\t    \"message\": \"Christina has arrived at home!\",\t    \"data\": {\t        \"url\": \"/lovelace/mobile-devices\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":500,"wires":[[]]},{"id":"b6493d53519c7fbb","type":"server-state-changed","z":"3abb5ae57afb4761","g":"5b4bec2b2756f5b0","name":"Work Today","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.work_today","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":190,"y":940,"wires":[["1e5b0af9b8259908"]]},{"id":"1e5b0af9b8259908","type":"switch","z":"3abb5ae57afb4761","g":"5b4bec2b2756f5b0","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":940,"wires":[["76765e43cca7c38d"]]},{"id":"76765e43cca7c38d","type":"function","z":"3abb5ae57afb4761","g":"5b4bec2b2756f5b0","name":"Store to Variable","func":"global.set('tinawork',msg.payload);\n\nreturn msg;","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":940,"wires":[]},{"id":"a29c84a4597c0224","type":"inject","z":"3abb5ae57afb4761","g":"5b4bec2b2756f5b0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"00 01 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":190,"y":1060,"wires":[["53a22044cf5e8595"]]},{"id":"53a22044cf5e8595","type":"function","z":"3abb5ae57afb4761","g":"5b4bec2b2756f5b0","name":"Store to Variable","func":"global.set('tinawork',msg.payload);\n\nreturn msg;","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1060,"wires":[]},{"id":"abdb3c9694b18a39","type":"function","z":"3abb5ae57afb4761","name":"Get Variable - Tinawork","func":"var tinawork = global.get('tinawork')\n\nif (tinawork === \"on\") {\n    msg.payload = \"on\"\n} else if (tinawork === \"off\") {\n    msg.payload = \"off\"\n} else {\n    msg.payload = \"unknown\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":340,"wires":[["7ff36affdeacadba"]]},{"id":"7ff36affdeacadba","type":"switch","z":"3abb5ae57afb4761","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"unknown","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":650,"y":340,"wires":[["f167c4463ecaaf5c"],[],["7992545819db1a42"]]},{"id":"7992545819db1a42","type":"api-call-service","z":"3abb5ae57afb4761","name":"Notify Tony","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_tony","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": \"Hey Dummy\",\t    \"message\": \"Your presence flow is a failure and you should be ashamed.\",\t    \"data\": {\t        \"url\": \"/lovelace/mobile-devices\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":400,"wires":[[]]},{"id":"f167c4463ecaaf5c","type":"subflow:7cc13ada.b6712c","z":"3abb5ae57afb4761","name":"","env":[{"name":"start","value":"15:00","type":"str"},{"name":"stop","value":"17:00","type":"str"}],"x":860,"y":340,"wires":[["fb6be0753e2dbaed","9ae7e308f889137d"],[]]},{"id":"c3bf26a4dd525cf2","type":"api-render-template","z":"3abb5ae57afb4761","g":"5b4bec2b2756f5b0","name":"Offset Before","server":"9e87348d.9c1c48","version":0,"template":"{{ (state_attr('input_datetime.tina_workday_end', 'timestamp') - 3600) | timestamp_custom('%H:%M', false) }}","resultsLocation":"start","resultsLocationType":"msg","templateLocation":"","templateLocationType":"none","x":470,"y":840,"wires":[["4590bf4676338bb7"]]},{"id":"fb6be0753e2dbaed","type":"debug","z":"3abb5ae57afb4761","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":260,"wires":[]},{"id":"4590bf4676338bb7","type":"api-render-template","z":"3abb5ae57afb4761","g":"5b4bec2b2756f5b0","name":"Offset Before","server":"9e87348d.9c1c48","version":0,"template":"{{ (state_attr('input_datetime.tina_workday_end', 'timestamp') + 5400) | timestamp_custom('%H:%M', false) }}","resultsLocation":"stop","resultsLocationType":"msg","templateLocation":"","templateLocationType":"none","x":650,"y":840,"wires":[["f7ffbbf40dc9c031"]]},{"id":"298f2e516f7cec17","type":"inject","z":"3abb5ae57afb4761","g":"5b4bec2b2756f5b0","name":"Set Schedule","props":[{"p":"payload"}],"repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":220,"y":840,"wires":[["c3bf26a4dd525cf2"]]},{"id":"f7ffbbf40dc9c031","type":"function","z":"3abb5ae57afb4761","g":"5b4bec2b2756f5b0","name":"","func":"msg.payload = {\n    \"start\": msg.start,\n    \"stop\": msg.stop,\n    \"days\": [\n        1,\n        2,\n        3,\n        4,\n        5,\n        6,\n        7\n    ]\n}\nmsg.topic = \"override\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":840,"wires":[["fbf61a9e5ca3db94"]]},{"id":"fbf61a9e5ca3db94","type":"link out","z":"3abb5ae57afb4761","g":"5b4bec2b2756f5b0","name":"Schedule Settings - Send","mode":"link","links":["76f6b8bed6de3f97"],"x":935,"y":840,"wires":[]},{"id":"76f6b8bed6de3f97","type":"link in","z":"3abb5ae57afb4761","name":"Schedule Settings - Receive","links":["fbf61a9e5ca3db94"],"x":685,"y":280,"wires":[["f167c4463ecaaf5c"]]},{"id":"28cf8b6eac8ba699","type":"inject","z":"3abb5ae57afb4761","g":"5b4bec2b2756f5b0","name":"Set Workday on Reboot","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":250,"y":1000,"wires":[["9a62f22e3db3597f"]]},{"id":"9a62f22e3db3597f","type":"api-current-state","z":"3abb5ae57afb4761","g":"5b4bec2b2756f5b0","name":"Work Today","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.work_today","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":1000,"wires":[["1e5b0af9b8259908"]]},{"id":"c321d5d8597885fc","type":"inject","z":"3abb5ae57afb4761","g":"5b4bec2b2756f5b0","name":"Set Schedule on Reboot","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":250,"y":880,"wires":[["c3bf26a4dd525cf2"]]},{"id":"d95d9964546768a5","type":"server-state-changed","z":"eff21041cc941fef","name":"Downstairs Bathroom Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.downstairs_bathroom_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"downstairs_bathroom","valueType":"str"}],"x":140,"y":40,"wires":[["d790134891fedfcc"]]},{"id":"bdab41af28f2c7cd","type":"server-state-changed","z":"eff21041cc941fef","name":"Living Room Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.living_room_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"living_room","valueType":"str"}],"x":110,"y":100,"wires":[["d790134891fedfcc"]]},{"id":"7c224927d50a5f97","type":"server-state-changed","z":"eff21041cc941fef","name":"Mud Room Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.mud_room_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"mud_room","valueType":"str"}],"x":110,"y":160,"wires":[["d790134891fedfcc"]]},{"id":"f066d04f1ecfa17a","type":"server-state-changed","z":"eff21041cc941fef","name":"Front Porch Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.front_porch_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"front_porch","valueType":"str"}],"x":110,"y":280,"wires":[["d790134891fedfcc"]]},{"id":"e689231430e9c829","type":"server-state-changed","z":"eff21041cc941fef","name":"Tina Lamp Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.tina_lamp_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"tina_lamp","valueType":"str"}],"x":110,"y":220,"wires":[["d790134891fedfcc"]]},{"id":"1f9d72079343bf75","type":"server-state-changed","z":"eff21041cc941fef","name":"Light turned on","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.downstairs_bathroom_lights","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":400,"wires":[["dfac5d681cf62083"],[]]},{"id":"6755b1d81f7356ad","type":"change","z":"eff21041cc941fef","name":"Stop Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":460,"wires":[["dfac5d681cf62083"]]},{"id":"dfac5d681cf62083","type":"stoptimer","z":"eff21041cc941fef","duration":"60","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":500,"y":400,"wires":[["5123a607588fa737"],[]]},{"id":"5123a607588fa737","type":"api-call-service","z":"eff21041cc941fef","name":"Turn off light","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.downstairs_bathroom_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":690,"y":400,"wires":[[]]},{"id":"893e87b0e366077b","type":"server-state-changed","z":"eff21041cc941fef","name":"Light turned off","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.downstairs_bathroom_lights","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":460,"wires":[["6755b1d81f7356ad"],[]]},{"id":"604ebdb19002182c","type":"comment","z":"eff21041cc941fef","name":"Downstairs Bathroom","info":"","x":300,"y":400,"wires":[]},{"id":"d790134891fedfcc","type":"subflow:a4ee891237e460a2","z":"eff21041cc941fef","name":"Main Scenes Handler","x":580,"y":40,"wires":[]},{"id":"b4751d926780b644","type":"server-state-changed","z":"eff21041cc941fef","name":"Dining Room Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.dining_room_lamp_modes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"dining_room","valueType":"str"}],"x":120,"y":340,"wires":[["d790134891fedfcc"]]},{"id":"05547a934bbcab4d","type":"server-state-changed","z":"eff21041cc941fef","name":"Motion Detected","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_doorbell_motion_mqtt","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":520,"wires":[["edef3ad58f6e9bbd"],[]],"outputLabels":["On","Off"]},{"id":"091390f43bfeddf5","type":"api-call-service","z":"eff21041cc941fef","name":"Turn on light","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.front_porch_light"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":730,"y":520,"wires":[["26bda03370a86d83"]]},{"id":"26bda03370a86d83","type":"stoptimer","z":"eff21041cc941fef","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"Wait 10 Minutes","x":920,"y":520,"wires":[["f65b2eccda530bcd"],[]]},{"id":"f65b2eccda530bcd","type":"api-current-state","z":"eff21041cc941fef","name":"Motion Detected?","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.upstairs_bathroom_motion","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":170,"y":620,"wires":[["1bf27a631436c914"],["51237623ed73ba98"]]},{"id":"1bf27a631436c914","type":"stoptimer","z":"eff21041cc941fef","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"Wait 30 Seconds","x":550,"y":580,"wires":[["f65b2eccda530bcd"],[]]},{"id":"7a7229eb69c9b1a3","type":"api-call-service","z":"eff21041cc941fef","name":"Turn off light","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.front_porch_light"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":610,"y":640,"wires":[[]]},{"id":"edef3ad58f6e9bbd","type":"api-current-state","z":"eff21041cc941fef","name":"Early Night Mode","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.early_night_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":520,"wires":[["780ad4c1a1d5204b"],[]]},{"id":"780ad4c1a1d5204b","type":"api-current-state","z":"eff21041cc941fef","name":"Front Porch Toggle","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.front_porch_light_on","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":520,"wires":[["091390f43bfeddf5"],[]]},{"id":"51237623ed73ba98","type":"api-current-state","z":"eff21041cc941fef","name":"Front Porch Toggle","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.front_porch_light_on","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":390,"y":640,"wires":[["7a7229eb69c9b1a3"],[]]},{"id":"879ee8903841b8f0","type":"server-state-changed","z":"5e238cbbe6d612c9","name":"Upstairs Hallway Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.upstairs_hallway_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"upstairs_hallway","valueType":"str"}],"x":150,"y":280,"wires":[["a17d58585048335d"]]},{"id":"bc2426cfcd5afbe8","type":"server-state-changed","z":"5e238cbbe6d612c9","name":"Upstairs Bathroom Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.upstairs_bathroom_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"upstairs_bathroom","valueType":"str"}],"x":150,"y":40,"wires":[["a17d58585048335d"]]},{"id":"a5498446c1edffa9","type":"server-state-changed","z":"5e238cbbe6d612c9","name":"Kallen Bedroom Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.kallen_bedroom_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"kallen_bedroom","valueType":"str"}],"x":140,"y":100,"wires":[["a17d58585048335d"]]},{"id":"f28e7fd88f75041e","type":"server-state-changed","z":"5e238cbbe6d612c9","name":"Nursery Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.nursery_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"nursery","valueType":"str"}],"x":120,"y":160,"wires":[["a17d58585048335d"]]},{"id":"e1123236ee16fdaf","type":"server-state-changed","z":"5e238cbbe6d612c9","name":"Master Bedroom Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.master_bedroom_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"master_bedroom","valueType":"str"}],"x":150,"y":220,"wires":[["a17d58585048335d"]]},{"id":"a1ee07ab20229b45","type":"server-state-changed","z":"5e238cbbe6d612c9","name":"Motion Detected","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.upstairs_bathroom_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":340,"wires":[["ea8536fc853a8af4"],[]],"outputLabels":["On","Off"]},{"id":"7e89e4d34a758087","type":"api-call-service","z":"5e238cbbe6d612c9","name":"Turn on light","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.upstairs_bathroom_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":810,"y":380,"wires":[["be2ef3afc92034ec"]]},{"id":"be2ef3afc92034ec","type":"stoptimer","z":"5e238cbbe6d612c9","duration":"3","units":"Minute","payloadtype":"num","payloadval":"0","name":"Wait 3 Minutes","x":1060,"y":360,"wires":[["23c3c8fe409e3f94"],[]]},{"id":"23c3c8fe409e3f94","type":"api-current-state","z":"5e238cbbe6d612c9","name":"Motion Detected?","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.upstairs_bathroom_motion","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":210,"y":580,"wires":[["47fcb13395bcf3f0"],["e19f97e448023ade"]]},{"id":"74c0ced4ac160364","type":"api-call-service","z":"5e238cbbe6d612c9","name":"Turn off light","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.upstairs_bathroom_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":710,"y":600,"wires":[[]]},{"id":"47fcb13395bcf3f0","type":"stoptimer","z":"5e238cbbe6d612c9","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"Wait 30 Seconds","x":230,"y":420,"wires":[["23c3c8fe409e3f94"],[]]},{"id":"a17d58585048335d","type":"subflow:a4ee891237e460a2","z":"5e238cbbe6d612c9","name":"","x":520,"y":40,"wires":[]},{"id":"ea8536fc853a8af4","type":"api-current-state","z":"5e238cbbe6d612c9","name":"Check Shower Mode","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.shower_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":340,"wires":[["edc283ca40d3c7ef"],[]],"outputLabels":["Off","On"]},{"id":"edc283ca40d3c7ef","type":"api-current-state","z":"5e238cbbe6d612c9","name":"Check Early Night","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.early_night_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":340,"wires":[["d2df58b074b9ba08"],["7e89e4d34a758087"]],"outputLabels":["On","Off"]},{"id":"d2df58b074b9ba08","type":"api-call-service","z":"5e238cbbe6d612c9","name":"Set Adaptive","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.upstairs_bathroom_scenes"],"data":"{\t    \"option\":\"Adaptive\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":300,"wires":[["be2ef3afc92034ec"]]},{"id":"e19f97e448023ade","type":"api-current-state","z":"5e238cbbe6d612c9","name":"Check Early Night","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.early_night_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":560,"wires":[["38d9a4979f22e19f"],["74c0ced4ac160364"]],"outputLabels":["On","Off"]},{"id":"38d9a4979f22e19f","type":"api-current-state","z":"5e238cbbe6d612c9","name":"Check Late Night","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.night_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":730,"y":540,"wires":[["d0cf87bd9c3ba0b1"],["83686fab02a3d825"]],"outputLabels":["On","Off"]},{"id":"d0cf87bd9c3ba0b1","type":"api-call-service","z":"5e238cbbe6d612c9","name":"Set Single Nightlight","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.upstairs_bathroom_scenes"],"data":"{\t    \"option\":\"Single Nightlight\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":480,"wires":[[]]},{"id":"83686fab02a3d825","type":"api-call-service","z":"5e238cbbe6d612c9","name":"Set Nightlight","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.upstairs_bathroom_scenes"],"data":"{\t    \"option\":\"Nightlight\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":540,"wires":[[]]},{"id":"07049ae77b6751c6","type":"server-state-changed","z":"47f17992fab9b4f5","name":"Basement Studio Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.basement_studio_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"basement_studio","valueType":"str"}],"x":130,"y":40,"wires":[["b334c603ae26bd9b"]]},{"id":"5e31d6aacad206b8","type":"server-state-changed","z":"47f17992fab9b4f5","name":"Light turned on","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.furnace_room_overhead","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":180,"wires":[["dd3608c864d7007b"],[]]},{"id":"18599ab162ab225b","type":"change","z":"47f17992fab9b4f5","name":"Stop Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":240,"wires":[["dd3608c864d7007b"]]},{"id":"dd3608c864d7007b","type":"stoptimer","z":"47f17992fab9b4f5","duration":"60","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":500,"y":180,"wires":[["e79ecc6c79946cc4"],[]]},{"id":"e79ecc6c79946cc4","type":"api-call-service","z":"47f17992fab9b4f5","name":"Turn off light","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.furnace_room_overhead"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":690,"y":180,"wires":[[]]},{"id":"ab01d3d95c7ea717","type":"server-state-changed","z":"47f17992fab9b4f5","name":"Light turned off","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.furnace_room_overhead","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":240,"wires":[["18599ab162ab225b"],[]]},{"id":"8fa363e9e0c1b165","type":"comment","z":"47f17992fab9b4f5","name":"Furnace Room","info":"","x":300,"y":180,"wires":[]},{"id":"b334c603ae26bd9b","type":"subflow:74d3a55b70dc2d6c","z":"47f17992fab9b4f5","name":"","x":410,"y":40,"wires":[]},{"id":"cd04bdb407311eb5","type":"ha-button","z":"b0286fae9f2ce547","name":"Start YouTube in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"137fe3f66779bb13","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":160,"y":40,"wires":[["cac7cc3111526a67"]]},{"id":"7611921cadb91b1e","type":"api-call-service","z":"b0286fae9f2ce547","name":"Dim Lights","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_dining_room"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":920,"wires":[["8b53b9f4d5ba0bf0"]]},{"id":"cac7cc3111526a67","type":"api-call-service","z":"b0286fae9f2ce547","name":"Start Youtube","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"com.google.android.youtube.tv\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":40,"wires":[[]]},{"id":"7d8d5376e990d357","type":"ha-button","z":"b0286fae9f2ce547","name":"Stop YouTube in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"eaeb8fcb37fa8585","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":160,"y":100,"wires":[["ab4c69753bfc36f5"]]},{"id":"3a29cecbefa6cbe2","type":"api-call-service","z":"b0286fae9f2ce547","name":"Reset Lights","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_dining_room"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":1000,"wires":[["2c9b9e4fbaa17b8a"]]},{"id":"ab4c69753bfc36f5","type":"api-call-service","z":"b0286fae9f2ce547","name":"Stop Youtube","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"!com.google.android.youtube.tv\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":100,"wires":[[]]},{"id":"b18c7a21fc449d35","type":"alexa-home","z":"b0286fae9f2ce547","conf":"c8312629c112d43a","device":"171565","acknoledge":true,"name":"Living Room Youtube","topic":"","x":140,"y":160,"wires":[["936091f71dc880b3"]]},{"id":"936091f71dc880b3","type":"switch","z":"b0286fae9f2ce547","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":160,"wires":[["cac7cc3111526a67"],["ab4c69753bfc36f5"]]},{"id":"59350a1f38e3e04a","type":"ha-button","z":"b0286fae9f2ce547","name":"Start Twitch in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"266a447bcb22dad6","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":220,"wires":[["db54e97573a07fc4"]]},{"id":"6c78852a9c604f64","type":"ha-button","z":"b0286fae9f2ce547","name":"Stop Twitch in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"73718265ac9a1389","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":280,"wires":[["77f2aae15fa1250d"]]},{"id":"abe997d5df095480","type":"alexa-home","z":"b0286fae9f2ce547","conf":"c8312629c112d43a","device":"171566","acknoledge":true,"name":"Living Room Twitch","topic":"","x":130,"y":340,"wires":[["a18b6c8c026995d6"]]},{"id":"a18b6c8c026995d6","type":"switch","z":"b0286fae9f2ce547","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":340,"wires":[["db54e97573a07fc4"],["77f2aae15fa1250d"]]},{"id":"db54e97573a07fc4","type":"api-call-service","z":"b0286fae9f2ce547","name":"Start Twitch","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"tv.twitch.android.app\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":160,"wires":[[]]},{"id":"77f2aae15fa1250d","type":"api-call-service","z":"b0286fae9f2ce547","name":"Stop Twitch","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"!tv.twitch.android.app\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":220,"wires":[[]]},{"id":"9e36b04d6063c234","type":"ha-button","z":"b0286fae9f2ce547","name":"Start Plex in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"5d20015e8a70767a","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":400,"wires":[["be5bdfc3c12b05da"]]},{"id":"7f82b9d6d835e09b","type":"ha-button","z":"b0286fae9f2ce547","name":"Stop Plex in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"c1da63449b303e84","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":460,"wires":[["728ab818393de52d"]]},{"id":"158b197a42fed757","type":"alexa-home","z":"b0286fae9f2ce547","conf":"c8312629c112d43a","device":"171567","acknoledge":true,"name":"Living Room Plex","topic":"","x":120,"y":520,"wires":[["e549712aaaceb285"]]},{"id":"e549712aaaceb285","type":"switch","z":"b0286fae9f2ce547","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":520,"wires":[["be5bdfc3c12b05da"],["728ab818393de52d"]]},{"id":"be5bdfc3c12b05da","type":"api-call-service","z":"b0286fae9f2ce547","name":"Start Plex","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"com.plexapp.android\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":280,"wires":[[]]},{"id":"728ab818393de52d","type":"api-call-service","z":"b0286fae9f2ce547","name":"Stop Plex","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"!com.plexapp.android\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":340,"wires":[[]]},{"id":"960884b0fd23e69b","type":"ha-button","z":"b0286fae9f2ce547","name":"Start Netflix in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"eb813ad296813ab2","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":580,"wires":[["0b860dc2f7db3ba0"]]},{"id":"61fdabfde220fbcc","type":"ha-button","z":"b0286fae9f2ce547","name":"Stop Netflix in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"2a115fc593b081ac","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":640,"wires":[["51d86d6064f084d2"]]},{"id":"42b706dd4afe3e42","type":"alexa-home","z":"b0286fae9f2ce547","conf":"c8312629c112d43a","device":"171568","acknoledge":true,"name":"Living Room Netflix","topic":"","x":130,"y":700,"wires":[["9a605b80513eba44"]]},{"id":"9a605b80513eba44","type":"switch","z":"b0286fae9f2ce547","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":700,"wires":[["0b860dc2f7db3ba0"],["51d86d6064f084d2"]]},{"id":"0b860dc2f7db3ba0","type":"api-call-service","z":"b0286fae9f2ce547","name":"Start Netflix","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"com.netflix.ninja\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":400,"wires":[[]]},{"id":"51d86d6064f084d2","type":"api-call-service","z":"b0286fae9f2ce547","name":"Stop Netflix","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"!com.netflix.ninja\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":460,"wires":[[]]},{"id":"4a2031f363418db1","type":"api-call-service","z":"b0286fae9f2ce547","name":"Set Scene","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.living_room_scenes"],"data":"{\t    \"option\":\"Tokyo\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1350,"y":920,"wires":[[]]},{"id":"2c9b9e4fbaa17b8a","type":"api-call-service","z":"b0286fae9f2ce547","name":"Reset Scene","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.living_room_scenes"],"data":"{\t    \"option\":\"Adaptive\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":1000,"wires":[[]]},{"id":"984386fa0a6369d6","type":"server-state-changed","z":"b0286fae9f2ce547","name":"Living Room TV Current App","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.living_room_tv_current_app","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":160,"y":840,"wires":[["0beae13503166379"]]},{"id":"0beae13503166379","type":"function","z":"b0286fae9f2ce547","name":"","func":"if (msg.payload === \"YouTube\") {\n    msg.payload = \"start\"\n} else if (msg.payload === \"Netflix\") {\n    msg.payload = \"start\"\n} else if (msg.payload === \"Plex\") {\n    msg.payload = \"start\"\n} else if (msg.payload === \"Twitch\") {\n    msg.payload = \"start\"\n} else if (msg.payload === \"Hulu\") {\n    msg.payload = \"start\"\n} else {\n    msg.payload = \"stop\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":840,"wires":[["bc363dcf2c3aaf3c"]]},{"id":"6c77ade442a47a30","type":"api-call-service","z":"b0286fae9f2ce547","name":"Entertainment Mode On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.living_room_entertainment_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":800,"wires":[[]]},{"id":"bc363dcf2c3aaf3c","type":"switch","z":"b0286fae9f2ce547","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":840,"wires":[["6c77ade442a47a30"],["6392f2f0586d988a"]]},{"id":"6392f2f0586d988a","type":"api-call-service","z":"b0286fae9f2ce547","name":"Entertainment Mode Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.living_room_entertainment_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":860,"wires":[[]]},{"id":"e505e9f24bf919dd","type":"server-state-changed","z":"b0286fae9f2ce547","name":"Entertainment Mode State","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.living_room_entertainment_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":960,"wires":[["c1c0d3ee514fa085"],["88580ff9416f69c7"]]},{"id":"c1c0d3ee514fa085","type":"api-current-state","z":"b0286fae9f2ce547","name":"Are Lights On?","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.living_room_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":920,"wires":[["1ddcce6ef3293779"],[]]},{"id":"88580ff9416f69c7","type":"api-current-state","z":"b0286fae9f2ce547","name":"Are Lights On?","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.living_room_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":1000,"wires":[["3a29cecbefa6cbe2"],[]]},{"id":"9efd5346a1ca1972","type":"server-state-changed","z":"b0286fae9f2ce547","name":"Detect Pause","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.living_room_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"paused","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":110,"y":1100,"wires":[["40cab913b75a5507"],["3596959961544947"]]},{"id":"3596959961544947","type":"switch","z":"b0286fae9f2ce547","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":1060,"wires":[["9cbcdb825b0a60ad"]]},{"id":"9cbcdb825b0a60ad","type":"api-current-state","z":"b0286fae9f2ce547","name":"Check Toggle","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.living_room_entertainment_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":1060,"wires":[["c9ca600850fc6a76"],[]]},{"id":"40cab913b75a5507","type":"api-current-state","z":"b0286fae9f2ce547","name":"Check Toggle","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.living_room_entertainment_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":1120,"wires":[["a57d15aac606dfb1"],[]]},{"id":"c9ca600850fc6a76","type":"api-current-state","z":"b0286fae9f2ce547","name":"Are Lights On?","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.living_room_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":1060,"wires":[["1ddcce6ef3293779"],[]]},{"id":"a57d15aac606dfb1","type":"api-current-state","z":"b0286fae9f2ce547","name":"Are Lights On?","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.living_room_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":1120,"wires":[["3a29cecbefa6cbe2"],[]]},{"id":"8b53b9f4d5ba0bf0","type":"api-call-service","z":"b0286fae9f2ce547","name":"Dynamic On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.living_room_dynamic_scenes"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":920,"wires":[["4a2031f363418db1"]]},{"id":"1ddcce6ef3293779","type":"api-current-state","z":"b0286fae9f2ce547","name":"Prevent Duplicate","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"Tokyo","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_text.living_room_selected_scene","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":750,"y":920,"wires":[["7611921cadb91b1e"],[]]},{"id":"105271e0816c6a52","type":"ha-button","z":"5c4ac37140a54ac9","name":"Good Morning","version":0,"debugenabled":false,"outputs":1,"entityConfig":"ad5b1d9f1ea8fea1","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"}],"x":110,"y":60,"wires":[["c01d647c6091a47b","2854170262757e84"]]},{"id":"c01d647c6091a47b","type":"file in","z":"5c4ac37140a54ac9","name":"Read File","filename":"/config/files/weather_briefing_full.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":280,"y":60,"wires":[["e59180a1a6ae0a90"]]},{"id":"b83b6e027c21a133","type":"alexa-remote-routine","z":"5c4ac37140a54ac9","name":"","account":"be975ce229701797","routineNode":{"type":"node","payload":{"type":"serial","children":[{"type":"wait","payload":{"time":{"type":"num","value":"1"}}},{"type":"prompt","payload":{"type":{"type":"str","value":"goodMorning"},"devices":{"type":"msg","value":"where"}}},{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":{"type":"msg","value":"where"}}},{"type":"prompt","payload":{"type":{"type":"str","value":"traffic"},"devices":{"type":"msg","value":"where"}}},{"type":"prompt","payload":{"type":{"type":"str","value":"calendarToday"},"devices":{"type":"msg","value":"where"}}},{"type":"prompt","payload":{"type":{"type":"str","value":"calendarTomorrow"},"devices":{"type":"msg","value":"where"}}}]}},"x":660,"y":60,"wires":[[]]},{"id":"2854170262757e84","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Turn off switches","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.basement_echo_dot_do_not_disturb_switch","switch.living_room_echo_dot_do_not_disturb_switch","switch.master_bedroom_echo_dot_do_not_disturb_switch"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":120,"wires":[["b7d9e3271e0dc2f4"]]},{"id":"bca3377ec26c9558","type":"file in","z":"5c4ac37140a54ac9","name":"Read File","filename":"/config/files/weather_briefing_full.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":300,"y":420,"wires":[["3a3545a70c76053b"]]},{"id":"c3c67a43fbc24b2c","type":"alexa-remote-routine","z":"5c4ac37140a54ac9","name":"","account":"be975ce229701797","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":{"type":"msg","value":"where"}}},"x":680,"y":420,"wires":[[]]},{"id":"6f84caa4bd59a747","type":"ha-button","z":"5c4ac37140a54ac9","name":"Weather Briefing","version":0,"debugenabled":false,"outputs":1,"entityConfig":"a8da4d03a2922c42","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"}],"x":120,"y":420,"wires":[["bca3377ec26c9558"]]},{"id":"ba97906b7b81342c","type":"ha-button","z":"5c4ac37140a54ac9","name":"Goodnight","version":0,"debugenabled":false,"outputs":1,"entityConfig":"30f1658baee9378e","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"}],"x":100,"y":180,"wires":[["f30486c8e11db0e4","d9e39b8ebb86c941","582a6e14b94a5a6d","57772c8b792e014d"]]},{"id":"f30486c8e11db0e4","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Sleep Mode","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_upstairs_hallway","switch.basement_echo_dot_do_not_disturb_switch","switch.living_room_echo_dot_do_not_disturb_switch","switch.master_bedroom_echo_dot_do_not_disturb_switch"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":180,"wires":[["f84c9f54acbdafd0"]]},{"id":"f84c9f54acbdafd0","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Lights Out","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":["basement_studio","dining_room","downstairs_bathroom","furnace_room","kallen_bedroom","living_room","master_bedroom","mud_room","nursery","upstairs_hallway"],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":510,"y":180,"wires":[[]]},{"id":"d9e39b8ebb86c941","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Kallen Desktop - Shutdown","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"kallen_desktop_shutdown","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":360,"y":300,"wires":[[]]},{"id":"3a3545a70c76053b","type":"subflow:a42343e035e3313c","z":"5c4ac37140a54ac9","name":"","x":480,"y":420,"wires":[["c3c67a43fbc24b2c"]]},{"id":"e59180a1a6ae0a90","type":"subflow:a42343e035e3313c","z":"5c4ac37140a54ac9","name":"","x":460,"y":60,"wires":[["b83b6e027c21a133"]]},{"id":"b7d9e3271e0dc2f4","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Turn off fans","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"fan","service":"turn_off","areaId":[],"deviceId":[],"entityId":["fan.kallen_fan_socket_1","fan.master_bedroom_air_conditioner","fan.master_bedroom_fan_socket_1"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":510,"y":120,"wires":[[]]},{"id":"582a6e14b94a5a6d","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Basement Fan Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"fan","service":"turn_off","areaId":[],"deviceId":[],"entityId":["fan.basement_fan"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":330,"y":240,"wires":[[]]},{"id":"e18616ffd95b1074","type":"amazon-echo-hub","z":"5c4ac37140a54ac9","port":"80","processinput":0,"discovery":true,"x":55,"y":480,"wires":[["932df233e423c6ed"]],"l":false},{"id":"932df233e423c6ed","type":"amazon-echo-device","z":"5c4ac37140a54ac9","name":"Virtual Scenes Light","topic":"virtual_scenes_light","x":220,"y":480,"wires":[["466b39f277505de4"]]},{"id":"f76504ca785dfba6","type":"debug","z":"5c4ac37140a54ac9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":480,"wires":[]},{"id":"466b39f277505de4","type":"function","z":"5c4ac37140a54ac9","name":"","func":"if (msg.percentage === 1) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 2) {\n    msg.topic = \"downstairs_bathroom\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 3) {\n    msg.topic = \"dining_room_lamp\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 4) {\n    msg.topic = \"mud_room\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 5) {\n    msg.topic = \"upstairs_hallway\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 6) {\n    msg.topic = \"upstairs_bathroom\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 7) {\n    msg.topic = \"master_bedroom\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 8) {\n    msg.topic = \"kallen_bedroom\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 9) {\n    msg.topic = \"nursery\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 10) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 11) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Bright\"\n} else if (msg.percentage === 12) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Dimmed\"\n} else if (msg.percentage === 13) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Nightlight\"\n} else if (msg.percentage === 14) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Energize\"\n} else if (msg.percentage === 15) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Concentrate\"\n} else if (msg.percentage === 16) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Savanna Sunset\"\n} else if (msg.percentage === 17) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Tropical Twilight\"\n} else if (msg.percentage === 18) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Tokyo\"\n} else if (msg.percentage === 19) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Forest Adventure\"\n} else if (msg.percentage === 20) {\n    msg.topic = \"downstairs_bathroom\",\n    msg.payload = \"Bright\"\n} else if (msg.percentage === 21) {\n    msg.topic = \"downstairs_bathroom\",\n    msg.payload = \"Dimmed\"\n} else if (msg.percentage === 22) {\n    msg.topic = \"downstairs_bathroom\",\n    msg.payload = \"Nightlight\"\n} else if (msg.percentage === 23) {\n    msg.topic = \"mud_room\",\n    msg.payload = \"Bright\"\n} else if (msg.percentage === 24) {\n    msg.topic = \"mud_room\",\n    msg.payload = \"Dimmed\"\n} else if (msg.percentage === 25) {\n    msg.topic = \"mud_room\",\n    msg.payload = \"Nightlight\"\n} else if (msg.percentage === 26) {\n    msg.topic = \"upstairs_hallway\",\n    msg.payload = \"Bright\"\n} else if (msg.percentage === 27) {\n    msg.topic = \"upstairs_hallway\",\n    msg.payload = \"Dimmed\"\n} else if (msg.percentage === 28) {\n    msg.topic = \"upstairs_hallway\",\n    msg.payload = \"Nightlight\"\n} else if (msg.percentage === 29) {\n    msg.topic = \"upstairs_bathroom\",\n    msg.payload = \"Bright\"\n} else if (msg.percentage === 30) {\n    msg.topic = \"upstairs_bathroom\",\n    msg.payload = \"Dimmed\"\n} else if (msg.percentage === 31) {\n    msg.topic = \"upstairs_bathroom\",\n    msg.payload = \"Nightlight\"\n} else if (msg.percentage === 32) {\n    msg.topic = \"upstairs_bathroom\",\n    msg.payload = \"Single Nightlight\"\n} else if (msg.percentage === 33) {\n    msg.topic = \"master_bedroom\",\n    msg.payload = \"Bright\"\n} else if (msg.percentage === 34) {\n    msg.topic = \"master_bedroom\",\n    msg.payload = \"Dimmed\"\n} else if (msg.percentage === 35) {\n    msg.topic = \"master_bedroom\",\n    msg.payload = \"Nightlight\"\n} else if (msg.percentage === 36) {\n    msg.topic = \"master_bedroom\",\n    msg.payload = \"Front Nightlight\"\n} else if (msg.percentage === 37) {\n    msg.topic = \"master_bedroom\",\n    msg.payload = \"Side Nightlight\"\n} else if (msg.percentage === 38) {\n    msg.topic = \"kallen_bedroom\",\n    msg.payload = \"Bright\"\n} else if (msg.percentage === 39) {\n    msg.topic = \"kallen_bedroom\",\n    msg.payload = \"Dimmed\"\n} else if (msg.percentage === 40) {\n    msg.topic = \"kallen_bedroom\",\n    msg.payload = \"Nightlight\"\n} else if (msg.percentage === 41) {\n    msg.topic = \"nursery\",\n    msg.payload = \"Bright\"\n} else if (msg.percentage === 42) {\n    msg.topic = \"nursery\",\n    msg.payload = \"Dimmed\"\n} else if (msg.percentage === 43) {\n    msg.topic = \"nursery\",\n    msg.payload = \"Nightlight\"\n} else if (msg.percentage === 44) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Energize\"\n} else if (msg.percentage === 45) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Concentrate\"\n} else if (msg.percentage === 46) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Bright\"\n} else if (msg.percentage === 47) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Dimmed\"\n} else if (msg.percentage === 48) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Nightlight\"\n} else if (msg.percentage === 49) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Relax\"\n} else if (msg.percentage === 50) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Purple\"\n} else if (msg.percentage === 51) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Pink\"\n} else if (msg.percentage === 52) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Kallen Reading\"\n} else if (msg.percentage === 53) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Baby Is Napping\"\n} else if (msg.percentage === 54) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Stairwell\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":480,"wires":[["442e52ed95a5fd73"]]},{"id":"442e52ed95a5fd73","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Set Scene","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.{{topic}}_scenes"],"data":"{\t    \"option\": msg.payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":480,"wires":[["f76504ca785dfba6"]]},{"id":"a58bc61a625f47af","type":"ha-button","z":"5c4ac37140a54ac9","name":"Daily Briefing","version":0,"debugenabled":false,"outputs":1,"entityConfig":"998d8d67ec377dd3","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"}],"x":110,"y":540,"wires":[["f7840ab146d4d171"]]},{"id":"f7840ab146d4d171","type":"api-current-state","z":"5c4ac37140a54ac9","name":"Where?","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.alexa_audio","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"who","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":540,"wires":[["96ea73c434b04493"]]},{"id":"96ea73c434b04493","type":"function","z":"5c4ac37140a54ac9","name":"","func":"if (msg.who === \"Living Room Echo Dot\") {\n    msg.who = \"living_room\"\n} else if (msg.who === \"Basement Echo Dot\") {\n    msg.who = \"basement\"\n} else if (msg.who === \"Master Bedroom Echo Dot\") {\n    msg.who = \"master_bedroom\"\n} else {\n    msg.who = \"living_room\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":540,"wires":[["804c40c435c342fc"]]},{"id":"5eb7493d13b65a60","type":"debug","z":"5c4ac37140a54ac9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":540,"wires":[]},{"id":"804c40c435c342fc","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Speech Engine","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"daily_briefing","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"who\": msg.who\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":540,"wires":[["5eb7493d13b65a60"]]},{"id":"57772c8b792e014d","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Night Mode On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.night_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":360,"wires":[[]]},{"id":"6a37c598ccfec0c7","type":"google-home","z":"75e98103856848a6","conf":"457914a2c9dc72c1","device":"20328","acknowledge":true,"name":"","topic":"tester of testiness","x":250,"y":240,"wires":[["ef99a4a89289098c"]]},{"id":"ef99a4a89289098c","type":"debug","z":"75e98103856848a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":240,"wires":[]},{"id":"07a2f8b7e49040f8","type":"file in","z":"75e98103856848a6","name":"Read File","filename":"/config/files/weather_briefing_full.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":480,"y":340,"wires":[["0249c367ffa0a6a1"]]},{"id":"d8d284802d3ba380","type":"ha-button","z":"75e98103856848a6","name":"Weather Briefing Google","version":0,"debugenabled":false,"outputs":1,"entityConfig":"8860321096392e94","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"},{"property":"topic","propertyType":"msg","value":"Kallen Bedroom","valueType":"str"}],"x":270,"y":340,"wires":[["07a2f8b7e49040f8"]]},{"id":"0249c367ffa0a6a1","type":"subflow:6429099c4571dd6b","z":"75e98103856848a6","name":"","x":660,"y":340,"wires":[]},{"id":"223a7234238933a7","type":"ha-button","z":"75e98103856848a6","name":"Daily Briefing Google","version":0,"debugenabled":false,"outputs":1,"entityConfig":"9c84afc610ced7b6","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"}],"x":260,"y":400,"wires":[["eb4220bac4e72e88"]]},{"id":"eb4220bac4e72e88","type":"api-call-service","z":"75e98103856848a6","name":"Speech Engine","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"","areaId":[],"deviceId":[],"entityId":["script.daily_briefing"],"data":"{\t    \"who\":\"kallen_bedroom\",\t    \"message\":\"!include ../templates/speech/daily_briefing.yaml\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":400,"wires":[[]]},{"id":"a4c477269b22f766","type":"ha-button","z":"ee67610b4a0578d2","name":"Send Button","version":0,"debugenabled":false,"outputs":1,"entityConfig":"f14ef3df2209e9a7","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"}],"x":110,"y":40,"wires":[["155b26ba197473e4"]]},{"id":"155b26ba197473e4","type":"api-current-state","z":"ee67610b4a0578d2","name":"Message","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_text.tts_message","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":40,"wires":[["3153371fe2de6f8e"]]},{"id":"3153371fe2de6f8e","type":"api-current-state","z":"ee67610b4a0578d2","name":"Destination","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.tts_devices","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":40,"wires":[["93b7bee28a7e896e"]]},{"id":"9cafa6212280b2d5","type":"ha-button","z":"ee67610b4a0578d2","name":"Reset Button","version":0,"debugenabled":false,"outputs":1,"entityConfig":"1c6757ac2fa1a199","outputProperties":[{"property":"payload","propertyType":"msg","value":"Words go here and stuff","valueType":"str"},{"property":"topic","propertyType":"msg","value":"Living Room","valueType":"str"}],"x":110,"y":100,"wires":[["5095d45c90d5304f"]]},{"id":"5095d45c90d5304f","type":"api-call-service","z":"ee67610b4a0578d2","name":"Reset Message","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.tts_message"],"data":"{\t    \"value\": msg.payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":300,"y":100,"wires":[["3ae21589dd88c080"]]},{"id":"3ae21589dd88c080","type":"api-call-service","z":"ee67610b4a0578d2","name":"Reset Devices List","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.tts_devices"],"data":"{\t    \"option\": msg.topic\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":510,"y":100,"wires":[[]]},{"id":"93b7bee28a7e896e","type":"subflow:6429099c4571dd6b","z":"ee67610b4a0578d2","name":"","x":640,"y":40,"wires":[]},{"id":"5d7c63526234945e","type":"api-render-template","z":"ebd5561c4f077718","name":"","server":"9e87348d.9c1c48","version":0,"template":"{{ states('sensor.current_conditions_detail') }} \n{{ states('sensor.tomorrow_forecast_detail') }} \n{{ states('sensor.clothing_forecast_detail') }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":280,"y":180,"wires":[["4eda62ff7310026d"]]},{"id":"7aaddacf84721c78","type":"inject","z":"ebd5561c4f077718","name":"","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":180,"wires":[["5d7c63526234945e"]]},{"id":"4eda62ff7310026d","type":"function","z":"ebd5561c4f077718","name":"","func":"str = msg.payload\nmsg.payload = str.replaceAll(\"possible.\",\"possible. \")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":180,"wires":[["6b5d3e550ad76528"]]},{"id":"6b5d3e550ad76528","type":"file","z":"ebd5561c4f077718","name":"","filename":"/config/files/weather_briefing_full.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":680,"y":180,"wires":[[]]},{"id":"e92f845d0b4e32ff","type":"debug","z":"789ba711dc04fad2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":390,"y":200,"wires":[]},{"id":"1031080bdf3b95bf","type":"server-state-changed","z":"789ba711dc04fad2","name":"On Twitch stream start","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.twitch_ironnerd24","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"streaming","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":80,"wires":[["cacac13b4d0c7f07","e92f845d0b4e32ff","574f6c6e7bd1b747","2c677d9d0250ba8c"],[]]},{"id":"cacac13b4d0c7f07","type":"api-call-service","z":"789ba711dc04fad2","name":"Notify Living Room TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"living_room_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": \"Stream Starting\",\t    \"message\": \"Tony has started a live stream in the studio!\",\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"red\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":20,"wires":[[]]},{"id":"574f6c6e7bd1b747","type":"api-call-service","z":"789ba711dc04fad2","name":"Notify Master Bedroom TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"master_bedroom_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": \"Stream Starting\",\t    \"message\": \"Tony has started a live stream in the studio!\",\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"red\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":80,"wires":[[]]},{"id":"2c677d9d0250ba8c","type":"api-call-service","z":"789ba711dc04fad2","name":"Notify Basement TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"basement_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": \"Stream Starting\",\t    \"message\": \"Tony has started a live stream in the studio!\",\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"red\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":140,"wires":[[]]},{"id":"c2972c7728c99c43","type":"function","z":"ffa6a885ac41a5ed","name":"Conversions","func":"msg.payload = (msg.payload / 1024000000)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":180,"wires":[["bc09f451754ba126"]]},{"id":"bc09f451754ba126","type":"function","z":"ffa6a885ac41a5ed","name":"Rounding","func":"var readout = msg.payload\n\nmsg.payload = +readout.toFixed(2)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":180,"wires":[["6cf8f103906c1a49"]]},{"id":"fdefcd6a64aa9bca","type":"mqtt in","z":"ffa6a885ac41a5ed","name":"CPU Temp","topic":"glances/basement-server/sensors/Package_id_0/value","qos":"1","datatype":"auto","broker":"fd29421fc00140a8","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":60,"wires":[["1d09b6c6a3773d9a"]]},{"id":"1d09b6c6a3773d9a","type":"ha-entity","z":"ffa6a885ac41a5ed","name":"Basement Server - CPU Temperature","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Basement Server - CPU Temperature"},{"property":"device_class","value":"temperature"},{"property":"icon","value":"mdi:thermometer"},{"property":"unit_of_measurement","value":"C"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":350,"y":60,"wires":[[]]},{"id":"6cf8f103906c1a49","type":"ha-entity","z":"ffa6a885ac41a5ed","name":"Basement Server - Memory Used","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Basement Server - Memory Used"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:memory"},{"property":"unit_of_measurement","value":"GB"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":700,"y":180,"wires":[[]]},{"id":"da305ace22579c07","type":"mqtt in","z":"ffa6a885ac41a5ed","name":"Memory Used","topic":"glances/basement-server/mem/used","qos":"1","datatype":"auto","broker":"fd29421fc00140a8","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":180,"wires":[["c2972c7728c99c43"]]},{"id":"7ecdec08d9698a19","type":"mqtt in","z":"ffa6a885ac41a5ed","name":"CPU Usage","topic":"glances/basement-server/cpu/total","qos":"1","datatype":"auto","broker":"fd29421fc00140a8","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":120,"wires":[["9c9d7870a5204f13"]]},{"id":"9c9d7870a5204f13","type":"ha-entity","z":"ffa6a885ac41a5ed","name":"Basement Server - CPU Usage","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Basement Server - CPU Usage"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:speedometer"},{"property":"unit_of_measurement","value":"%"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":350,"y":120,"wires":[[]]},{"id":"1b5678e80095a461","type":"mqtt in","z":"ffa6a885ac41a5ed","name":"Uptime","topic":"glances/basement-server/uptime/seconds","qos":"1","datatype":"auto","broker":"fd29421fc00140a8","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":300,"wires":[["c88179f1facb8646"]]},{"id":"5248dc02bf48733e","type":"ha-entity","z":"ffa6a885ac41a5ed","name":"Basement Server - Uptime","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Basement Server - Uptime"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:timer-outline"},{"property":"unit_of_measurement","value":"hours"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":640,"y":300,"wires":[[]]},{"id":"c88179f1facb8646","type":"function","z":"ffa6a885ac41a5ed","name":"Conversions","func":"msg.payload = (msg.payload / 60) / 60\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":300,"wires":[["7af97720032b4609"]]},{"id":"7af97720032b4609","type":"function","z":"ffa6a885ac41a5ed","name":"Rounding","func":"var readout = msg.payload\n\nmsg.payload = +readout.toFixed(2)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":300,"wires":[["5248dc02bf48733e"]]},{"id":"08aadf619537949e","type":"mqtt in","z":"ffa6a885ac41a5ed","name":"Memory Usage","topic":"glances/basement-server/mem/percent","qos":"1","datatype":"auto","broker":"fd29421fc00140a8","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":240,"wires":[["d819e61c0895affe"]]},{"id":"d819e61c0895affe","type":"ha-entity","z":"ffa6a885ac41a5ed","name":"Basement Server - Memory Usage","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Basement Server - Memory Usage"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:memory"},{"property":"unit_of_measurement","value":"%"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":380,"y":240,"wires":[[]]},{"id":"a0adec284cd8162a","type":"mqtt in","z":"ffa6a885ac41a5ed","name":"Free Space - /","topic":"glances/basement-server/fs/_/free","qos":"1","datatype":"auto","broker":"fd29421fc00140a8","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":360,"wires":[["46e0046a27f4bc89"]]},{"id":"46e0046a27f4bc89","type":"function","z":"ffa6a885ac41a5ed","name":"Conversions","func":"msg.payload = (msg.payload / 1024000000)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":360,"wires":[["a6038f6bd028bd2f"]]},{"id":"a6038f6bd028bd2f","type":"function","z":"ffa6a885ac41a5ed","name":"Rounding","func":"var readout = msg.payload\n\nmsg.payload = +readout.toFixed(2)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":360,"wires":[["8006b0b34776ec34"]]},{"id":"8006b0b34776ec34","type":"ha-entity","z":"ffa6a885ac41a5ed","name":"Basement Server - Free Space Root","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Basement Server - Free Space Root"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:harddisk"},{"property":"unit_of_measurement","value":"GB"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":710,"y":360,"wires":[[]]},{"id":"b109c8db1c2cd259","type":"ha-button","z":"ffa6a885ac41a5ed","name":"Restart AppDaemon","version":0,"debugenabled":false,"outputs":1,"entityConfig":"04976a7418728aa3","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"}],"x":130,"y":420,"wires":[["75a50e8dac7af692"]]},{"id":"75a50e8dac7af692","type":"api-call-service","z":"ffa6a885ac41a5ed","name":"","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"hassio","service":"addon_restart","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"addon\":\"a0d7b954_appdaemon\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":360,"y":420,"wires":[[]]},{"id":"a2af9b2ad203862d","type":"discordMessage","z":"98dfbe2c88a56a8a","name":"","token":"fd929ec3bfbeef1a","x":180,"y":260,"wires":[["a9eaa20ceb79b6bc"]]},{"id":"a9eaa20ceb79b6bc","type":"debug","z":"98dfbe2c88a56a8a","name":"Msg Receiver","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":380,"y":260,"wires":[]},{"id":"5270459cd5fd5f67","type":"discordMessageManager","z":"98dfbe2c88a56a8a","name":"Message Manager","channel":"","token":"fd929ec3bfbeef1a","x":450,"y":400,"wires":[["5268f4482657353d"]]},{"id":"06748cbfd8fd3d3c","type":"inject","z":"98dfbe2c88a56a8a","name":"Message","props":[{"p":"payload"},{"p":"action","v":"create","vt":"str"},{"p":"channel","v":"912503253973999617","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Server is up! Jk, I don't actually work yet...but Nerd says it's up.","payloadType":"str","x":260,"y":400,"wires":[["5270459cd5fd5f67"]]},{"id":"5268f4482657353d","type":"debug","z":"98dfbe2c88a56a8a","name":"Msg Manager","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":400,"wires":[]},{"id":"9ec1f7db69d7394d","type":"debug","z":"98dfbe2c88a56a8a","name":"Steam Sensor","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":540,"wires":[]},{"id":"0f7d345a1893a1a0","type":"api-current-state","z":"98dfbe2c88a56a8a","name":"","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.steam_76561199249380296","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":540,"wires":[["9ec1f7db69d7394d"]]},{"id":"8cf2acaf6424153a","type":"inject","z":"98dfbe2c88a56a8a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":540,"wires":[["0f7d345a1893a1a0"]]},{"id":"148cfb16cf40db46","type":"debug","z":"98dfbe2c88a56a8a","name":"Steam Sensor","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":600,"wires":[]},{"id":"98d2b38a52c582ef","type":"api-current-state","z":"98dfbe2c88a56a8a","name":"","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.steam_76561198006931886","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":600,"wires":[["148cfb16cf40db46"]]},{"id":"472a5d86d9e2c21f","type":"inject","z":"98dfbe2c88a56a8a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":600,"wires":[["98d2b38a52c582ef"]]},{"id":"9c86355f531c84a2","type":"hue-bridge-node","z":"d49b385d8b582b20","d":true,"name":"","bridge":"359a4a5e8f156ab5","autoupdates":true,"skipglobalevents":false,"initevents":false,"x":310,"y":140,"wires":[["9b70596b25181506"]]},{"id":"9b70596b25181506","type":"debug","z":"d49b385d8b582b20","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":140,"wires":[]},{"id":"7b20f670ec9cb8c5","type":"inject","z":"d49b385d8b582b20","d":true,"name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"fetch","payloadType":"str","x":110,"y":140,"wires":[["9c86355f531c84a2"]]},{"id":"bf2ad73a.23bdb8","type":"change","z":"d49b385d8b582b20","name":"Save Secret","rules":[{"t":"set","p":"#:(secrets)::secret","pt":"global","to":"thing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":240,"wires":[[]]},{"id":"5c5c19b4.549de8","type":"inject","z":"d49b385d8b582b20","name":"Press","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":240,"wires":[["bf2ad73a.23bdb8"]]}]