node-red/flows.json
[{"id":"4a8821853d4dd1ad","type":"tab","label":"Reading Timer","disabled":false,"info":"","env":[]},{"id":"e44b1e7a8ef7ae1d","type":"tab","label":"Time-based automations","disabled":false,"info":"","env":[]},{"id":"3abb5ae57afb4761","type":"tab","label":"Presence","disabled":false,"info":"","env":[]},{"id":"eff21041cc941fef","type":"tab","label":"Scenes","disabled":false,"info":"","env":[]},{"id":"b0286fae9f2ce547","type":"tab","label":"Media Scenes - Living Room","disabled":false,"info":"","env":[]},{"id":"5c4ac37140a54ac9","type":"tab","label":"Alexa","disabled":false,"info":"","env":[]},{"id":"75e98103856848a6","type":"tab","label":"Google Home","disabled":false,"info":"","env":[]},{"id":"ee67610b4a0578d2","type":"tab","label":"General Audio","disabled":false,"info":"","env":[]},{"id":"ebd5561c4f077718","type":"tab","label":"Weather","disabled":false,"info":"","env":[]},{"id":"789ba711dc04fad2","type":"tab","label":"Twitch","disabled":false,"info":"","env":[]},{"id":"ffa6a885ac41a5ed","type":"tab","label":"Server Stuff","disabled":false,"info":"","env":[]},{"id":"98dfbe2c88a56a8a","type":"tab","label":"Discord","disabled":false,"info":"","env":[]},{"id":"a42343e035e3313c","type":"subflow","name":"Alexa Location","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"1102574d15bdad4c"}]}],"out":[{"x":620,"y":80,"wires":[{"id":"afead614fabc01bb","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"4107976aa434eb03","type":"subflow","name":"Weather Conversions","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"388878f6056fa3e4"}]}],"out":[{"x":500,"y":80,"wires":[{"id":"80ce4b42b82e3c78","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"6a62fbf7b4e86589","type":"subflow","name":"Text Notifications - All iOS","info":"","category":"","in":[{"x":120,"y":140,"wires":[{"id":"c2fbd42b35152df7"},{"id":"5cdbb1186b8c5137"},{"id":"5670c96aacfc9475"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"041613a2b6a0f41f","type":"subflow","name":"TV Notifications","info":"","category":"","in":[{"x":40,"y":140,"wires":[{"id":"ac2a90cbc3a881cc"},{"id":"fa19b82b8077159f"},{"id":"d46d599e70e07c4d"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"6429099c4571dd6b","type":"subflow","name":"Speech Engine","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"7fa8765ef1373ee0"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"9e87348d.9c1c48","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":""},{"id":"fd29421fc00140a8","type":"mqtt-broker","name":"","broker":"192.168.1.26","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"edfeed50cef7e242","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Reading Timer Start","version":2,"haConfig":[{"property":"name","value":"Reading Timer Start"},{"property":"icon","value":"mdi:play"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"d7923c168b18954b","type":"transmission-config"},{"id":"137fe3f66779bb13","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Start YouTube in Living Room","version":2,"haConfig":[{"property":"name","value":"Start YouTube in Living Room"},{"property":"icon","value":"mdi:youtube"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"eaeb8fcb37fa8585","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Stop YouTube in Living Room","version":2,"haConfig":[{"property":"name","value":"Stop YouTube in Living Room"},{"property":"icon","value":"mdi:stop"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"c8312629c112d43a","type":"alexa-home-conf","username":"tm24fan8"},{"id":"be975ce229701797","type":"alexa-remote-account","name":"","authMethod":"proxy","proxyOwnIp":"192.168.1.26","proxyPort":"3456","cookieFile":"/config/node-red/alexa_auth","refreshInterval":"3","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","onKeywordInLanguage":"on","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"266a447bcb22dad6","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Start Twitch in Living Room","version":2,"haConfig":[{"property":"name","value":"Start Twitch in Living Room"},{"property":"icon","value":"mdi:twitch"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"73718265ac9a1389","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Stop Twitch in Living Room","version":2,"haConfig":[{"property":"name","value":"Stop Twitch in Living Room"},{"property":"icon","value":"mdi:stop"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"5d20015e8a70767a","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Start Plex in Living Room","version":2,"haConfig":[{"property":"name","value":"Start Plex in Living Room"},{"property":"icon","value":"mdi:plex"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"c1da63449b303e84","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Stop Plex in Living Room","version":2,"haConfig":[{"property":"name","value":"Stop Plex in Living Room"},{"property":"icon","value":"mdi:stop"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"eb813ad296813ab2","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Start Netflix in Living Room","version":2,"haConfig":[{"property":"name","value":"Start Netflix in Living Room"},{"property":"icon","value":"mdi:netflix"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"2a115fc593b081ac","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Stop Netflix in Living Room","version":2,"haConfig":[{"property":"name","value":"Stop Netflix in Living Room"},{"property":"icon","value":"mdi:stop"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"f14ef3df2209e9a7","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Send Alexa Message","version":2,"haConfig":[{"property":"name","value":"Send Alexa Message"},{"property":"icon","value":"mdi:bullhorn"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"1c6757ac2fa1a199","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Reset Alexa Message","version":2,"haConfig":[{"property":"name","value":"Reset Alexa Message"},{"property":"icon","value":"mdi:backspace-reverse"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"ad5b1d9f1ea8fea1","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Good Morning","version":2,"haConfig":[{"property":"name","value":"Good Morning"},{"property":"icon","value":"mdi:weather-sunset-up"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"a8da4d03a2922c42","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Weather Briefing","version":2,"haConfig":[{"property":"name","value":"Weather Briefing"},{"property":"icon","value":"mdi:weather-cloudy"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"30f1658baee9378e","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Goodnight","version":2,"haConfig":[{"property":"name","value":"Goodnight"},{"property":"icon","value":"mdi:weather-night"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"04976a7418728aa3","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Restart AppDaemon","version":2,"haConfig":[{"property":"name","value":"Restart AppDaemon"},{"property":"icon","value":"mdi:restart"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"457914a2c9dc72c1","type":"google-home-conf","username":"tm24fan8"},{"id":"fd929ec3bfbeef1a","type":"discord-token","name":"Nerd Overlord"},{"id":"8860321096392e94","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Weather Briefing Google","version":2,"haConfig":[{"property":"name","value":"Weather Briefing Google"},{"property":"icon","value":"mdi:weather-cloudy"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"05e66e9e1092e6ea","type":"api-current-state","z":"a42343e035e3313c","name":"Where?","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.alexa_audio","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"where","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":80,"wires":[["afead614fabc01bb"]]},{"id":"afead614fabc01bb","type":"function","z":"a42343e035e3313c","name":"","func":"if (msg.where === \"Basement Echo Dot\") {\n    msg.where = \"G090XG0894470SK6\"\n} else if (msg.where === \"Living Room Echo Dot\") {\n    msg.where = \"G6G1EV08101206J4\"\n} else if (msg.where === \"Master Bedroom Echo Dot\") {\n    msg.where = \"G6G0XG1212820GD9\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":80,"wires":[[]]},{"id":"1102574d15bdad4c","type":"delay","z":"a42343e035e3313c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":180,"y":80,"wires":[["05e66e9e1092e6ea"]]},{"id":"388878f6056fa3e4","type":"function","z":"4107976aa434eb03","name":"Conversions","func":"msg.data.main.temp = ((msg.data.main.temp - 273.15) * 1.8) + 32\nmsg.data.main.feels_like = ((msg.data.main.feels_like - 273.15) * 1.8) + 32\nmsg.data.main.temp_min = ((msg.data.main.temp_min - 273.15) * 1.8) + 32\nmsg.data.main.temp_max = ((msg.data.main.temp_max - 273.15) * 1.8) + 32\nmsg.data.main.pressure = msg.data.main.pressure * 0.029529983071445\nmsg.data.wind.speed = msg.data.wind.speed * 2.237\nmsg.data.wind.gust = msg.data.wind.gust * 2.237\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":80,"wires":[["80ce4b42b82e3c78"]]},{"id":"80ce4b42b82e3c78","type":"function","z":"4107976aa434eb03","name":"Rounding","func":"var temp = msg.data.main.temp\nvar feels_like = msg.data.main.feels_like\nvar temp_min = msg.data.main.temp_min\nvar temp_max = msg.data.main.temp_max\nvar pressure = msg.data.main.pressure\nvar windspeed = msg.data.wind.speed\nvar windgust = msg.data.wind.gust\n\nmsg.data.main.temp = +temp.toFixed(1)\nmsg.data.main.feels_like = +feels_like.toFixed(1)\nmsg.data.main.temp_min = +temp_min.toFixed(1)\nmsg.data.main.temp_max = +temp_max.toFixed(1)\nmsg.data.main.pressure = +pressure.toFixed(2)\nmsg.data.wind.speed = +windspeed.toFixed(2)\nmsg.data.wind.gust = +windgust.toFixed(2)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":80,"wires":[[]]},{"id":"5cdbb1186b8c5137","type":"api-call-service","z":"6a62fbf7b4e86589","name":"Notify Tony","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_tony","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":270,"y":80,"wires":[[]]},{"id":"c2fbd42b35152df7","type":"api-call-service","z":"6a62fbf7b4e86589","name":"Notify Tina","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_tina","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":270,"y":140,"wires":[[]]},{"id":"5670c96aacfc9475","type":"api-call-service","z":"6a62fbf7b4e86589","name":"Notify Kallen","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_kallen","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":270,"y":200,"wires":[[]]},{"id":"ac2a90cbc3a881cc","type":"api-call-service","z":"041613a2b6a0f41f","name":"Notify Basement TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"basement_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"indigo\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":220,"y":80,"wires":[[]]},{"id":"fa19b82b8077159f","type":"api-call-service","z":"041613a2b6a0f41f","name":"Notify Living Room TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"living_room_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"indigo\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":220,"y":140,"wires":[[]]},{"id":"d46d599e70e07c4d","type":"api-call-service","z":"041613a2b6a0f41f","name":"Notify Master Bedroom TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"master_bedroom_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"indigo\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":240,"y":200,"wires":[[]]},{"id":"7fa8765ef1373ee0","type":"function","z":"6429099c4571dd6b","name":"Name Conversion","func":"if (msg.topic === \"Living Room\") {\n    msg.topic = \"living_room\"\n} else if (msg.topic === \"Living Room Echo Dot\") {\n    msg.topic = \"living_room\"\n} else if (msg.topic === \"Basement\") {\n    msg.topic = \"basement\"\n} else if (msg.topic === \"Basement Echo Dot\") {\n    msg.topic = \"basement\"\n} else if (msg.topic === \"Kallen Bedroom\") {\n    msg.topic = \"kallen_bedroom\"\n} else if (msg.topic === \"Kallen Bedroom Speaker\") {\n    msg.topic = \"kallen_bedroom\"\n} else if (msg.topic === \"Master Bedroom\") {\n    msg.topic = \"master_bedroom\"\n} else if (msg.topic === \"Master Bedroom Echo Dot\") {\n    msg.topic = \"master_bedroom\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":80,"wires":[["98bf66889d4287db"]]},{"id":"98bf66889d4287db","type":"api-call-service","z":"6429099c4571dd6b","name":"Speech Engine","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"speech_engine","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"who\": msg.topic,\t    \"message\": msg.payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":80,"wires":[[]]},{"id":"cc8645ebae721601","type":"api-current-state","z":"4a8821853d4dd1ad","name":"Read time slider","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.reading_duration","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":780,"y":160,"wires":[["b2d071ca42e4a3c6"]]},{"id":"b2d071ca42e4a3c6","type":"function","z":"4a8821853d4dd1ad","name":"Convert to seconds","func":"msg.payload = msg.payload * 60\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":160,"wires":[["7fc67fc156c0f4be"]]},{"id":"7fc67fc156c0f4be","type":"api-call-service","z":"4a8821853d4dd1ad","name":"Start Timer","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"timer","service":"start","areaId":[],"deviceId":[],"entityId":["timer.reading_timer"],"data":"{    \"duration\": {{payload}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1190,"y":160,"wires":[[]]},{"id":"f24aeb9c34914db9","type":"server-state-changed","z":"4a8821853d4dd1ad","name":"Pause Switch","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.reading_timer_pause","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":250,"y":320,"wires":[["afeb1d238a623c3d"],["34dcb204b421710d"]]},{"id":"afeb1d238a623c3d","type":"api-call-service","z":"4a8821853d4dd1ad","name":"","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"timer","service":"pause","areaId":[],"deviceId":[],"entityId":["timer.reading_timer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":280,"wires":[[]]},{"id":"34dcb204b421710d","type":"api-call-service","z":"4a8821853d4dd1ad","name":"","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"timer","service":"start","areaId":[],"deviceId":[],"entityId":["timer.reading_timer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":360,"wires":[[]]},{"id":"602437ba010cc43d","type":"api-current-state","z":"4a8821853d4dd1ad","name":"Get Room","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.reading_room","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"Reading timer completed, good job!","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":630,"y":460,"wires":[["50056b099a24a824"]]},{"id":"1dc210f02bbc891d","type":"switch","z":"4a8821853d4dd1ad","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"timer.reading_timer","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":460,"wires":[["602437ba010cc43d","a3e3dc438a7b95fc"]]},{"id":"014d305040d2a8bd","type":"server-events","z":"4a8821853d4dd1ad","name":"Timer Finished","server":"9e87348d.9c1c48","version":1,"event_type":"timer.finished","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"$outputData(\"eventData\").entity_id","valueType":"jsonata"}],"x":260,"y":460,"wires":[["1dc210f02bbc891d","fe1ba086baf93ec0"]]},{"id":"923538ef97772f0c","type":"api-call-service","z":"4a8821853d4dd1ad","name":"Notification","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_kallen","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\": msg.payload,\t   \"title\": msg.topic\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":600,"wires":[[]]},{"id":"a3e3dc438a7b95fc","type":"change","z":"4a8821853d4dd1ad","name":"Finished Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"You are done reading for today!","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Reading Timer Complete","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":600,"wires":[["923538ef97772f0c"]]},{"id":"797d3e7cc53d773f","type":"ha-button","z":"4a8821853d4dd1ad","name":"Start Button","version":0,"debugenabled":false,"outputs":1,"entityConfig":"edfeed50cef7e242","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":250,"y":160,"wires":[["cb399b9e54bcf0f0"]]},{"id":"fe1ba086baf93ec0","type":"api-call-service","z":"4a8821853d4dd1ad","name":"Reset Slider","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.reading_duration"],"data":"{\t    \"value\":30\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":540,"wires":[[]]},{"id":"cb399b9e54bcf0f0","type":"api-current-state","z":"4a8821853d4dd1ad","name":"Get Room","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.reading_room","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":160,"wires":[["600f4c2dcc3e0c51"]]},{"id":"4d4e55cea59da9ad","type":"api-call-service","z":"4a8821853d4dd1ad","name":"Basement Lights Scene","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.basement_studio_scenes"],"data":"{\t    \"option\":\"Kallen Reading\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":100,"wires":[[]]},{"id":"600f4c2dcc3e0c51","type":"switch","z":"4a8821853d4dd1ad","name":"Routing","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Basement","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":160,"wires":[["cc8645ebae721601","4d4e55cea59da9ad"],["cc8645ebae721601"]]},{"id":"50056b099a24a824","type":"subflow:6429099c4571dd6b","z":"4a8821853d4dd1ad","name":"","x":820,"y":460,"wires":[]},{"id":"fd4bbf481e16e6ea","type":"sunrise","z":"e44b1e7a8ef7ae1d","name":"","lat":"41.286720","lon":"-84.362106","start":"sunriseEnd","end":"sunsetStart","soff":0,"eoff":"-60","x":130,"y":180,"wires":[[],["0371f41c342134a0"]]},{"id":"0371f41c342134a0","type":"switch","z":"e44b1e7a8ef7ae1d","name":"Day or night","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":180,"wires":[["976f9624c919c07a","323b5cf9639ca111"],["d394df04f71de37a"]]},{"id":"663856ad61059510","type":"api-current-state","z":"e44b1e7a8ef7ae1d","name":"Weather check","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"weather.iron_nerd_weather_station","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":760,"y":140,"wires":[["8808e39fba362206"]]},{"id":"e9aba9f5312297b7","type":"api-call-service","z":"e44b1e7a8ef7ae1d","name":"Turn lights on","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":["living_room","mud_room"],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1880,"y":180,"wires":[["7e26d76790c3690d","4809adc3b17655bc"]]},{"id":"8808e39fba362206","type":"switch","z":"e44b1e7a8ef7ae1d","name":"Is it nice out?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunny","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":140,"wires":[["f88f5b6e48e5a430"],["8a5b225968323ce6"]]},{"id":"1e365f7e5ba78955","type":"api-call-service","z":"e44b1e7a8ef7ae1d","name":"Turn off night lighting","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":["front_porch","upstairs_bathroom","upstairs_hallway"],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":240,"wires":[["8556daf4bc9df581"]]},{"id":"8556daf4bc9df581","type":"delay","z":"e44b1e7a8ef7ae1d","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":980,"y":240,"wires":[["40a4142a0f72b94a","5ee1e29d42eb0b88"]]},{"id":"40a4142a0f72b94a","type":"api-call-service","z":"e44b1e7a8ef7ae1d","name":"Night mode off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_basement_studio","switch.adaptive_lighting_sleep_mode_dining_room","switch.adaptive_lighting_sleep_mode_living_room","switch.adaptive_lighting_sleep_mode_master_bedroom","switch.adaptive_lighting_sleep_mode_mud_room","switch.adaptive_lighting_sleep_mode_upstairs_bathroom","switch.adaptive_lighting_sleep_mode_upstairs_hallway"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":240,"wires":[[]]},{"id":"f88f5b6e48e5a430","type":"delay","z":"e44b1e7a8ef7ae1d","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1190,"y":80,"wires":[["4fcc6c68cec50467"]]},{"id":"990ab49071133125","type":"change","z":"e44b1e7a8ef7ae1d","name":"Clear Weather Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lights on after delay due to clear weather","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Sunset Lights ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":60,"wires":[["e9aba9f5312297b7"]]},{"id":"60d401148ecff1ef","type":"change","z":"e44b1e7a8ef7ae1d","name":"Cloudy Weather Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lights on early due to cloudy weather","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Sunset Lights ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":180,"wires":[["e9aba9f5312297b7"]]},{"id":"976f9624c919c07a","type":"api-current-state","z":"e44b1e7a8ef7ae1d","name":"Interior Toggle","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.sunset_lights_on","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":140,"wires":[["663856ad61059510"],["411c0ddd868c6e9d"]]},{"id":"d394df04f71de37a","type":"api-current-state","z":"e44b1e7a8ef7ae1d","name":"Interior Toggle","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.sunset_lights_on","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":240,"wires":[["1e365f7e5ba78955"],[]]},{"id":"4fcc6c68cec50467","type":"api-current-state","z":"e44b1e7a8ef7ae1d","name":"Is Family Home?","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1370,"y":80,"wires":[["990ab49071133125"],["411c0ddd868c6e9d"]]},{"id":"8a5b225968323ce6","type":"api-current-state","z":"e44b1e7a8ef7ae1d","name":"Is Family Home?","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1370,"y":180,"wires":[["60d401148ecff1ef"],["411c0ddd868c6e9d"]]},{"id":"411c0ddd868c6e9d","type":"change","z":"e44b1e7a8ef7ae1d","name":"Skipped Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lights not on due to nobody home, or toggle shutoff","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Sunset Lights SKIPPED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1870,"y":120,"wires":[["7e26d76790c3690d","4809adc3b17655bc"]]},{"id":"7e26d76790c3690d","type":"subflow:6a62fbf7b4e86589","z":"e44b1e7a8ef7ae1d","name":"","x":2150,"y":120,"wires":[]},{"id":"4809adc3b17655bc","type":"subflow:041613a2b6a0f41f","z":"e44b1e7a8ef7ae1d","name":"","x":2140,"y":180,"wires":[]},{"id":"5ee1e29d42eb0b88","type":"api-call-service","z":"e44b1e7a8ef7ae1d","name":"Adaptive Lighting On - Master Bedroom","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_master_bedroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1260,"y":300,"wires":[[]]},{"id":"323b5cf9639ca111","type":"api-current-state","z":"e44b1e7a8ef7ae1d","name":"Front Porch Toggle","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.front_porch_light_on","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":40,"wires":[["f8a4ef6134b9ace3"],[]]},{"id":"1e5d513580b02833","type":"api-call-service","z":"e44b1e7a8ef7ae1d","name":"Front Porch Light On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.front_porch_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":40,"wires":[[]]},{"id":"f8a4ef6134b9ace3","type":"delay","z":"e44b1e7a8ef7ae1d","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":770,"y":40,"wires":[["1e5d513580b02833"]]},{"id":"134433d6e21dab5b","type":"server-state-changed","z":"3abb5ae57afb4761","name":"Tony Presence","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.tony_stork","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":120,"wires":[["77857e77d43a9d2e"],["379edcf9fe985ebe"]]},{"id":"77857e77d43a9d2e","type":"api-call-service","z":"3abb5ae57afb4761","name":"Enable Texts (Tony)","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.text_notify_tony"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":100,"wires":[[]]},{"id":"379edcf9fe985ebe","type":"api-call-service","z":"3abb5ae57afb4761","name":"Disable Texts (Tony)","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.text_notify_tony"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":160,"wires":[[]]},{"id":"49dbd6d6cba1b010","type":"server-state-changed","z":"3abb5ae57afb4761","name":"Tina Presence","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.christina_stork","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":300,"wires":[["55c2f694cb9a83a2","a0c7649e26e66ddb","35d7371023527600","edaa6ff605ba6fa7"],["898659d514aa58fd"]]},{"id":"a0c7649e26e66ddb","type":"api-call-service","z":"3abb5ae57afb4761","name":"Enable Texts (Tina)","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.text_notify_tina"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":280,"wires":[[]]},{"id":"898659d514aa58fd","type":"api-call-service","z":"3abb5ae57afb4761","name":"Disable Texts (Tina)","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.text_notify_tina"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":460,"wires":[[]]},{"id":"cd4d8dd6b1d34f49","type":"server-state-changed","z":"3abb5ae57afb4761","name":"Kallen Presence","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.kallen_stork","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":560,"wires":[["5193627a30d1b32d"],["fb1afc4c2078ca29"]]},{"id":"5193627a30d1b32d","type":"api-call-service","z":"3abb5ae57afb4761","name":"Enable Texts (Kallen)","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.text_notify_kallen"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":540,"wires":[[]]},{"id":"fb1afc4c2078ca29","type":"api-call-service","z":"3abb5ae57afb4761","name":"Disable Texts (Kallen)","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.text_notify_kallen"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":600,"wires":[[]]},{"id":"bc031da28bea19f0","type":"api-call-service","z":"3abb5ae57afb4761","d":true,"name":"Notification test","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_tina","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":700,"wires":[["233eb07f37d7e1da"]]},{"id":"197aa1e52db0b929","type":"inject","z":"3abb5ae57afb4761","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Testing","payload":"TV Notifications subflow","payloadType":"str","x":190,"y":700,"wires":[["bc031da28bea19f0","92fc2a41465df4e3"]]},{"id":"233eb07f37d7e1da","type":"debug","z":"3abb5ae57afb4761","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":700,"wires":[]},{"id":"09fc95f9e6dcd11e","type":"time-range-switch","z":"3abb5ae57afb4761","name":"","lat":"41.286720","lon":"-84.362106","startTime":"15:00","endTime":"17:00","startOffset":0,"endOffset":0,"x":670,"y":220,"wires":[["9ae7e308f889137d"],[]]},{"id":"55c2f694cb9a83a2","type":"weekday","z":"3abb5ae57afb4761","name":"Work Days","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":390,"y":220,"wires":[["09fc95f9e6dcd11e"],[]]},{"id":"35d7371023527600","type":"api-call-service","z":"3abb5ae57afb4761","name":"Notify Tony","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_tony","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": \"Wife is Home\",\t    \"message\": \"Christina has arrived at home!\",\t    \"data\": {\t        \"url\": \"/lovelace/mobile-devices\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":400,"wires":[[]]},{"id":"9ae7e308f889137d","type":"wake on lan","z":"3abb5ae57afb4761","mac":"B4:2E:99:A8:CF:88","host":"192.168.1.255","udpport":9,"numpackets":3,"interval":100,"name":"Boot Tina's Computer","x":960,"y":220,"wires":[]},{"id":"edaa6ff605ba6fa7","type":"change","z":"3abb5ae57afb4761","name":"Formatting","rules":[{"t":"set","p":"payload","pt":"msg","to":"Christina has arrived at home!","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Wife is home!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":340,"wires":[["8c14794c1a67f8c8"]]},{"id":"8c14794c1a67f8c8","type":"subflow:041613a2b6a0f41f","z":"3abb5ae57afb4761","name":"","x":600,"y":340,"wires":[]},{"id":"92fc2a41465df4e3","type":"subflow:041613a2b6a0f41f","z":"3abb5ae57afb4761","name":"","x":440,"y":660,"wires":[]},{"id":"7945eab1fbfd5071","type":"server-state-changed","z":"eff21041cc941fef","name":"Basement Studio Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.basement_studio_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"basement_studio","valueType":"str"}],"x":130,"y":40,"wires":[["416fd01c5eec6406"]]},{"id":"d95d9964546768a5","type":"server-state-changed","z":"eff21041cc941fef","name":"Downstairs Bathroom Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.downstairs_bathroom_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"downstairs_bathroom","valueType":"str"}],"x":140,"y":100,"wires":[["416fd01c5eec6406"]]},{"id":"942a915b6599fb27","type":"api-call-service","z":"eff21041cc941fef","name":"Set Scene","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.{{topic}}_{{payload}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1270,"y":380,"wires":[["6ae79d1701e78840"]]},{"id":"23dafb85ab2671c9","type":"switch","z":"eff21041cc941fef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Adaptive","vt":"str"},{"t":"eq","v":"Reset","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":570,"y":300,"wires":[["3a4f567b17b2214e","84bd130dc7867a4d"],["a89c7e8905a07998"],["a4926fb1dba17563","20bf3219864a5f91"]]},{"id":"a89c7e8905a07998","type":"api-call-service","z":"eff21041cc941fef","name":"Reset","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.{{topic}}_scenes"],"data":"{\t    \"option\":\"Adaptive\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":300,"wires":[[]]},{"id":"8c4d4fe614a52d4f","type":"api-call-service","z":"eff21041cc941fef","name":"Apply Adaptive Lighting","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"adaptive_lighting","service":"apply","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1450,"y":220,"wires":[["6ae79d1701e78840"]]},{"id":"bdab41af28f2c7cd","type":"server-state-changed","z":"eff21041cc941fef","name":"Living Room Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.living_room_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"living_room","valueType":"str"}],"x":110,"y":160,"wires":[["416fd01c5eec6406"]]},{"id":"7c224927d50a5f97","type":"server-state-changed","z":"eff21041cc941fef","name":"Mud Room Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.mud_room_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"mud_room","valueType":"str"}],"x":110,"y":220,"wires":[["416fd01c5eec6406"]]},{"id":"f907328dc93d29eb","type":"server-state-changed","z":"eff21041cc941fef","name":"Upstairs Hallway Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.upstairs_hallway_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"upstairs_hallway","valueType":"str"}],"x":130,"y":280,"wires":[["416fd01c5eec6406"]]},{"id":"5e018214f6459490","type":"server-state-changed","z":"eff21041cc941fef","name":"Upstairs Bathroom Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.upstairs_bathroom_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"upstairs_bathroom","valueType":"str"}],"x":130,"y":340,"wires":[["416fd01c5eec6406"]]},{"id":"a73e5b29bdb75bdd","type":"server-state-changed","z":"eff21041cc941fef","name":"Kallen Bedroom Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.kallen_bedroom_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"kallen_bedroom","valueType":"str"}],"x":120,"y":400,"wires":[["416fd01c5eec6406"]]},{"id":"f8b18da412acaee3","type":"server-state-changed","z":"eff21041cc941fef","name":"Nursery Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.nursery_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"nursery","valueType":"str"}],"x":100,"y":460,"wires":[["416fd01c5eec6406"]]},{"id":"416fd01c5eec6406","type":"function","z":"eff21041cc941fef","name":"Remove Spaces","func":"var str = msg.payload\nmsg.payload = str.replaceAll(\" \",\"_\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":300,"wires":[["23dafb85ab2671c9"]]},{"id":"ad5783063abbb07d","type":"server-state-changed","z":"eff21041cc941fef","name":"Master Bedroom Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.master_bedroom_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"master_bedroom","valueType":"str"}],"x":130,"y":520,"wires":[["416fd01c5eec6406"]]},{"id":"a4926fb1dba17563","type":"switch","z":"eff21041cc941fef","name":"Nightlight?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Nightlight","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":380,"wires":[["c19b4dccc5d6a9af"],["f07ca0de800cbc8f"]]},{"id":"c19b4dccc5d6a9af","type":"api-call-service","z":"eff21041cc941fef","name":"Nightlight On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":360,"wires":[["942a915b6599fb27"]]},{"id":"f07ca0de800cbc8f","type":"api-call-service","z":"eff21041cc941fef","name":"Nightlight Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":420,"wires":[["942a915b6599fb27"]]},{"id":"3a4f567b17b2214e","type":"api-call-service","z":"eff21041cc941fef","name":"Nightlight Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":220,"wires":[["f41c0229b9fdcea4"]]},{"id":"f41c0229b9fdcea4","type":"api-call-service","z":"eff21041cc941fef","name":"Turn Lights On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.{{topic}}_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":220,"wires":[["970f719de254a1e7"]]},{"id":"970f719de254a1e7","type":"delay","z":"eff21041cc941fef","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1230,"y":220,"wires":[["8c4d4fe614a52d4f"]]},{"id":"97400c5ff0842570","type":"api-call-service","z":"eff21041cc941fef","name":"Adaptive Lighting On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":160,"wires":[[]]},{"id":"fcfa12a26d24a489","type":"api-call-service","z":"eff21041cc941fef","name":"Notify Basement TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"basement_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"red\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1800,"y":440,"wires":[[]]},{"id":"60924f02885cc3c8","type":"api-call-service","z":"eff21041cc941fef","name":"Notify Living Room TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"living_room_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"red\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1800,"y":320,"wires":[[]]},{"id":"ccb129e61b136746","type":"api-call-service","z":"eff21041cc941fef","name":"Notify Master Bedroom TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"master_bedroom_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"red\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1820,"y":380,"wires":[[]]},{"id":"1c03c55909a9b552","type":"switch","z":"eff21041cc941fef","name":"","property":"dest","propertyType":"msg","rules":[{"t":"eq","v":"living_room","vt":"str"},{"t":"eq","v":"master_bedroom","vt":"str"},{"t":"eq","v":"basement_studio","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1590,"y":380,"wires":[["60924f02885cc3c8"],["ccb129e61b136746"],["fcfa12a26d24a489"]]},{"id":"6ae79d1701e78840","type":"function","z":"eff21041cc941fef","name":"Format","func":"const str = msg.payload\nvar scene = str.replaceAll(\"_\",\" \")\n\nmsg.dest = msg.topic\n\nmsg.topic = \"Lights Changed\"\nmsg.payload = ('Lights changed to a new scene: ' + scene)\n\nif (msg.payload === 'Lights changed to a new scene: Reset') {\n    return null;\n} else {\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":380,"wires":[["1c03c55909a9b552"]]},{"id":"dc0972a3964e6513","type":"api-call-service","z":"eff21041cc941fef","name":"Adaptive Lighting Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":540,"wires":[[]]},{"id":"36c0a216b25f04de","type":"api-call-service","z":"eff21041cc941fef","name":"Adapt Brightness Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_adapt_brightness_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":480,"wires":[["8c1062833ceefa48"]]},{"id":"07f457d8e05ecf00","type":"api-call-service","z":"eff21041cc941fef","name":"Adapt Brightness On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_adapt_brightness_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":100,"wires":[["2eec654cd2740588"]]},{"id":"20bf3219864a5f91","type":"switch","z":"eff21041cc941fef","name":"Basement?","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"basement_studio","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":480,"wires":[["36c0a216b25f04de"],["dc0972a3964e6513"]]},{"id":"84bd130dc7867a4d","type":"switch","z":"eff21041cc941fef","name":"Basement?","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"basement_studio","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":160,"wires":[["07f457d8e05ecf00"],["97400c5ff0842570"]]},{"id":"8c1062833ceefa48","type":"switch","z":"eff21041cc941fef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Purple","vt":"str"},{"t":"eq","v":"Pink","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":480,"wires":[["bf64849d5def39c1"],["bf64849d5def39c1"]]},{"id":"2eec654cd2740588","type":"api-call-service","z":"eff21041cc941fef","name":"Adaptive Lighting On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1240,"y":100,"wires":[[]]},{"id":"bf64849d5def39c1","type":"api-call-service","z":"eff21041cc941fef","name":"Adaptive Lighting Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1460,"y":480,"wires":[[]]},{"id":"cd04bdb407311eb5","type":"ha-button","z":"b0286fae9f2ce547","name":"Start YouTube in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"137fe3f66779bb13","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":160,"y":40,"wires":[["cac7cc3111526a67"]]},{"id":"7611921cadb91b1e","type":"api-call-service","z":"b0286fae9f2ce547","name":"Dim Lights","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_dining_room"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":920,"wires":[["4a2031f363418db1"]]},{"id":"cac7cc3111526a67","type":"api-call-service","z":"b0286fae9f2ce547","name":"Start Youtube","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"com.google.android.youtube.tv\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":40,"wires":[[]]},{"id":"7d8d5376e990d357","type":"ha-button","z":"b0286fae9f2ce547","name":"Stop YouTube in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"eaeb8fcb37fa8585","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":160,"y":100,"wires":[["ab4c69753bfc36f5"]]},{"id":"3a29cecbefa6cbe2","type":"api-call-service","z":"b0286fae9f2ce547","name":"Reset Lights","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_dining_room"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":1000,"wires":[["2c9b9e4fbaa17b8a"]]},{"id":"ab4c69753bfc36f5","type":"api-call-service","z":"b0286fae9f2ce547","name":"Stop Youtube","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"!com.google.android.youtube.tv\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":100,"wires":[[]]},{"id":"b18c7a21fc449d35","type":"alexa-home","z":"b0286fae9f2ce547","conf":"c8312629c112d43a","device":"171565","acknoledge":true,"name":"Living Room Youtube","topic":"","x":140,"y":160,"wires":[["936091f71dc880b3"]]},{"id":"936091f71dc880b3","type":"switch","z":"b0286fae9f2ce547","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":160,"wires":[["cac7cc3111526a67"],["ab4c69753bfc36f5"]]},{"id":"59350a1f38e3e04a","type":"ha-button","z":"b0286fae9f2ce547","name":"Start Twitch in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"266a447bcb22dad6","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":220,"wires":[["db54e97573a07fc4"]]},{"id":"6c78852a9c604f64","type":"ha-button","z":"b0286fae9f2ce547","name":"Stop Twitch in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"73718265ac9a1389","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":280,"wires":[["77f2aae15fa1250d"]]},{"id":"abe997d5df095480","type":"alexa-home","z":"b0286fae9f2ce547","conf":"c8312629c112d43a","device":"171566","acknoledge":true,"name":"Living Room Twitch","topic":"","x":130,"y":340,"wires":[["a18b6c8c026995d6"]]},{"id":"a18b6c8c026995d6","type":"switch","z":"b0286fae9f2ce547","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":340,"wires":[["db54e97573a07fc4"],["77f2aae15fa1250d"]]},{"id":"db54e97573a07fc4","type":"api-call-service","z":"b0286fae9f2ce547","name":"Start Twitch","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"tv.twitch.android.app\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":160,"wires":[[]]},{"id":"77f2aae15fa1250d","type":"api-call-service","z":"b0286fae9f2ce547","name":"Stop Twitch","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"!tv.twitch.android.app\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":220,"wires":[[]]},{"id":"9e36b04d6063c234","type":"ha-button","z":"b0286fae9f2ce547","name":"Start Plex in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"5d20015e8a70767a","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":400,"wires":[["be5bdfc3c12b05da"]]},{"id":"7f82b9d6d835e09b","type":"ha-button","z":"b0286fae9f2ce547","name":"Stop Plex in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"c1da63449b303e84","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":460,"wires":[["728ab818393de52d"]]},{"id":"158b197a42fed757","type":"alexa-home","z":"b0286fae9f2ce547","conf":"c8312629c112d43a","device":"171567","acknoledge":true,"name":"Living Room Plex","topic":"","x":120,"y":520,"wires":[["e549712aaaceb285"]]},{"id":"e549712aaaceb285","type":"switch","z":"b0286fae9f2ce547","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":520,"wires":[["be5bdfc3c12b05da"],["728ab818393de52d"]]},{"id":"be5bdfc3c12b05da","type":"api-call-service","z":"b0286fae9f2ce547","name":"Start Plex","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"com.plexapp.android\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":280,"wires":[[]]},{"id":"728ab818393de52d","type":"api-call-service","z":"b0286fae9f2ce547","name":"Stop Plex","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"!com.plexapp.android\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":340,"wires":[[]]},{"id":"960884b0fd23e69b","type":"ha-button","z":"b0286fae9f2ce547","name":"Start Netflix in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"eb813ad296813ab2","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":580,"wires":[["0b860dc2f7db3ba0"]]},{"id":"61fdabfde220fbcc","type":"ha-button","z":"b0286fae9f2ce547","name":"Stop Netflix in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"2a115fc593b081ac","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":640,"wires":[["51d86d6064f084d2"]]},{"id":"42b706dd4afe3e42","type":"alexa-home","z":"b0286fae9f2ce547","conf":"c8312629c112d43a","device":"171568","acknoledge":true,"name":"Living Room Netflix","topic":"","x":130,"y":700,"wires":[["9a605b80513eba44"]]},{"id":"9a605b80513eba44","type":"switch","z":"b0286fae9f2ce547","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":700,"wires":[["0b860dc2f7db3ba0"],["51d86d6064f084d2"]]},{"id":"0b860dc2f7db3ba0","type":"api-call-service","z":"b0286fae9f2ce547","name":"Start Netflix","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"com.netflix.ninja\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":400,"wires":[[]]},{"id":"51d86d6064f084d2","type":"api-call-service","z":"b0286fae9f2ce547","name":"Stop Netflix","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"!com.netflix.ninja\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":460,"wires":[[]]},{"id":"4a2031f363418db1","type":"api-call-service","z":"b0286fae9f2ce547","name":"Set Scene","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.living_room_scenes"],"data":"{\t    \"option\":\"Tokyo\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":920,"wires":[[]]},{"id":"2c9b9e4fbaa17b8a","type":"api-call-service","z":"b0286fae9f2ce547","name":"Reset Scene","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.living_room_scenes"],"data":"{\t    \"option\":\"Reset\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":1000,"wires":[[]]},{"id":"984386fa0a6369d6","type":"server-state-changed","z":"b0286fae9f2ce547","name":"Living Room TV Current App","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.living_room_tv_current_app","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":160,"y":840,"wires":[["0beae13503166379"]]},{"id":"0beae13503166379","type":"function","z":"b0286fae9f2ce547","name":"","func":"if (msg.payload === \"YouTube\") {\n    msg.payload = \"start\"\n} else if (msg.payload === \"Netflix\") {\n    msg.payload = \"start\"\n} else if (msg.payload === \"Plex\") {\n    msg.payload = \"start\"\n} else if (msg.payload === \"Twitch\") {\n    msg.payload = \"start\"\n} else {\n    msg.payload = \"stop\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":840,"wires":[["bc363dcf2c3aaf3c"]]},{"id":"6c77ade442a47a30","type":"api-call-service","z":"b0286fae9f2ce547","name":"Entertainment Mode On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.living_room_entertainment_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":800,"wires":[[]]},{"id":"bc363dcf2c3aaf3c","type":"switch","z":"b0286fae9f2ce547","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":840,"wires":[["6c77ade442a47a30"],["6392f2f0586d988a"]]},{"id":"6392f2f0586d988a","type":"api-call-service","z":"b0286fae9f2ce547","name":"Entertainment Mode Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.living_room_entertainment_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":860,"wires":[[]]},{"id":"e505e9f24bf919dd","type":"server-state-changed","z":"b0286fae9f2ce547","name":"Entertainment Mode State","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.living_room_entertainment_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":960,"wires":[["c1c0d3ee514fa085"],["88580ff9416f69c7"]]},{"id":"c1c0d3ee514fa085","type":"api-current-state","z":"b0286fae9f2ce547","name":"Are Lights On?","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.living_room_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":920,"wires":[["7611921cadb91b1e"],[]]},{"id":"88580ff9416f69c7","type":"api-current-state","z":"b0286fae9f2ce547","name":"Are Lights On?","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.living_room_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":1000,"wires":[["3a29cecbefa6cbe2"],[]]},{"id":"9efd5346a1ca1972","type":"server-state-changed","z":"b0286fae9f2ce547","name":"Detect Pause","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.living_room_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":110,"y":1100,"wires":[["3596959961544947"]]},{"id":"3596959961544947","type":"switch","z":"b0286fae9f2ce547","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"eq","v":"paused","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":1100,"wires":[["9cbcdb825b0a60ad"],["40cab913b75a5507"]]},{"id":"9cbcdb825b0a60ad","type":"api-current-state","z":"b0286fae9f2ce547","name":"Check Toggle","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.living_room_entertainment_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":1060,"wires":[["c9ca600850fc6a76"],[]]},{"id":"40cab913b75a5507","type":"api-current-state","z":"b0286fae9f2ce547","name":"Check Toggle","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.living_room_entertainment_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":1120,"wires":[["a57d15aac606dfb1"],[]]},{"id":"c9ca600850fc6a76","type":"api-current-state","z":"b0286fae9f2ce547","name":"Are Lights On?","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.living_room_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":1060,"wires":[["7611921cadb91b1e"],[]]},{"id":"a57d15aac606dfb1","type":"api-current-state","z":"b0286fae9f2ce547","name":"Are Lights On?","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.living_room_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":1120,"wires":[["3a29cecbefa6cbe2"],[]]},{"id":"105271e0816c6a52","type":"ha-button","z":"5c4ac37140a54ac9","name":"Good Morning","version":0,"debugenabled":false,"outputs":1,"entityConfig":"ad5b1d9f1ea8fea1","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"}],"x":110,"y":60,"wires":[["c01d647c6091a47b","2854170262757e84"]]},{"id":"c01d647c6091a47b","type":"file in","z":"5c4ac37140a54ac9","name":"Read File","filename":"/config/files/weather_briefing_full.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":280,"y":60,"wires":[["e59180a1a6ae0a90"]]},{"id":"b83b6e027c21a133","type":"alexa-remote-routine","z":"5c4ac37140a54ac9","name":"","account":"be975ce229701797","routineNode":{"type":"node","payload":{"type":"serial","children":[{"type":"wait","payload":{"time":{"type":"num","value":"1"}}},{"type":"prompt","payload":{"type":{"type":"str","value":"goodMorning"},"devices":{"type":"msg","value":"where"}}},{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":{"type":"msg","value":"where"}}},{"type":"prompt","payload":{"type":{"type":"str","value":"traffic"},"devices":{"type":"msg","value":"where"}}},{"type":"prompt","payload":{"type":{"type":"str","value":"calendarToday"},"devices":{"type":"msg","value":"where"}}},{"type":"prompt","payload":{"type":{"type":"str","value":"calendarTomorrow"},"devices":{"type":"msg","value":"where"}}}]}},"x":660,"y":60,"wires":[[]]},{"id":"2854170262757e84","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Turn off switches","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.basement_echo_dot_do_not_disturb_switch","switch.kallen_fan_socket_1","switch.living_room_echo_dot_do_not_disturb_switch","switch.master_bedroom_echo_dot_do_not_disturb_switch","switch.master_bedroom_fan_socket_1"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":120,"wires":[["b7d9e3271e0dc2f4"]]},{"id":"bca3377ec26c9558","type":"file in","z":"5c4ac37140a54ac9","name":"Read File","filename":"/config/files/weather_briefing_full.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":300,"y":360,"wires":[["3a3545a70c76053b"]]},{"id":"c3c67a43fbc24b2c","type":"alexa-remote-routine","z":"5c4ac37140a54ac9","name":"","account":"be975ce229701797","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":{"type":"msg","value":"where"}}},"x":680,"y":360,"wires":[[]]},{"id":"6f84caa4bd59a747","type":"ha-button","z":"5c4ac37140a54ac9","name":"Weather Briefing","version":0,"debugenabled":false,"outputs":1,"entityConfig":"a8da4d03a2922c42","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"}],"x":120,"y":360,"wires":[["bca3377ec26c9558"]]},{"id":"ba97906b7b81342c","type":"ha-button","z":"5c4ac37140a54ac9","name":"Goodnight","version":0,"debugenabled":false,"outputs":1,"entityConfig":"30f1658baee9378e","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"}],"x":100,"y":180,"wires":[["f30486c8e11db0e4","d9e39b8ebb86c941","582a6e14b94a5a6d"]]},{"id":"f30486c8e11db0e4","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Sleep Mode","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_upstairs_bathroom","switch.adaptive_lighting_sleep_mode_upstairs_hallway","switch.basement_echo_dot_do_not_disturb_switch","switch.living_room_echo_dot_do_not_disturb_switch","switch.master_bedroom_echo_dot_do_not_disturb_switch"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":180,"wires":[["f84c9f54acbdafd0"]]},{"id":"f84c9f54acbdafd0","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Lights Out","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":["basement_studio","dining_room","downstairs_bathroom","furnace_room","kallen_bedroom","living_room","master_bedroom","mud_room","nursery","upstairs_hallway"],"deviceId":[],"entityId":["light.upstairs_bathroom_right","light.upstairs_bathroom_wall"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":510,"y":180,"wires":[[]]},{"id":"d9e39b8ebb86c941","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Kallen Desktop - Shutdown","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"kallen_desktop_shutdown","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":360,"y":300,"wires":[[]]},{"id":"3a3545a70c76053b","type":"subflow:a42343e035e3313c","z":"5c4ac37140a54ac9","name":"","x":480,"y":360,"wires":[["c3c67a43fbc24b2c"]]},{"id":"e59180a1a6ae0a90","type":"subflow:a42343e035e3313c","z":"5c4ac37140a54ac9","name":"","x":460,"y":60,"wires":[["b83b6e027c21a133"]]},{"id":"b7d9e3271e0dc2f4","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Turn off fans","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"fan","service":"turn_off","areaId":[],"deviceId":[],"entityId":["fan.kallen_fan_socket_1","fan.master_bedroom_air_conditioner","fan.master_bedroom_fan_socket_1"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":510,"y":120,"wires":[[]]},{"id":"582a6e14b94a5a6d","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Basement Fan Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"fan","service":"turn_off","areaId":[],"deviceId":[],"entityId":["fan.basement_fan"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":330,"y":240,"wires":[[]]},{"id":"e18616ffd95b1074","type":"amazon-echo-hub","z":"5c4ac37140a54ac9","port":"80","processinput":0,"discovery":true,"x":55,"y":420,"wires":[["932df233e423c6ed"]],"l":false},{"id":"932df233e423c6ed","type":"amazon-echo-device","z":"5c4ac37140a54ac9","name":"Virtual Scenes Light","topic":"virtual_scenes_light","x":220,"y":420,"wires":[["466b39f277505de4"]]},{"id":"f76504ca785dfba6","type":"debug","z":"5c4ac37140a54ac9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":420,"wires":[]},{"id":"466b39f277505de4","type":"function","z":"5c4ac37140a54ac9","name":"","func":"if (msg.percentage === 1) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 2) {\n    msg.topic = \"downstairs_bathroom\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 3) {\n    msg.topic = \"dining_room_lamp\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 4) {\n    msg.topic = \"mud_room\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 5) {\n    msg.topic = \"upstairs_hallway\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 6) {\n    msg.topic = \"upstairs_bathroom\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 7) {\n    msg.topic = \"master_bedroom\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 8) {\n    msg.topic = \"kallen_bedroom\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 9) {\n    msg.topic = \"nursery\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 10) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Reset\"\n} else if (msg.percentage === 11) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Bright\"\n} else if (msg.percentage === 12) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Dimmed\"\n} else if (msg.percentage === 13) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Nightlight\"\n} else if (msg.percentage === 14) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Energize\"\n} else if (msg.percentage === 15) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Concentrate\"\n} else if (msg.percentage === 16) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Savanna Sunset\"\n} else if (msg.percentage === 17) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Tropical Twilight\"\n} else if (msg.percentage === 18) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Tokyo\"\n} else if (msg.percentage === 19) {\n    msg.topic = \"living_room\",\n    msg.payload = \"Forest Adventure\"\n} else if (msg.percentage === 20) {\n    msg.topic = \"downstairs_bathroom\",\n    msg.payload = \"Bright\"\n} else if (msg.percentage === 21) {\n    msg.topic = \"downstairs_bathroom\",\n    msg.payload = \"Dimmed\"\n} else if (msg.percentage === 22) {\n    msg.topic = \"downstairs_bathroom\",\n    msg.payload = \"Nightlight\"\n} else if (msg.percentage === 23) {\n    msg.topic = \"mud_room\",\n    msg.payload = \"Bright\"\n} else if (msg.percentage === 24) {\n    msg.topic = \"mud_room\",\n    msg.payload = \"Dimmed\"\n} else if (msg.percentage === 25) {\n    msg.topic = \"mud_room\",\n    msg.payload = \"Nightlight\"\n} else if (msg.percentage === 26) {\n    msg.topic = \"upstairs_hallway\",\n    msg.payload = \"Bright\"\n} else if (msg.percentage === 27) {\n    msg.topic = \"upstairs_hallway\",\n    msg.payload = \"Dimmed\"\n} else if (msg.percentage === 28) {\n    msg.topic = \"upstairs_hallway\",\n    msg.payload = \"Nightlight\"\n} else if (msg.percentage === 29) {\n    msg.topic = \"upstairs_bathroom\",\n    msg.payload = \"Bright\"\n} else if (msg.percentage === 30) {\n    msg.topic = \"upstairs_bathroom\",\n    msg.payload = \"Dimmed\"\n} else if (msg.percentage === 31) {\n    msg.topic = \"upstairs_bathroom\",\n    msg.payload = \"Nightlight\"\n} else if (msg.percentage === 32) {\n    msg.topic = \"upstairs_bathroom\",\n    msg.payload = \"Single Nightlight\"\n} else if (msg.percentage === 33) {\n    msg.topic = \"master_bedroom\",\n    msg.payload = \"Bright\"\n} else if (msg.percentage === 34) {\n    msg.topic = \"master_bedroom\",\n    msg.payload = \"Dimmed\"\n} else if (msg.percentage === 35) {\n    msg.topic = \"master_bedroom\",\n    msg.payload = \"Nightlight\"\n} else if (msg.percentage === 36) {\n    msg.topic = \"master_bedroom\",\n    msg.payload = \"Front Nightlight\"\n} else if (msg.percentage === 37) {\n    msg.topic = \"master_bedroom\",\n    msg.payload = \"Side Nightlight\"\n} else if (msg.percentage === 38) {\n    msg.topic = \"kallen_bedroom\",\n    msg.payload = \"Bright\"\n} else if (msg.percentage === 39) {\n    msg.topic = \"kallen_bedroom\",\n    msg.payload = \"Dimmed\"\n} else if (msg.percentage === 40) {\n    msg.topic = \"kallen_bedroom\",\n    msg.payload = \"Nightlight\"\n} else if (msg.percentage === 41) {\n    msg.topic = \"nursery\",\n    msg.payload = \"Bright\"\n} else if (msg.percentage === 42) {\n    msg.topic = \"nursery\",\n    msg.payload = \"Dimmed\"\n} else if (msg.percentage === 43) {\n    msg.topic = \"nursery\",\n    msg.payload = \"Nightlight\"\n} else if (msg.percentage === 44) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Energize\"\n} else if (msg.percentage === 45) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Concentrate\"\n} else if (msg.percentage === 46) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Bright\"\n} else if (msg.percentage === 47) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Dimmed\"\n} else if (msg.percentage === 48) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Nightlight\"\n} else if (msg.percentage === 49) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Relax\"\n} else if (msg.percentage === 50) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Purple\"\n} else if (msg.percentage === 51) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Pink\"\n} else if (msg.percentage === 52) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Kallen Reading\"\n} else if (msg.percentage === 53) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Baby Is Napping\"\n} else if (msg.percentage === 54) {\n    msg.topic = \"basement_studio\",\n    msg.payload = \"Stairwell\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":420,"wires":[["442e52ed95a5fd73"]]},{"id":"442e52ed95a5fd73","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Set Scene","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.{{topic}}_scenes"],"data":"{\t    \"option\": msg.payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":420,"wires":[["f76504ca785dfba6"]]},{"id":"6a37c598ccfec0c7","type":"google-home","z":"75e98103856848a6","conf":"457914a2c9dc72c1","device":"20328","acknowledge":true,"name":"","topic":"tester of testiness","x":250,"y":240,"wires":[["ef99a4a89289098c"]]},{"id":"ef99a4a89289098c","type":"debug","z":"75e98103856848a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":240,"wires":[]},{"id":"07a2f8b7e49040f8","type":"file in","z":"75e98103856848a6","name":"Read File","filename":"/config/files/weather_briefing_full.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":480,"y":340,"wires":[["0249c367ffa0a6a1"]]},{"id":"d8d284802d3ba380","type":"ha-button","z":"75e98103856848a6","name":"Weather Briefing Google","version":0,"debugenabled":false,"outputs":1,"entityConfig":"8860321096392e94","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"},{"property":"topic","propertyType":"msg","value":"Kallen Bedroom","valueType":"str"}],"x":270,"y":340,"wires":[["07a2f8b7e49040f8"]]},{"id":"0249c367ffa0a6a1","type":"subflow:6429099c4571dd6b","z":"75e98103856848a6","name":"","x":660,"y":340,"wires":[]},{"id":"a4c477269b22f766","type":"ha-button","z":"ee67610b4a0578d2","name":"Send Button","version":0,"debugenabled":false,"outputs":1,"entityConfig":"f14ef3df2209e9a7","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"}],"x":110,"y":40,"wires":[["155b26ba197473e4"]]},{"id":"155b26ba197473e4","type":"api-current-state","z":"ee67610b4a0578d2","name":"Message","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_text.tts_message","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":40,"wires":[["3153371fe2de6f8e"]]},{"id":"3153371fe2de6f8e","type":"api-current-state","z":"ee67610b4a0578d2","name":"Destination","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.tts_devices","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":40,"wires":[["93b7bee28a7e896e"]]},{"id":"9cafa6212280b2d5","type":"ha-button","z":"ee67610b4a0578d2","name":"Reset Button","version":0,"debugenabled":false,"outputs":1,"entityConfig":"1c6757ac2fa1a199","outputProperties":[{"property":"payload","propertyType":"msg","value":"Words go here and stuff","valueType":"str"},{"property":"topic","propertyType":"msg","value":"Living Room","valueType":"str"}],"x":110,"y":100,"wires":[["5095d45c90d5304f"]]},{"id":"5095d45c90d5304f","type":"api-call-service","z":"ee67610b4a0578d2","name":"Reset Message","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.tts_message"],"data":"{\t    \"value\": msg.payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":300,"y":100,"wires":[["3ae21589dd88c080"]]},{"id":"3ae21589dd88c080","type":"api-call-service","z":"ee67610b4a0578d2","name":"Reset Devices List","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.tts_devices"],"data":"{\t    \"option\": msg.topic\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":510,"y":100,"wires":[[]]},{"id":"93b7bee28a7e896e","type":"subflow:6429099c4571dd6b","z":"ee67610b4a0578d2","name":"","x":640,"y":40,"wires":[]},{"id":"168ec95d4e3ede13","type":"debug","z":"ebd5561c4f077718","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":20,"wires":[]},{"id":"006147ec091d5b5b","type":"openweathermap","z":"ebd5561c4f077718","name":"","wtype":"current","lon":"-84.362106","lat":"41.286720","city":"","country":"","language":"en","x":330,"y":80,"wires":[["168ec95d4e3ede13","0df2896a1c68af97","70f019269f77d80d","a29c163342e47f41","e41996ccd446a3e5"]]},{"id":"c192fb2f88c4b001","type":"inject","z":"ebd5561c4f077718","name":"","props":[{"p":"payload"}],"repeat":"600","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["006147ec091d5b5b"]]},{"id":"5bf2457bc8aaceb5","type":"ha-entity","z":"ebd5561c4f077718","name":"Temperature","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Temperature"},{"property":"device_class","value":"temperature"},{"property":"icon","value":"mdi:thermometer"},{"property":"unit_of_measurement","value":"F"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"data.main.temp","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":1010,"y":80,"wires":[[]]},{"id":"c409c8384c95d3d0","type":"ha-entity","z":"ebd5561c4f077718","name":"Feels Like","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Feels Like"},{"property":"device_class","value":"temperature"},{"property":"icon","value":"mdi:thermometer"},{"property":"unit_of_measurement","value":"F"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"data.main.feels_like","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":1010,"y":140,"wires":[[]]},{"id":"a29c163342e47f41","type":"ha-entity","z":"ebd5561c4f077718","name":"Humidity","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Humidity"},{"property":"device_class","value":"humidity"},{"property":"icon","value":"mdi:water-percent"},{"property":"unit_of_measurement","value":"%"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"data.main.humidity","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":540,"y":140,"wires":[[]]},{"id":"70e0634c7735d4da","type":"ha-entity","z":"ebd5561c4f077718","name":"Barometric Pressure","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Barometric Pressure"},{"property":"device_class","value":"pressure"},{"property":"icon","value":"mdi:gauge"},{"property":"unit_of_measurement","value":"inHg"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"data.main.pressure","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":1040,"y":200,"wires":[[]]},{"id":"0df2896a1c68af97","type":"ha-entity","z":"ebd5561c4f077718","name":"Wind Direction","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Wind Direction"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:compass-rose"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"data.wind.deg","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":560,"y":200,"wires":[[]]},{"id":"21732fe83a2da45b","type":"ha-entity","z":"ebd5561c4f077718","name":"Wind Speed","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Wind Speed"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:weather-windy"},{"property":"unit_of_measurement","value":"mph"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"data.wind.speed","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":1010,"y":260,"wires":[[]]},{"id":"49b9dcacafaa5c5d","type":"ha-entity","z":"ebd5561c4f077718","name":"Wind Gust","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Wind Gust"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:weather-windy"},{"property":"unit_of_measurement","value":"mph"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"data.wind.gust","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":1010,"y":320,"wires":[[]]},{"id":"70f019269f77d80d","type":"ha-entity","z":"ebd5561c4f077718","name":"Cloud Coverage","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Cloud Coverage"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:cloud"},{"property":"unit_of_measurement","value":"%"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"data.clouds.all","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":560,"y":260,"wires":[[]]},{"id":"5d7c63526234945e","type":"api-render-template","z":"ebd5561c4f077718","name":"","server":"9e87348d.9c1c48","version":0,"template":"{{ states('sensor.current_conditions_detail') }} \n{{ states('sensor.tomorrow_forecast_detail') }} \n{{ states('sensor.clothing_forecast_detail') }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":280,"y":320,"wires":[["4eda62ff7310026d"]]},{"id":"7aaddacf84721c78","type":"inject","z":"ebd5561c4f077718","name":"","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":320,"wires":[["5d7c63526234945e"]]},{"id":"4eda62ff7310026d","type":"function","z":"ebd5561c4f077718","name":"","func":"str = msg.payload\nmsg.payload = str.replaceAll(\"possible.\",\"possible. \")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":320,"wires":[["6b5d3e550ad76528"]]},{"id":"6b5d3e550ad76528","type":"file","z":"ebd5561c4f077718","name":"","filename":"/config/files/weather_briefing_full.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":680,"y":320,"wires":[[]]},{"id":"e41996ccd446a3e5","type":"subflow:4107976aa434eb03","z":"ebd5561c4f077718","name":"","x":680,"y":80,"wires":[["5bf2457bc8aaceb5","c409c8384c95d3d0","70e0634c7735d4da","21732fe83a2da45b","49b9dcacafaa5c5d"]]},{"id":"e92f845d0b4e32ff","type":"debug","z":"789ba711dc04fad2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":390,"y":200,"wires":[]},{"id":"1031080bdf3b95bf","type":"server-state-changed","z":"789ba711dc04fad2","name":"On Twitch stream start","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.twitch_ironnerd24","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"streaming","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":80,"wires":[["cacac13b4d0c7f07","e92f845d0b4e32ff","574f6c6e7bd1b747","2c677d9d0250ba8c","47ef8ea1e6598081"],["47ef8ea1e6598081"]]},{"id":"cacac13b4d0c7f07","type":"api-call-service","z":"789ba711dc04fad2","name":"Notify Living Room TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"living_room_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": \"Stream Starting\",\t    \"message\": \"Tony has started a live stream in the studio!\",\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"red\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":20,"wires":[[]]},{"id":"574f6c6e7bd1b747","type":"api-call-service","z":"789ba711dc04fad2","name":"Notify Master Bedroom TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"master_bedroom_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": \"Stream Starting\",\t    \"message\": \"Tony has started a live stream in the studio!\",\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"red\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":80,"wires":[[]]},{"id":"2c677d9d0250ba8c","type":"api-call-service","z":"789ba711dc04fad2","name":"Notify Basement TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"basement_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": \"Stream Starting\",\t    \"message\": \"Tony has started a live stream in the studio!\",\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"red\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":140,"wires":[[]]},{"id":"47ef8ea1e6598081","type":"file","z":"789ba711dc04fad2","name":"","filename":"/config/files/twitch_output.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":460,"y":260,"wires":[[]]},{"id":"c2972c7728c99c43","type":"function","z":"ffa6a885ac41a5ed","name":"Conversions","func":"msg.payload = (msg.payload / 1024000000)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":180,"wires":[["bc09f451754ba126"]]},{"id":"bc09f451754ba126","type":"function","z":"ffa6a885ac41a5ed","name":"Rounding","func":"var readout = msg.payload\n\nmsg.payload = +readout.toFixed(2)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":180,"wires":[["6cf8f103906c1a49"]]},{"id":"fdefcd6a64aa9bca","type":"mqtt in","z":"ffa6a885ac41a5ed","name":"CPU Temp","topic":"glances/basement-server/sensors/Package_id_0/value","qos":"1","datatype":"auto","broker":"fd29421fc00140a8","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":60,"wires":[["1d09b6c6a3773d9a"]]},{"id":"1d09b6c6a3773d9a","type":"ha-entity","z":"ffa6a885ac41a5ed","name":"Basement Server - CPU Temperature","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Basement Server - CPU Temperature"},{"property":"device_class","value":"temperature"},{"property":"icon","value":"mdi:thermometer"},{"property":"unit_of_measurement","value":"C"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":350,"y":60,"wires":[[]]},{"id":"6cf8f103906c1a49","type":"ha-entity","z":"ffa6a885ac41a5ed","name":"Basement Server - Memory Used","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Basement Server - Memory Used"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:memory"},{"property":"unit_of_measurement","value":"GB"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":700,"y":180,"wires":[[]]},{"id":"da305ace22579c07","type":"mqtt in","z":"ffa6a885ac41a5ed","name":"Memory Used","topic":"glances/basement-server/mem/used","qos":"1","datatype":"auto","broker":"fd29421fc00140a8","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":180,"wires":[["c2972c7728c99c43"]]},{"id":"7ecdec08d9698a19","type":"mqtt in","z":"ffa6a885ac41a5ed","name":"CPU Usage","topic":"glances/basement-server/cpu/total","qos":"1","datatype":"auto","broker":"fd29421fc00140a8","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":120,"wires":[["9c9d7870a5204f13"]]},{"id":"9c9d7870a5204f13","type":"ha-entity","z":"ffa6a885ac41a5ed","name":"Basement Server - CPU Usage","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Basement Server - CPU Usage"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:speedometer"},{"property":"unit_of_measurement","value":"%"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":350,"y":120,"wires":[[]]},{"id":"1b5678e80095a461","type":"mqtt in","z":"ffa6a885ac41a5ed","name":"Uptime","topic":"glances/basement-server/uptime/seconds","qos":"1","datatype":"auto","broker":"fd29421fc00140a8","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":300,"wires":[["c88179f1facb8646"]]},{"id":"5248dc02bf48733e","type":"ha-entity","z":"ffa6a885ac41a5ed","name":"Basement Server - Uptime","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Basement Server - Uptime"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:timer-outline"},{"property":"unit_of_measurement","value":"hours"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":640,"y":300,"wires":[[]]},{"id":"c88179f1facb8646","type":"function","z":"ffa6a885ac41a5ed","name":"Conversions","func":"msg.payload = (msg.payload / 60) / 60\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":300,"wires":[["7af97720032b4609"]]},{"id":"7af97720032b4609","type":"function","z":"ffa6a885ac41a5ed","name":"Rounding","func":"var readout = msg.payload\n\nmsg.payload = +readout.toFixed(2)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":300,"wires":[["5248dc02bf48733e"]]},{"id":"08aadf619537949e","type":"mqtt in","z":"ffa6a885ac41a5ed","name":"Memory Usage","topic":"glances/basement-server/mem/percent","qos":"1","datatype":"auto","broker":"fd29421fc00140a8","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":240,"wires":[["d819e61c0895affe"]]},{"id":"d819e61c0895affe","type":"ha-entity","z":"ffa6a885ac41a5ed","name":"Basement Server - Memory Usage","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Basement Server - Memory Usage"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:memory"},{"property":"unit_of_measurement","value":"%"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":380,"y":240,"wires":[[]]},{"id":"a0adec284cd8162a","type":"mqtt in","z":"ffa6a885ac41a5ed","name":"Free Space - /","topic":"glances/basement-server/fs/_/free","qos":"1","datatype":"auto","broker":"fd29421fc00140a8","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":360,"wires":[["46e0046a27f4bc89"]]},{"id":"46e0046a27f4bc89","type":"function","z":"ffa6a885ac41a5ed","name":"Conversions","func":"msg.payload = (msg.payload / 1024000000)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":360,"wires":[["a6038f6bd028bd2f"]]},{"id":"a6038f6bd028bd2f","type":"function","z":"ffa6a885ac41a5ed","name":"Rounding","func":"var readout = msg.payload\n\nmsg.payload = +readout.toFixed(2)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":360,"wires":[["8006b0b34776ec34"]]},{"id":"8006b0b34776ec34","type":"ha-entity","z":"ffa6a885ac41a5ed","name":"Basement Server - Free Space Root","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Basement Server - Free Space Root"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:harddisk"},{"property":"unit_of_measurement","value":"GB"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":710,"y":360,"wires":[[]]},{"id":"b109c8db1c2cd259","type":"ha-button","z":"ffa6a885ac41a5ed","name":"Restart AppDaemon","version":0,"debugenabled":false,"outputs":1,"entityConfig":"04976a7418728aa3","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"}],"x":130,"y":420,"wires":[["75a50e8dac7af692"]]},{"id":"75a50e8dac7af692","type":"api-call-service","z":"ffa6a885ac41a5ed","name":"","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"hassio","service":"addon_restart","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"addon\":\"a0d7b954_appdaemon\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":360,"y":420,"wires":[[]]},{"id":"a2af9b2ad203862d","type":"discordMessage","z":"98dfbe2c88a56a8a","name":"","token":"fd929ec3bfbeef1a","x":180,"y":260,"wires":[["a9eaa20ceb79b6bc"]]},{"id":"a9eaa20ceb79b6bc","type":"debug","z":"98dfbe2c88a56a8a","name":"Msg Receiver","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":380,"y":260,"wires":[]},{"id":"5270459cd5fd5f67","type":"discordMessageManager","z":"98dfbe2c88a56a8a","name":"Message Manager","channel":"","token":"fd929ec3bfbeef1a","x":450,"y":400,"wires":[["5268f4482657353d"]]},{"id":"06748cbfd8fd3d3c","type":"inject","z":"98dfbe2c88a56a8a","name":"Message","props":[{"p":"payload"},{"p":"action","v":"create","vt":"str"},{"p":"channel","v":"912503253973999617","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Server is up! Jk, I don't actually work yet...but Nerd says it's up.","payloadType":"str","x":260,"y":400,"wires":[["5270459cd5fd5f67"]]},{"id":"5268f4482657353d","type":"debug","z":"98dfbe2c88a56a8a","name":"Msg Manager","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":400,"wires":[]},{"id":"9ec1f7db69d7394d","type":"debug","z":"98dfbe2c88a56a8a","name":"Steam Sensor","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":540,"wires":[]},{"id":"0f7d345a1893a1a0","type":"api-current-state","z":"98dfbe2c88a56a8a","name":"","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.steam_76561199249380296","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":540,"wires":[["9ec1f7db69d7394d"]]},{"id":"8cf2acaf6424153a","type":"inject","z":"98dfbe2c88a56a8a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":540,"wires":[["0f7d345a1893a1a0"]]},{"id":"148cfb16cf40db46","type":"debug","z":"98dfbe2c88a56a8a","name":"Steam Sensor","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":600,"wires":[]},{"id":"98d2b38a52c582ef","type":"api-current-state","z":"98dfbe2c88a56a8a","name":"","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.steam_76561198006931886","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":600,"wires":[["148cfb16cf40db46"]]},{"id":"472a5d86d9e2c21f","type":"inject","z":"98dfbe2c88a56a8a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":600,"wires":[["98d2b38a52c582ef"]]}]