node-red/flows.json
[{"id":"4a8821853d4dd1ad","type":"tab","label":"Reading Timer","disabled":false,"info":"","env":[]},{"id":"e44b1e7a8ef7ae1d","type":"tab","label":"Time-based automations","disabled":false,"info":"","env":[]},{"id":"3abb5ae57afb4761","type":"tab","label":"Presence","disabled":false,"info":"","env":[]},{"id":"eff21041cc941fef","type":"tab","label":"Scenes","disabled":false,"info":"","env":[]},{"id":"8f9ce94873785646","type":"tab","label":"Media Scenes - Living Room","disabled":false,"info":"","env":[]},{"id":"5c4ac37140a54ac9","type":"tab","label":"Alexa Working","disabled":false,"info":"","env":[]},{"id":"d6c12f235056afd6","type":"tab","label":"Alexa Testing","disabled":true,"info":"","env":[]},{"id":"ebd5561c4f077718","type":"tab","label":"Weather","disabled":false,"info":"","env":[]},{"id":"789ba711dc04fad2","type":"tab","label":"Twitch","disabled":false,"info":"","env":[]},{"id":"a42343e035e3313c","type":"subflow","name":"Alexa Location","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"1102574d15bdad4c"}]}],"out":[{"x":620,"y":80,"wires":[{"id":"afead614fabc01bb","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"4107976aa434eb03","type":"subflow","name":"Weather Conversions","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"388878f6056fa3e4"}]}],"out":[{"x":500,"y":80,"wires":[{"id":"80ce4b42b82e3c78","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"6a62fbf7b4e86589","type":"subflow","name":"Text Notifications","info":"","category":"","in":[{"x":120,"y":140,"wires":[{"id":"c2fbd42b35152df7"},{"id":"5cdbb1186b8c5137"},{"id":"5670c96aacfc9475"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"041613a2b6a0f41f","type":"subflow","name":"TV Notifications","info":"","category":"","in":[{"x":40,"y":140,"wires":[{"id":"ac2a90cbc3a881cc"},{"id":"fa19b82b8077159f"},{"id":"d46d599e70e07c4d"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"9e87348d.9c1c48","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":""},{"id":"fd29421fc00140a8","type":"mqtt-broker","name":"","broker":"192.168.1.26","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"edfeed50cef7e242","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Reading Timer Start","version":2,"haConfig":[{"property":"name","value":"Reading Timer Start"},{"property":"icon","value":"mdi:play"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"d7923c168b18954b","type":"transmission-config"},{"id":"137fe3f66779bb13","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Start YouTube in Living Room","version":2,"haConfig":[{"property":"name","value":"Start YouTube in Living Room"},{"property":"icon","value":"mdi:youtube"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"eaeb8fcb37fa8585","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Stop YouTube in Living Room","version":2,"haConfig":[{"property":"name","value":"Stop YouTube in Living Room"},{"property":"icon","value":"mdi:stop"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"c8312629c112d43a","type":"alexa-home-conf","username":"tm24fan8"},{"id":"be975ce229701797","type":"alexa-remote-account","name":"","authMethod":"proxy","proxyOwnIp":"192.168.1.26","proxyPort":"3456","cookieFile":"/config/node-red/alexa_auth","refreshInterval":"3","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com","acceptLanguage":"en-US","onKeywordInLanguage":"on","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"266a447bcb22dad6","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Start Twitch in Living Room","version":2,"haConfig":[{"property":"name","value":"Start Twitch in Living Room"},{"property":"icon","value":"mdi:twitch"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"73718265ac9a1389","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Stop Twitch in Living Room","version":2,"haConfig":[{"property":"name","value":"Stop Twitch in Living Room"},{"property":"icon","value":"mdi:stop"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"5d20015e8a70767a","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Start Plex in Living Room","version":2,"haConfig":[{"property":"name","value":"Start Plex in Living Room"},{"property":"icon","value":"mdi:plex"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"c1da63449b303e84","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Stop Plex in Living Room","version":2,"haConfig":[{"property":"name","value":"Stop Plex in Living Room"},{"property":"icon","value":"mdi:stop"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"eb813ad296813ab2","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Start Netflix in Living Room","version":2,"haConfig":[{"property":"name","value":"Start Netflix in Living Room"},{"property":"icon","value":"mdi:netflix"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"2a115fc593b081ac","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Stop Netflix in Living Room","version":2,"haConfig":[{"property":"name","value":"Stop Netflix in Living Room"},{"property":"icon","value":"mdi:stop"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"f14ef3df2209e9a7","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Send Alexa Message","version":2,"haConfig":[{"property":"name","value":"Send Alexa Message"},{"property":"icon","value":"mdi:bullhorn"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"1c6757ac2fa1a199","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Reset Alexa Message","version":2,"haConfig":[{"property":"name","value":"Reset Alexa Message"},{"property":"icon","value":"mdi:backspace-reverse"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"ad5b1d9f1ea8fea1","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Good Morning","version":2,"haConfig":[{"property":"name","value":"Good Morning"},{"property":"icon","value":"mdi:weather-sunset-up"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"a8da4d03a2922c42","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Weather Briefing","version":2,"haConfig":[{"property":"name","value":"Weather Briefing"},{"property":"icon","value":"mdi:weather-cloudy"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"30f1658baee9378e","type":"ha-entity-config","server":"9e87348d.9c1c48","name":"Goodnight","version":2,"haConfig":[{"property":"name","value":"Goodnight"},{"property":"icon","value":"mdi:weather-night"},{"property":"device_class","value":""}],"entityType":"button"},{"id":"05e66e9e1092e6ea","type":"api-current-state","z":"a42343e035e3313c","name":"Where?","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.alexa_audio","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"where","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":80,"wires":[["afead614fabc01bb"]]},{"id":"afead614fabc01bb","type":"function","z":"a42343e035e3313c","name":"","func":"if (msg.where === \"Basement Echo Dot\") {\n    msg.where = \"G090XG0894470SK6\"\n} else if (msg.where === \"Living Room Echo Dot\") {\n    msg.where = \"G6G1EV08101206J4\"\n} else if (msg.where === \"Master Bedroom Echo Dot\") {\n    msg.where = \"G6G0XG1212820GD9\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":80,"wires":[[]]},{"id":"1102574d15bdad4c","type":"delay","z":"a42343e035e3313c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":180,"y":80,"wires":[["05e66e9e1092e6ea"]]},{"id":"388878f6056fa3e4","type":"function","z":"4107976aa434eb03","name":"Conversions","func":"msg.data.main.temp = ((msg.data.main.temp - 273.15) * 1.8) + 32\nmsg.data.main.feels_like = ((msg.data.main.feels_like - 273.15) * 1.8) + 32\nmsg.data.main.temp_min = ((msg.data.main.temp_min - 273.15) * 1.8) + 32\nmsg.data.main.temp_max = ((msg.data.main.temp_max - 273.15) * 1.8) + 32\nmsg.data.main.pressure = msg.data.main.pressure * 0.029529983071445\nmsg.data.wind.speed = msg.data.wind.speed * 2.237\nmsg.data.wind.gust = msg.data.wind.gust * 2.237\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":80,"wires":[["80ce4b42b82e3c78"]]},{"id":"80ce4b42b82e3c78","type":"function","z":"4107976aa434eb03","name":"Rounding","func":"var temp = msg.data.main.temp\nvar feels_like = msg.data.main.feels_like\nvar temp_min = msg.data.main.temp_min\nvar temp_max = msg.data.main.temp_max\nvar pressure = msg.data.main.pressure\nvar windspeed = msg.data.wind.speed\nvar windgust = msg.data.wind.gust\n\nmsg.data.main.temp = +temp.toFixed(1)\nmsg.data.main.feels_like = +feels_like.toFixed(1)\nmsg.data.main.temp_min = +temp_min.toFixed(1)\nmsg.data.main.temp_max = +temp_max.toFixed(1)\nmsg.data.main.pressure = +pressure.toFixed(2)\nmsg.data.wind.speed = +windspeed.toFixed(2)\nmsg.data.wind.gust = +windgust.toFixed(2)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":80,"wires":[[]]},{"id":"5cdbb1186b8c5137","type":"api-call-service","z":"6a62fbf7b4e86589","name":"Notify Tony","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_tony","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        \"url\": \"/lovelace/weather\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":270,"y":80,"wires":[[]]},{"id":"c2fbd42b35152df7","type":"api-call-service","z":"6a62fbf7b4e86589","name":"Notify Tina","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_tina","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        \"url\": \"/lovelace/weather\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":270,"y":140,"wires":[[]]},{"id":"5670c96aacfc9475","type":"api-call-service","z":"6a62fbf7b4e86589","name":"Notify Kallen","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_kallen","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        \"url\": \"/lovelace/weather\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":270,"y":200,"wires":[[]]},{"id":"ac2a90cbc3a881cc","type":"api-call-service","z":"041613a2b6a0f41f","name":"Notify Basement TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"basement_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"indigo\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":220,"y":80,"wires":[[]]},{"id":"fa19b82b8077159f","type":"api-call-service","z":"041613a2b6a0f41f","name":"Notify Living Room TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"living_room_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"indigo\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":220,"y":140,"wires":[[]]},{"id":"d46d599e70e07c4d","type":"api-call-service","z":"041613a2b6a0f41f","name":"Notify Master Bedroom TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"master_bedroom_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"indigo\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":240,"y":200,"wires":[[]]},{"id":"cc8645ebae721601","type":"api-current-state","z":"4a8821853d4dd1ad","name":"Read time slider","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.reading_duration","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":780,"y":160,"wires":[["b2d071ca42e4a3c6"]]},{"id":"b2d071ca42e4a3c6","type":"function","z":"4a8821853d4dd1ad","name":"Convert to seconds","func":"msg.payload = msg.payload * 60\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":160,"wires":[["7fc67fc156c0f4be"]]},{"id":"7fc67fc156c0f4be","type":"api-call-service","z":"4a8821853d4dd1ad","name":"Start Timer","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"timer","service":"start","areaId":[],"deviceId":[],"entityId":["timer.reading_timer"],"data":"{    \"duration\": {{payload}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1190,"y":160,"wires":[[]]},{"id":"f24aeb9c34914db9","type":"server-state-changed","z":"4a8821853d4dd1ad","name":"Pause Switch","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.reading_timer_pause","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":250,"y":320,"wires":[["afeb1d238a623c3d"],["34dcb204b421710d"]]},{"id":"afeb1d238a623c3d","type":"api-call-service","z":"4a8821853d4dd1ad","name":"","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"timer","service":"pause","areaId":[],"deviceId":[],"entityId":["timer.reading_timer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":280,"wires":[[]]},{"id":"34dcb204b421710d","type":"api-call-service","z":"4a8821853d4dd1ad","name":"","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"timer","service":"start","areaId":[],"deviceId":[],"entityId":["timer.reading_timer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":360,"wires":[[]]},{"id":"602437ba010cc43d","type":"api-current-state","z":"4a8821853d4dd1ad","name":"Get Room","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.reading_room","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":630,"y":460,"wires":[["6ec5f287278029c5"]]},{"id":"1dc210f02bbc891d","type":"switch","z":"4a8821853d4dd1ad","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"timer.reading_timer","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":460,"wires":[["602437ba010cc43d","a3e3dc438a7b95fc"]]},{"id":"014d305040d2a8bd","type":"server-events","z":"4a8821853d4dd1ad","name":"Timer Finished","server":"9e87348d.9c1c48","version":1,"event_type":"timer.finished","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"$outputData(\"eventData\").entity_id","valueType":"jsonata"}],"x":260,"y":460,"wires":[["1dc210f02bbc891d","fe1ba086baf93ec0"]]},{"id":"923538ef97772f0c","type":"api-call-service","z":"4a8821853d4dd1ad","name":"Notification","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_kallen","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\": msg.payload,\t   \"title\": msg.topic\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":600,"wires":[[]]},{"id":"a3e3dc438a7b95fc","type":"change","z":"4a8821853d4dd1ad","name":"Finished Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"You are done reading for today!","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Reading Timer Complete","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":600,"wires":[["923538ef97772f0c"]]},{"id":"797d3e7cc53d773f","type":"ha-button","z":"4a8821853d4dd1ad","name":"Start Button","version":0,"debugenabled":false,"outputs":1,"entityConfig":"edfeed50cef7e242","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":250,"y":160,"wires":[["cb399b9e54bcf0f0"]]},{"id":"1c35034384d29828","type":"alexa-remote-routine","z":"4a8821853d4dd1ad","name":"Notify Basement","account":"be975ce229701797","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"str","value":"Reading timer completed, good job!"},"devices":["G090XG0894470SK6"]}},"x":1000,"y":520,"wires":[[]]},{"id":"eb6f1ba946a0cdf2","type":"alexa-remote-routine","z":"4a8821853d4dd1ad","name":"Notify Living Room","account":"be975ce229701797","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"str","value":"Reading timer completed, good job!"},"devices":["G6G1EV08101206J4"]}},"x":1010,"y":400,"wires":[[]]},{"id":"fe1ba086baf93ec0","type":"api-call-service","z":"4a8821853d4dd1ad","name":"Reset Slider","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.reading_duration"],"data":"{\t    \"value\":30\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":540,"wires":[[]]},{"id":"cb399b9e54bcf0f0","type":"api-current-state","z":"4a8821853d4dd1ad","name":"Get Room","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.reading_room","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":160,"wires":[["600f4c2dcc3e0c51"]]},{"id":"4d4e55cea59da9ad","type":"api-call-service","z":"4a8821853d4dd1ad","name":"Basement Lights Scene","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.basement_studio_scenes"],"data":"{\t    \"option\":\"Kallen Reading\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":100,"wires":[[]]},{"id":"600f4c2dcc3e0c51","type":"switch","z":"4a8821853d4dd1ad","name":"Routing","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Basement","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":160,"wires":[["cc8645ebae721601","4d4e55cea59da9ad"],["cc8645ebae721601"]]},{"id":"6ec5f287278029c5","type":"switch","z":"4a8821853d4dd1ad","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Living Room","vt":"str"},{"t":"eq","v":"Basement","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":460,"wires":[["eb6f1ba946a0cdf2"],["1c35034384d29828"]]},{"id":"fd4bbf481e16e6ea","type":"sunrise","z":"e44b1e7a8ef7ae1d","name":"","lat":"41.286720","lon":"-84.362106","start":"sunriseEnd","end":"sunsetStart","soff":0,"eoff":"-60","x":130,"y":180,"wires":[[],["0371f41c342134a0"]]},{"id":"0371f41c342134a0","type":"switch","z":"e44b1e7a8ef7ae1d","name":"Day or night","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":180,"wires":[["976f9624c919c07a"],["d394df04f71de37a"]]},{"id":"663856ad61059510","type":"api-current-state","z":"e44b1e7a8ef7ae1d","name":"Weather check","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"weather.iron_nerd_weather_station","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":740,"y":140,"wires":[["8808e39fba362206"]]},{"id":"e9aba9f5312297b7","type":"api-call-service","z":"e44b1e7a8ef7ae1d","name":"Turn lights on","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":["living_room","mud_room"],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1880,"y":180,"wires":[["7e26d76790c3690d","4809adc3b17655bc"]]},{"id":"8808e39fba362206","type":"switch","z":"e44b1e7a8ef7ae1d","name":"Is it nice out?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"sunny","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":140,"wires":[["f88f5b6e48e5a430"],["8a5b225968323ce6"]]},{"id":"1e365f7e5ba78955","type":"api-call-service","z":"e44b1e7a8ef7ae1d","name":"Turn off night lighting","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":["front_porch","upstairs_bathroom","upstairs_hallway"],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":240,"wires":[["8556daf4bc9df581"]]},{"id":"8556daf4bc9df581","type":"delay","z":"e44b1e7a8ef7ae1d","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":960,"y":240,"wires":[["40a4142a0f72b94a","5ee1e29d42eb0b88"]]},{"id":"40a4142a0f72b94a","type":"api-call-service","z":"e44b1e7a8ef7ae1d","name":"Night mode off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_basement_studio","switch.adaptive_lighting_sleep_mode_dining_room","switch.adaptive_lighting_sleep_mode_living_room","switch.adaptive_lighting_sleep_mode_master_bedroom","switch.adaptive_lighting_sleep_mode_mud_room","switch.adaptive_lighting_sleep_mode_upstairs_bathroom","switch.adaptive_lighting_sleep_mode_upstairs_hallway"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1160,"y":240,"wires":[[]]},{"id":"f88f5b6e48e5a430","type":"delay","z":"e44b1e7a8ef7ae1d","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1190,"y":80,"wires":[["4fcc6c68cec50467"]]},{"id":"990ab49071133125","type":"change","z":"e44b1e7a8ef7ae1d","name":"Clear Weather Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lights on after delay due to clear weather","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Sunset Lights ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":60,"wires":[["e9aba9f5312297b7"]]},{"id":"60d401148ecff1ef","type":"change","z":"e44b1e7a8ef7ae1d","name":"Cloudy Weather Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lights on early due to cloudy weather","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Sunset Lights ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":180,"wires":[["e9aba9f5312297b7"]]},{"id":"976f9624c919c07a","type":"api-current-state","z":"e44b1e7a8ef7ae1d","name":"Toggle","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.sunset_lights_on","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":140,"wires":[["663856ad61059510"],["411c0ddd868c6e9d"]]},{"id":"d394df04f71de37a","type":"api-current-state","z":"e44b1e7a8ef7ae1d","name":"Toggle","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.sunset_lights_on","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":240,"wires":[["1e365f7e5ba78955"],[]]},{"id":"4fcc6c68cec50467","type":"api-current-state","z":"e44b1e7a8ef7ae1d","name":"Is Family Home?","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1370,"y":80,"wires":[["990ab49071133125"],["411c0ddd868c6e9d"]]},{"id":"8a5b225968323ce6","type":"api-current-state","z":"e44b1e7a8ef7ae1d","name":"Is Family Home?","server":"9e87348d.9c1c48","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1370,"y":180,"wires":[["60d401148ecff1ef"],["411c0ddd868c6e9d"]]},{"id":"411c0ddd868c6e9d","type":"change","z":"e44b1e7a8ef7ae1d","name":"Skipped Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lights not on due to nobody home, or toggle shutoff","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Sunset Lights SKIPPED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1870,"y":120,"wires":[["7e26d76790c3690d","4809adc3b17655bc"]]},{"id":"7e26d76790c3690d","type":"subflow:6a62fbf7b4e86589","z":"e44b1e7a8ef7ae1d","name":"","x":2150,"y":120,"wires":[]},{"id":"4809adc3b17655bc","type":"subflow:041613a2b6a0f41f","z":"e44b1e7a8ef7ae1d","name":"","x":2140,"y":180,"wires":[]},{"id":"5ee1e29d42eb0b88","type":"api-call-service","z":"e44b1e7a8ef7ae1d","name":"Adaptive Lighting On - Master Bedroom","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_master_bedroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1240,"y":300,"wires":[[]]},{"id":"134433d6e21dab5b","type":"server-state-changed","z":"3abb5ae57afb4761","name":"Tony Presence","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.tony_stork","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":120,"wires":[["77857e77d43a9d2e"],["379edcf9fe985ebe"]]},{"id":"77857e77d43a9d2e","type":"api-call-service","z":"3abb5ae57afb4761","name":"Enable Texts (Tony)","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.text_notify_tony"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":100,"wires":[[]]},{"id":"379edcf9fe985ebe","type":"api-call-service","z":"3abb5ae57afb4761","name":"Disable Texts (Tony)","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.text_notify_tony"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":160,"wires":[[]]},{"id":"49dbd6d6cba1b010","type":"server-state-changed","z":"3abb5ae57afb4761","name":"Tina Presence","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.christina_stork","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":300,"wires":[["55c2f694cb9a83a2","a0c7649e26e66ddb","35d7371023527600","edaa6ff605ba6fa7"],["898659d514aa58fd"]]},{"id":"a0c7649e26e66ddb","type":"api-call-service","z":"3abb5ae57afb4761","name":"Enable Texts (Tina)","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.text_notify_tina"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":280,"wires":[[]]},{"id":"898659d514aa58fd","type":"api-call-service","z":"3abb5ae57afb4761","name":"Disable Texts (Tina)","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.text_notify_tina"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":460,"wires":[[]]},{"id":"cd4d8dd6b1d34f49","type":"server-state-changed","z":"3abb5ae57afb4761","name":"Kallen Presence","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.kallen_stork","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":560,"wires":[["5193627a30d1b32d"],["fb1afc4c2078ca29"]]},{"id":"5193627a30d1b32d","type":"api-call-service","z":"3abb5ae57afb4761","name":"Enable Texts (Kallen)","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.text_notify_kallen"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":540,"wires":[[]]},{"id":"fb1afc4c2078ca29","type":"api-call-service","z":"3abb5ae57afb4761","name":"Disable Texts (Kallen)","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.text_notify_kallen"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":600,"wires":[[]]},{"id":"bc031da28bea19f0","type":"api-call-service","z":"3abb5ae57afb4761","d":true,"name":"Notification test","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_tina","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":700,"wires":[["233eb07f37d7e1da"]]},{"id":"197aa1e52db0b929","type":"inject","z":"3abb5ae57afb4761","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Testing","payload":"TV Notifications subflow","payloadType":"str","x":190,"y":700,"wires":[["bc031da28bea19f0","92fc2a41465df4e3"]]},{"id":"233eb07f37d7e1da","type":"debug","z":"3abb5ae57afb4761","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":700,"wires":[]},{"id":"09fc95f9e6dcd11e","type":"time-range-switch","z":"3abb5ae57afb4761","name":"","lat":"41.286720","lon":"-84.362106","startTime":"15:00","endTime":"17:00","startOffset":0,"endOffset":0,"x":670,"y":220,"wires":[["9ae7e308f889137d"],[]]},{"id":"55c2f694cb9a83a2","type":"weekday","z":"3abb5ae57afb4761","name":"Work Days","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":390,"y":220,"wires":[["09fc95f9e6dcd11e"],[]]},{"id":"35d7371023527600","type":"api-call-service","z":"3abb5ae57afb4761","name":"Notify Tony","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"text_notify_tony","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": \"Wife is Home\",\t    \"message\": \"Christina has arrived at home!\",\t    \"data\": {\t        \"url\": \"/lovelace/mobile-devices\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":400,"wires":[[]]},{"id":"9ae7e308f889137d","type":"wake on lan","z":"3abb5ae57afb4761","mac":"B4:2E:99:A8:CF:88","host":"192.168.1.255","udpport":9,"numpackets":3,"interval":100,"name":"Boot Tina's Computer","x":960,"y":220,"wires":[]},{"id":"edaa6ff605ba6fa7","type":"change","z":"3abb5ae57afb4761","name":"Formatting","rules":[{"t":"set","p":"payload","pt":"msg","to":"Christina has arrived at home!","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Wife is home!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":340,"wires":[["8c14794c1a67f8c8"]]},{"id":"8c14794c1a67f8c8","type":"subflow:041613a2b6a0f41f","z":"3abb5ae57afb4761","name":"","x":600,"y":340,"wires":[]},{"id":"92fc2a41465df4e3","type":"subflow:041613a2b6a0f41f","z":"3abb5ae57afb4761","name":"","x":440,"y":660,"wires":[]},{"id":"7945eab1fbfd5071","type":"server-state-changed","z":"eff21041cc941fef","name":"Basement Studio Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.basement_studio_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"basement_studio","valueType":"str"}],"x":130,"y":40,"wires":[["416fd01c5eec6406"]]},{"id":"d95d9964546768a5","type":"server-state-changed","z":"eff21041cc941fef","name":"Downstairs Bathroom Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.downstairs_bathroom_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"downstairs_bathroom","valueType":"str"}],"x":140,"y":100,"wires":[["416fd01c5eec6406"]]},{"id":"942a915b6599fb27","type":"api-call-service","z":"eff21041cc941fef","name":"Set Scene","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.{{topic}}_{{payload}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1270,"y":380,"wires":[["6ae79d1701e78840"]]},{"id":"23dafb85ab2671c9","type":"switch","z":"eff21041cc941fef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Adaptive","vt":"str"},{"t":"eq","v":"Reset","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":570,"y":300,"wires":[["3a4f567b17b2214e","84bd130dc7867a4d"],["a89c7e8905a07998"],["a4926fb1dba17563","20bf3219864a5f91"]]},{"id":"a89c7e8905a07998","type":"api-call-service","z":"eff21041cc941fef","name":"Reset","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.{{topic}}_scenes"],"data":"{\t    \"option\":\"Adaptive\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":300,"wires":[[]]},{"id":"8c4d4fe614a52d4f","type":"api-call-service","z":"eff21041cc941fef","name":"Apply Adaptive Lighting","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"adaptive_lighting","service":"apply","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1450,"y":220,"wires":[["6ae79d1701e78840"]]},{"id":"bdab41af28f2c7cd","type":"server-state-changed","z":"eff21041cc941fef","name":"Living Room Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.living_room_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"living_room","valueType":"str"}],"x":110,"y":160,"wires":[["416fd01c5eec6406"]]},{"id":"7c224927d50a5f97","type":"server-state-changed","z":"eff21041cc941fef","name":"Mud Room Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.mud_room_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"mud_room","valueType":"str"}],"x":110,"y":220,"wires":[["416fd01c5eec6406"]]},{"id":"f907328dc93d29eb","type":"server-state-changed","z":"eff21041cc941fef","name":"Upstairs Hallway Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.upstairs_hallway_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"upstairs_hallway","valueType":"str"}],"x":130,"y":280,"wires":[["416fd01c5eec6406"]]},{"id":"5e018214f6459490","type":"server-state-changed","z":"eff21041cc941fef","name":"Upstairs Bathroom Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.upstairs_bathroom_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"upstairs_bathroom","valueType":"str"}],"x":130,"y":340,"wires":[["416fd01c5eec6406"]]},{"id":"a73e5b29bdb75bdd","type":"server-state-changed","z":"eff21041cc941fef","name":"Kallen Bedroom Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.kallen_bedroom_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"kallen_bedroom","valueType":"str"}],"x":120,"y":400,"wires":[["416fd01c5eec6406"]]},{"id":"f8b18da412acaee3","type":"server-state-changed","z":"eff21041cc941fef","name":"Nursery Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.nursery_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"nursery","valueType":"str"}],"x":100,"y":460,"wires":[["416fd01c5eec6406"]]},{"id":"416fd01c5eec6406","type":"function","z":"eff21041cc941fef","name":"","func":"var str = msg.payload\nmsg.payload = str.replaceAll(\" \",\"_\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":300,"wires":[["23dafb85ab2671c9"]]},{"id":"ad5783063abbb07d","type":"server-state-changed","z":"eff21041cc941fef","name":"Master Bedroom Scenes","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.master_bedroom_scenes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"master_bedroom","valueType":"str"}],"x":130,"y":520,"wires":[["416fd01c5eec6406"]]},{"id":"a4926fb1dba17563","type":"switch","z":"eff21041cc941fef","name":"Nightlight?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Nightlight","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":380,"wires":[["c19b4dccc5d6a9af"],["f07ca0de800cbc8f"]]},{"id":"c19b4dccc5d6a9af","type":"api-call-service","z":"eff21041cc941fef","name":"Nightlight On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":360,"wires":[["942a915b6599fb27"]]},{"id":"f07ca0de800cbc8f","type":"api-call-service","z":"eff21041cc941fef","name":"Nightlight Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":420,"wires":[["942a915b6599fb27"]]},{"id":"3a4f567b17b2214e","type":"api-call-service","z":"eff21041cc941fef","name":"Nightlight Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":220,"wires":[["f41c0229b9fdcea4"]]},{"id":"f41c0229b9fdcea4","type":"api-call-service","z":"eff21041cc941fef","name":"Turn Lights On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.{{topic}}_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":220,"wires":[["970f719de254a1e7"]]},{"id":"970f719de254a1e7","type":"delay","z":"eff21041cc941fef","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1230,"y":220,"wires":[["8c4d4fe614a52d4f"]]},{"id":"97400c5ff0842570","type":"api-call-service","z":"eff21041cc941fef","name":"Adaptive Lighting On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":160,"wires":[[]]},{"id":"fcfa12a26d24a489","type":"api-call-service","z":"eff21041cc941fef","name":"Notify Basement TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"basement_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"red\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1800,"y":440,"wires":[[]]},{"id":"60924f02885cc3c8","type":"api-call-service","z":"eff21041cc941fef","name":"Notify Living Room TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"living_room_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"red\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1800,"y":320,"wires":[[]]},{"id":"ccb129e61b136746","type":"api-call-service","z":"eff21041cc941fef","name":"Notify Master Bedroom TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"master_bedroom_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": msg.topic,\t    \"message\": msg.payload,\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"red\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1820,"y":380,"wires":[[]]},{"id":"1c03c55909a9b552","type":"switch","z":"eff21041cc941fef","name":"","property":"dest","propertyType":"msg","rules":[{"t":"eq","v":"living_room","vt":"str"},{"t":"eq","v":"master_bedroom","vt":"str"},{"t":"eq","v":"basement_studio","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1590,"y":380,"wires":[["60924f02885cc3c8"],["ccb129e61b136746"],["fcfa12a26d24a489"]]},{"id":"6ae79d1701e78840","type":"function","z":"eff21041cc941fef","name":"","func":"const str = msg.payload\nvar scene = str.replaceAll(\"_\",\" \")\n\nmsg.dest = msg.topic\n\nmsg.topic = \"Lights Changed\"\nmsg.payload = ('Lights changed to a new scene: ' + scene)\n\nif (msg.payload === 'Lights changed to a new scene: Reset') {\n    return null;\n} else {\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":380,"wires":[["1c03c55909a9b552"]]},{"id":"dc0972a3964e6513","type":"api-call-service","z":"eff21041cc941fef","name":"Adaptive Lighting Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":540,"wires":[[]]},{"id":"36c0a216b25f04de","type":"api-call-service","z":"eff21041cc941fef","name":"Adapt Brightness Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_adapt_brightness_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":480,"wires":[[]]},{"id":"07f457d8e05ecf00","type":"api-call-service","z":"eff21041cc941fef","name":"Adapt Brightness On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_adapt_brightness_{{topic}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":100,"wires":[[]]},{"id":"20bf3219864a5f91","type":"switch","z":"eff21041cc941fef","name":"Basement?","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"basement_studio","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":480,"wires":[["36c0a216b25f04de"],["dc0972a3964e6513"]]},{"id":"84bd130dc7867a4d","type":"switch","z":"eff21041cc941fef","name":"Basement?","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"basement_studio","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":160,"wires":[["07f457d8e05ecf00"],["97400c5ff0842570"]]},{"id":"3a42e75944804dc0","type":"ha-button","z":"8f9ce94873785646","name":"Start YouTube in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"137fe3f66779bb13","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":160,"y":40,"wires":[["ee4401110be08e53","84fa148da97c3a3e"]]},{"id":"84fa148da97c3a3e","type":"api-call-service","z":"8f9ce94873785646","name":"Dim Lights","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_dining_room","switch.adaptive_lighting_living_room"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":40,"wires":[["9f1ca716b18e5ef2"]]},{"id":"ee4401110be08e53","type":"api-call-service","z":"8f9ce94873785646","name":"Start Youtube","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"com.google.android.youtube.tv\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":160,"wires":[[]]},{"id":"e41e83291d87ebd9","type":"ha-button","z":"8f9ce94873785646","name":"Stop YouTube in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"eaeb8fcb37fa8585","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":160,"y":100,"wires":[["4d5d28f7755ea2e8","ed18c9eb2ea5e2d5"]]},{"id":"ed18c9eb2ea5e2d5","type":"api-call-service","z":"8f9ce94873785646","name":"Reset Lights","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_dining_room"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":100,"wires":[["2c945e7624b19d44"]]},{"id":"4d5d28f7755ea2e8","type":"api-call-service","z":"8f9ce94873785646","name":"Stop Youtube","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"!com.google.android.youtube.tv\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":220,"wires":[[]]},{"id":"a25da48126054271","type":"alexa-home","z":"8f9ce94873785646","conf":"c8312629c112d43a","device":"171565","acknoledge":true,"name":"Living Room Youtube","topic":"","x":140,"y":160,"wires":[["c08c03422bfc6c9c"]]},{"id":"c08c03422bfc6c9c","type":"switch","z":"8f9ce94873785646","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":160,"wires":[["ee4401110be08e53","84fa148da97c3a3e"],["4d5d28f7755ea2e8","ed18c9eb2ea5e2d5"]]},{"id":"340a1cc79cace180","type":"ha-button","z":"8f9ce94873785646","name":"Start Twitch in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"266a447bcb22dad6","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":220,"wires":[["ab5618aa4b0e2872","84fa148da97c3a3e"]]},{"id":"ca3c9fea830b6bc8","type":"ha-button","z":"8f9ce94873785646","name":"Stop Twitch in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"73718265ac9a1389","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":280,"wires":[["fe11fe9c0868a666","ed18c9eb2ea5e2d5"]]},{"id":"e0f9052193708a04","type":"alexa-home","z":"8f9ce94873785646","conf":"c8312629c112d43a","device":"171566","acknoledge":true,"name":"Living Room Twitch","topic":"","x":130,"y":340,"wires":[["e2eab7cbf314be92"]]},{"id":"e2eab7cbf314be92","type":"switch","z":"8f9ce94873785646","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":340,"wires":[["ab5618aa4b0e2872","84fa148da97c3a3e"],["fe11fe9c0868a666","ed18c9eb2ea5e2d5"]]},{"id":"ab5618aa4b0e2872","type":"api-call-service","z":"8f9ce94873785646","name":"Start Twitch","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"tv.twitch.android.app\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":280,"wires":[[]]},{"id":"fe11fe9c0868a666","type":"api-call-service","z":"8f9ce94873785646","name":"Stop Twitch","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"!tv.twitch.android.app\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":340,"wires":[[]]},{"id":"937491fbde0a346b","type":"ha-button","z":"8f9ce94873785646","name":"Start Plex in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"5d20015e8a70767a","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":400,"wires":[["c92b85f2699d8b7c","84fa148da97c3a3e"]]},{"id":"0ca8c3b9093c3765","type":"ha-button","z":"8f9ce94873785646","name":"Stop Plex in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"c1da63449b303e84","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":460,"wires":[["3666ab079941958e","ed18c9eb2ea5e2d5"]]},{"id":"2f2cc65401b8bd72","type":"alexa-home","z":"8f9ce94873785646","conf":"c8312629c112d43a","device":"171567","acknoledge":true,"name":"Living Room Plex","topic":"","x":120,"y":520,"wires":[["060b7ce38607adf1"]]},{"id":"060b7ce38607adf1","type":"switch","z":"8f9ce94873785646","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":520,"wires":[["c92b85f2699d8b7c","84fa148da97c3a3e"],["3666ab079941958e","ed18c9eb2ea5e2d5"]]},{"id":"c92b85f2699d8b7c","type":"api-call-service","z":"8f9ce94873785646","name":"Start Plex","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"com.plexapp.android\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":400,"wires":[[]]},{"id":"3666ab079941958e","type":"api-call-service","z":"8f9ce94873785646","name":"Stop Plex","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"!com.plexapp.android\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":460,"wires":[[]]},{"id":"d49b473f5b71f497","type":"ha-button","z":"8f9ce94873785646","name":"Start Netflix in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"eb813ad296813ab2","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":580,"wires":[["bfa9eb4275bc540d","84fa148da97c3a3e"]]},{"id":"0513594ea415a968","type":"ha-button","z":"8f9ce94873785646","name":"Stop Netflix in Living Room","version":0,"debugenabled":false,"outputs":1,"entityConfig":"2a115fc593b081ac","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":150,"y":640,"wires":[["3f1f9b8cca7679b8","ed18c9eb2ea5e2d5"]]},{"id":"bc29f46550c12921","type":"alexa-home","z":"8f9ce94873785646","conf":"c8312629c112d43a","device":"171568","acknoledge":true,"name":"Living Room Netflix","topic":"","x":130,"y":700,"wires":[["b903113a8c5eaa67"]]},{"id":"b903113a8c5eaa67","type":"switch","z":"8f9ce94873785646","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"true","vt":"str"},{"t":"cont","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":700,"wires":[["bfa9eb4275bc540d"],["3f1f9b8cca7679b8","ed18c9eb2ea5e2d5"]]},{"id":"bfa9eb4275bc540d","type":"api-call-service","z":"8f9ce94873785646","name":"Start Netflix","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"com.netflix.ninja\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":520,"wires":[[]]},{"id":"3f1f9b8cca7679b8","type":"api-call-service","z":"8f9ce94873785646","name":"Stop Netflix","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.living_room_tv"],"data":"{\t    \"source\":\"!com.netflix.ninja\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":580,"wires":[[]]},{"id":"9f1ca716b18e5ef2","type":"api-call-service","z":"8f9ce94873785646","name":"Set Scene","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.living_room_scenes"],"data":"{\t    \"option\":\"Tokyo\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":40,"wires":[[]]},{"id":"2c945e7624b19d44","type":"api-call-service","z":"8f9ce94873785646","name":"Reset Scene","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.living_room_scenes"],"data":"{\t    \"option\":\"Reset\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":100,"wires":[[]]},{"id":"c31899a4c71bdccd","type":"debug","z":"8f9ce94873785646","d":true,"name":"Allow","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":760,"wires":[]},{"id":"7e0fa0ab2736fd4c","type":"function","z":"8f9ce94873785646","d":true,"name":"","func":"msg.app = msg.data.new_state.attributes.app_id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":840,"wires":[["ac4c1332464a7d7a"]]},{"id":"4554315d63f55ad7","type":"server-state-changed","z":"8f9ce94873785646","d":true,"name":"TV State","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.basement_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":840,"wires":[["7e0fa0ab2736fd4c"]]},{"id":"ac4c1332464a7d7a","type":"switch","z":"8f9ce94873785646","d":true,"name":"","property":"app","propertyType":"msg","rules":[{"t":"eq","v":"com.google.android.youtube.tv","vt":"str"},{"t":"eq","v":"tv.twitch.android.app","vt":"str"},{"t":"eq","v":"com.plexapp.android","vt":"str"},{"t":"eq","v":"com.netflix.ninja","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":430,"y":840,"wires":[["c31899a4c71bdccd"],["c31899a4c71bdccd"],["c31899a4c71bdccd"],["c31899a4c71bdccd"],["33f63f6cc6e003d5"]]},{"id":"bdbadbbc4f209ab8","type":"debug","z":"8f9ce94873785646","d":true,"name":"Deny","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":840,"wires":[]},{"id":"33f63f6cc6e003d5","type":"rbe","z":"8f9ce94873785646","d":true,"name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":650,"y":840,"wires":[["bdbadbbc4f209ab8"]]},{"id":"b9248c3967301ad6","type":"ha-button","z":"5c4ac37140a54ac9","name":"Send Button","version":0,"debugenabled":false,"outputs":1,"entityConfig":"f14ef3df2209e9a7","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"}],"x":150,"y":80,"wires":[["fa001c8e9ee9c2ae"]]},{"id":"fa001c8e9ee9c2ae","type":"api-current-state","z":"5c4ac37140a54ac9","name":"Message","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_text.alexa_message","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":80,"wires":[["e42e3340b10078ba"]]},{"id":"e42e3340b10078ba","type":"api-current-state","z":"5c4ac37140a54ac9","name":"Destination","server":"9e87348d.9c1c48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.alexa_devices","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":80,"wires":[["505a2628bbb807ed"]]},{"id":"505a2628bbb807ed","type":"alexa-remote-routine","z":"5c4ac37140a54ac9","name":"","account":"be975ce229701797","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":{"type":"msg","value":"topic"}}},"x":680,"y":80,"wires":[["dc79306e3fa58934"]]},{"id":"089f330795046c24","type":"ha-button","z":"5c4ac37140a54ac9","name":"Reset Button","version":0,"debugenabled":false,"outputs":1,"entityConfig":"1c6757ac2fa1a199","outputProperties":[{"property":"payload","propertyType":"msg","value":"Words go here and stuff","valueType":"str"},{"property":"topic","propertyType":"msg","value":"Living Room Echo Dot","valueType":"str"}],"x":150,"y":140,"wires":[["e1b0ea8bddd7b20d"]]},{"id":"e1b0ea8bddd7b20d","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Reset Message","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.alexa_message"],"data":"{\t    \"value\": msg.payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":140,"wires":[["6236d9d8df0140c0"]]},{"id":"6236d9d8df0140c0","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Reset Devices List","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.alexa_devices"],"data":"{\t    \"option\":\"Living Room Echo Dot\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":140,"wires":[[]]},{"id":"105271e0816c6a52","type":"ha-button","z":"5c4ac37140a54ac9","name":"Good Morning","version":0,"debugenabled":false,"outputs":1,"entityConfig":"ad5b1d9f1ea8fea1","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"}],"x":150,"y":200,"wires":[["c01d647c6091a47b","2854170262757e84"]]},{"id":"c01d647c6091a47b","type":"file in","z":"5c4ac37140a54ac9","name":"Read File","filename":"/config/files/weather_briefing_full.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":320,"y":200,"wires":[["e59180a1a6ae0a90"]]},{"id":"b83b6e027c21a133","type":"alexa-remote-routine","z":"5c4ac37140a54ac9","name":"","account":"be975ce229701797","routineNode":{"type":"node","payload":{"type":"serial","children":[{"type":"wait","payload":{"time":{"type":"num","value":"1"}}},{"type":"prompt","payload":{"type":{"type":"str","value":"goodMorning"},"devices":{"type":"msg","value":"where"}}},{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":{"type":"msg","value":"where"}}},{"type":"prompt","payload":{"type":{"type":"str","value":"traffic"},"devices":{"type":"msg","value":"where"}}},{"type":"prompt","payload":{"type":{"type":"str","value":"calendarToday"},"devices":{"type":"msg","value":"where"}}},{"type":"prompt","payload":{"type":{"type":"str","value":"calendarTomorrow"},"devices":{"type":"msg","value":"where"}}}]}},"x":700,"y":200,"wires":[[]]},{"id":"2854170262757e84","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Turn off switches","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.basement_echo_dot_do_not_disturb_switch","switch.kallen_fan_socket_1","switch.living_room_echo_dot_do_not_disturb_switch","switch.master_bedroom_echo_dot_do_not_disturb_switch","switch.master_bedroom_fan_socket_1"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":350,"y":260,"wires":[[]]},{"id":"bca3377ec26c9558","type":"file in","z":"5c4ac37140a54ac9","name":"Read File","filename":"/config/files/weather_briefing_full.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":340,"y":500,"wires":[["3a3545a70c76053b"]]},{"id":"c3c67a43fbc24b2c","type":"alexa-remote-routine","z":"5c4ac37140a54ac9","name":"","account":"be975ce229701797","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":{"type":"msg","value":"where"}}},"x":720,"y":500,"wires":[[]]},{"id":"6f84caa4bd59a747","type":"ha-button","z":"5c4ac37140a54ac9","name":"Weather Briefing","version":0,"debugenabled":false,"outputs":1,"entityConfig":"a8da4d03a2922c42","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"}],"x":160,"y":500,"wires":[["bca3377ec26c9558"]]},{"id":"ba97906b7b81342c","type":"ha-button","z":"5c4ac37140a54ac9","name":"Goodnight","version":0,"debugenabled":false,"outputs":1,"entityConfig":"30f1658baee9378e","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"}],"x":140,"y":320,"wires":[["f30486c8e11db0e4","03a3be968237daac","d9e39b8ebb86c941"]]},{"id":"f30486c8e11db0e4","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Sleep Mode","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_upstairs_bathroom","switch.adaptive_lighting_sleep_mode_upstairs_hallway","switch.basement_echo_dot_do_not_disturb_switch","switch.living_room_echo_dot_do_not_disturb_switch","switch.master_bedroom_echo_dot_do_not_disturb_switch"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":350,"y":320,"wires":[["f84c9f54acbdafd0"]]},{"id":"f84c9f54acbdafd0","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Lights Out","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":["basement_studio","dining_room","downstairs_bathroom","furnace_room","kallen_bedroom","living_room","master_bedroom","mud_room","nursery","upstairs_hallway"],"deviceId":[],"entityId":["light.upstairs_bathroom_right","light.upstairs_bathroom_wall"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":320,"wires":[[]]},{"id":"03a3be968237daac","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Switches Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":["basement_studio"],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":350,"y":380,"wires":[[]]},{"id":"d9e39b8ebb86c941","type":"api-call-service","z":"5c4ac37140a54ac9","name":"Kallen Desktop - Shutdown","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"script","service":"kallen_desktop_shutdown","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":440,"wires":[[]]},{"id":"dc79306e3fa58934","type":"debug","z":"5c4ac37140a54ac9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":80,"wires":[]},{"id":"3a3545a70c76053b","type":"subflow:a42343e035e3313c","z":"5c4ac37140a54ac9","name":"","x":520,"y":500,"wires":[["c3c67a43fbc24b2c"]]},{"id":"e59180a1a6ae0a90","type":"subflow:a42343e035e3313c","z":"5c4ac37140a54ac9","name":"","x":500,"y":200,"wires":[["b83b6e027c21a133"]]},{"id":"67feb1830b5d5869","type":"alexa-home","z":"d6c12f235056afd6","d":true,"conf":"c8312629c112d43a","device":"171564","acknoledge":true,"name":"Studio Lights","topic":"","x":130,"y":100,"wires":[["84d1b2cebb0fc951","c80ce0beedbbf7a1"]]},{"id":"c80ce0beedbbf7a1","type":"switch","z":"d6c12f235056afd6","name":"Switchboard","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"IncrementPercentageRequest","vt":"str"},{"t":"eq","v":"DecrementPercentageRequest","vt":"str"},{"t":"eq","v":"SetColorRequest","vt":"str"},{"t":"eq","v":"SetColorTemperatureRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":350,"y":100,"wires":[["4bdbd972d71a3991"],["6b6aa0e316425564"],["75259f24833950ea"],["27081d2b9fbf7b8a"],["27081d2b9fbf7b8a"],["b05df2f951959593"],[]]},{"id":"6b6aa0e316425564","type":"api-call-service","z":"d6c12f235056afd6","name":"Turn On","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.basement_studio_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":20,"wires":[[]]},{"id":"4bdbd972d71a3991","type":"api-call-service","z":"d6c12f235056afd6","name":"Turn Off","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.basement_studio_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":20,"wires":[[]]},{"id":"75259f24833950ea","type":"api-call-service","z":"d6c12f235056afd6","name":"Set Brightness %","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.basement_studio_lights"],"data":"{\t    \"brightness_pct\": msg.payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":80,"wires":[[]]},{"id":"27081d2b9fbf7b8a","type":"api-call-service","z":"d6c12f235056afd6","name":"Up/Down Brightness %","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.basement_studio_lights"],"data":"{\t    \"brightness_step_pct\": msg.payload\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":120,"wires":[[]]},{"id":"84d1b2cebb0fc951","type":"debug","z":"d6c12f235056afd6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":200,"wires":[]},{"id":"b05df2f951959593","type":"change","z":"d6c12f235056afd6","name":"","rules":[{"t":"set","p":"hue","pt":"msg","to":"payload.hue","tot":"msg"},{"t":"set","p":"sat","pt":"msg","to":"payload.saturation","tot":"msg"},{"t":"set","p":"brt","pt":"msg","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":180,"wires":[["6d785c573c85e265"]]},{"id":"805a91b3eec2bb1c","type":"debug","z":"d6c12f235056afd6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":180,"wires":[]},{"id":"325a36508ded7cc7","type":"api-call-service","z":"d6c12f235056afd6","name":"Color","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.basement_studio_lights"],"data":"{\t    \"hs_color\": [msg.hue, msg.sat],\t    \"brightness_pct\": msg.brt\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":950,"y":180,"wires":[["805a91b3eec2bb1c"]]},{"id":"6d785c573c85e265","type":"function","z":"d6c12f235056afd6","name":"","func":"msg.brt = msg.brt * 100\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":180,"wires":[["325a36508ded7cc7"]]},{"id":"89fb0b64c1e8594a","type":"color-convert","z":"d6c12f235056afd6","input":"hsl","output":"rgb","outputType":"array","scaleInput":false,"x":430,"y":240,"wires":[[]]},{"id":"17e50a8ac95db96e","type":"comment","z":"d6c12f235056afd6","name":"","info":"Just an idea to test when we have time","x":420,"y":200,"wires":[]},{"id":"aa527f2c7973c1fd","type":"file in","z":"d6c12f235056afd6","name":"Read File","filename":"/config/weather_briefing_full.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":280,"y":380,"wires":[["e027abb730351a05"]]},{"id":"e027abb730351a05","type":"alexa-remote-routine","z":"d6c12f235056afd6","name":"","account":"be975ce229701797","routineNode":{"type":"node","payload":{"type":"serial","children":[{"type":"wait","payload":{"time":{"type":"num","value":"1"}}},{"type":"prompt","payload":{"type":{"type":"str","value":"goodMorning"},"devices":["G090XG0894470SK6"]}},{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G090XG0894470SK6"]}},{"type":"prompt","payload":{"type":{"type":"str","value":"traffic"},"devices":["G090XG0894470SK6"]}},{"type":"prompt","payload":{"type":{"type":"str","value":"calendarToday"},"devices":["G090XG0894470SK6"]}},{"type":"prompt","payload":{"type":{"type":"str","value":"calendarTomorrow"},"devices":["G090XG0894470SK6"]}}]}},"x":460,"y":380,"wires":[[]]},{"id":"13bba9d4bd651d4e","type":"inject","z":"d6c12f235056afd6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":380,"wires":[["aa527f2c7973c1fd"]]},{"id":"168ec95d4e3ede13","type":"debug","z":"ebd5561c4f077718","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":20,"wires":[]},{"id":"006147ec091d5b5b","type":"openweathermap","z":"ebd5561c4f077718","name":"","wtype":"current","lon":"-84.362106","lat":"41.286720","city":"","country":"","language":"en","x":330,"y":80,"wires":[["168ec95d4e3ede13","0df2896a1c68af97","70f019269f77d80d","a29c163342e47f41","e41996ccd446a3e5"]]},{"id":"c192fb2f88c4b001","type":"inject","z":"ebd5561c4f077718","name":"","props":[{"p":"payload"}],"repeat":"600","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["006147ec091d5b5b"]]},{"id":"5bf2457bc8aaceb5","type":"ha-entity","z":"ebd5561c4f077718","name":"Temperature","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Temperature"},{"property":"device_class","value":"temperature"},{"property":"icon","value":"mdi:thermometer"},{"property":"unit_of_measurement","value":"F"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"data.main.temp","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":1010,"y":80,"wires":[[]]},{"id":"c409c8384c95d3d0","type":"ha-entity","z":"ebd5561c4f077718","name":"Feels Like","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Feels Like"},{"property":"device_class","value":"temperature"},{"property":"icon","value":"mdi:thermometer"},{"property":"unit_of_measurement","value":"F"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"data.main.feels_like","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":1010,"y":140,"wires":[[]]},{"id":"a29c163342e47f41","type":"ha-entity","z":"ebd5561c4f077718","name":"Humidity","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Humidity"},{"property":"device_class","value":"humidity"},{"property":"icon","value":"mdi:water-percent"},{"property":"unit_of_measurement","value":"%"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"data.main.humidity","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":540,"y":140,"wires":[[]]},{"id":"70e0634c7735d4da","type":"ha-entity","z":"ebd5561c4f077718","name":"Barometric Pressure","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Barometric Pressure"},{"property":"device_class","value":"pressure"},{"property":"icon","value":"mdi:gauge"},{"property":"unit_of_measurement","value":"inHg"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"data.main.pressure","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":1040,"y":200,"wires":[[]]},{"id":"0df2896a1c68af97","type":"ha-entity","z":"ebd5561c4f077718","name":"Wind Direction","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Wind Direction"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:compass-rose"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"data.wind.deg","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":560,"y":200,"wires":[[]]},{"id":"21732fe83a2da45b","type":"ha-entity","z":"ebd5561c4f077718","name":"Wind Speed","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Wind Speed"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:weather-windy"},{"property":"unit_of_measurement","value":"mph"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"data.wind.speed","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":1010,"y":260,"wires":[[]]},{"id":"49b9dcacafaa5c5d","type":"ha-entity","z":"ebd5561c4f077718","name":"Wind Gust","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Wind Gust"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:weather-windy"},{"property":"unit_of_measurement","value":"mph"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"data.wind.gust","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":1010,"y":320,"wires":[[]]},{"id":"70f019269f77d80d","type":"ha-entity","z":"ebd5561c4f077718","name":"Cloud Coverage","server":"9e87348d.9c1c48","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Cloud Coverage"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:cloud"},{"property":"unit_of_measurement","value":"%"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"data.clouds.all","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":560,"y":260,"wires":[[]]},{"id":"5d7c63526234945e","type":"api-render-template","z":"ebd5561c4f077718","name":"","server":"9e87348d.9c1c48","version":0,"template":"{{ states('sensor.current_conditions_detail') }} \n{{ states('sensor.tomorrow_forecast_detail') }} \n{{ states('sensor.clothing_forecast_detail') }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":280,"y":320,"wires":[["4eda62ff7310026d"]]},{"id":"7aaddacf84721c78","type":"inject","z":"ebd5561c4f077718","name":"","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":320,"wires":[["5d7c63526234945e"]]},{"id":"4eda62ff7310026d","type":"function","z":"ebd5561c4f077718","name":"","func":"str = msg.payload\nmsg.payload = str.replaceAll(\"possible.\",\"possible. \")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":320,"wires":[["6b5d3e550ad76528"]]},{"id":"6b5d3e550ad76528","type":"file","z":"ebd5561c4f077718","name":"","filename":"/config/files/weather_briefing_full.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":680,"y":320,"wires":[[]]},{"id":"e41996ccd446a3e5","type":"subflow:4107976aa434eb03","z":"ebd5561c4f077718","name":"","x":680,"y":80,"wires":[["5bf2457bc8aaceb5","c409c8384c95d3d0","70e0634c7735d4da","21732fe83a2da45b","49b9dcacafaa5c5d"]]},{"id":"e92f845d0b4e32ff","type":"debug","z":"789ba711dc04fad2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":390,"y":200,"wires":[]},{"id":"1031080bdf3b95bf","type":"server-state-changed","z":"789ba711dc04fad2","name":"On Twitch stream start","server":"9e87348d.9c1c48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.twitch_ironnerd24","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"streaming","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":80,"wires":[["cacac13b4d0c7f07","e92f845d0b4e32ff","574f6c6e7bd1b747","2c677d9d0250ba8c","47ef8ea1e6598081"],["47ef8ea1e6598081"]]},{"id":"cacac13b4d0c7f07","type":"api-call-service","z":"789ba711dc04fad2","name":"Notify Living Room TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"living_room_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": \"Stream Starting\",\t    \"message\": \"Tony has started a live stream in the studio!\",\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"red\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":20,"wires":[[]]},{"id":"574f6c6e7bd1b747","type":"api-call-service","z":"789ba711dc04fad2","name":"Notify Master Bedroom TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"master_bedroom_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": \"Stream Starting\",\t    \"message\": \"Tony has started a live stream in the studio!\",\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"red\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":80,"wires":[[]]},{"id":"2c677d9d0250ba8c","type":"api-call-service","z":"789ba711dc04fad2","name":"Notify Basement TV","server":"9e87348d.9c1c48","version":5,"debugenabled":false,"domain":"notify","service":"basement_tv","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"title\": \"Stream Starting\",\t    \"message\": \"Tony has started a live stream in the studio!\",\t    \"data\": {\t        fontsize: \"large\",\t        duration: 3,\t        transparency: \"30%\",\t        color: \"red\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":140,"wires":[[]]},{"id":"47ef8ea1e6598081","type":"file","z":"789ba711dc04fad2","name":"","filename":"/config/files/twitch_output.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":460,"y":260,"wires":[[]]}]